{% load staticfiles %}
<!-- Boostrap style -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}">
<!-- REVOLUTION LAYERS STYLES -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
<!-- Theme style -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
<!-- Reponsive -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}">
<!-- 自己的sass -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/L.Icon.Pulse.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
<link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"></link>
<link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"></link>