{% load staticfiles %}
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>小資振興｜振興優惠整理</title>
<meta name="keywords" content="小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓">
<meta name="description" content="小資振興｜整理各商家優惠、振興卷常見問答、地圖找商家、免費刊登商家活動，讓大家用振興券得到最多優惠">
<meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
<meta name="author" content="康闓科技股份有限公司">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="小資振興｜最多振興優惠整理">
<meta property="og:description" content="小資振興｜整理各商家優惠、振興卷常見問答、地圖找商家、免費刊登商家活動，讓大家用振興券得到最多優惠">
<meta property="og:img" content="/media/shorticon_48.svg">
<meta property="og:site_name" content="小資振興｜最多振興優惠整理">
<meta name="google" content="notranslate" />
<meta name="robots" content="noindex,nofollow">
<link rel="shortcut icon" href="/media/shorticon_48.svg">


<!-- Boostrap style -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">
<!-- REVOLUTION LAYERS STYLES -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}?token={{ token }}">
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}?token={{ token }}">
<!-- Theme style -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">
<!-- Reponsive -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">
<!-- 自己的sass -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">
<link rel="stylesheet" href="{% static 'stylesheets/L.Icon.Pulse.css' %}?token={{ token }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css?token={{ token }}"/>
<link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css?token={{ token }}"></link>
<link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css?token={{ token }}"></link>