{% load staticfiles %}
<!-- Boostrap style -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}">
<!-- REVOLUTION LAYERS STYLES -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
<!-- Theme style -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
<!-- Reponsive -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}">
<!-- 自己的sass -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">