{% load staticfiles %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <div class="widget widget-about">
          <div class="logo-ft">
            <a href="#" title="">
              <a href="/" title="">
                <svg width="170" height="38">
                  <image xlink:href="/media/logo-black.svg" width="170" height="38"/>
                </svg>
              </a>
            </a>
          </div>
          <p>
            讓大家用振興券得到最多的優惠：）
          </p>
        </div><!-- /.widget-about -->
      </div><!-- /.col-md-3 -->
<!--      <div class="col-md-3">-->
<!--        <div class="widget widget-categories">-->
<!--          <h3 class="widget-title">所有頁面</h3>-->
<!--          <ul class="one-half">-->
<!--            <li>-->
<!--              <a href="/contact/" title="">聯絡我們</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <div class="clearfix"></div>-->
<!--        </div>&lt;!&ndash; /.widget-categories &ndash;&gt;
      </div>--><!-- /.col-md-3 -->
<!--      <div class="col-md-3">-->
<!--        <div class="widget widget-contact">-->
<!--          <h3 class="widget-title">聯絡我們</h3>-->
<!--          <ul class="contact-infomation">-->
<!--            <li class="address">-->
<!--              高雄市前金區中正四路-->
<!--            </li>-->
<!--            <li class="phone">-->
<!--              07 - 2855820 分機 915-->
<!--            </li>-->
<!--            <li class="email">-->
<!--              conquer@conquers.co-->
<!--            <li class="line@">-->
<!--              410vpbla-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>&lt;!&ndash; /.widget-contact &ndash;&gt;
      </div>--><!-- /.col-md-3 -->
<!--      <div class="col-md-3">-->
<!--        <div class="widget widget-map">-->
<!--          <img src="{% static "images/page/bg-ft.png" %}" alt="">-->
<!--        </div>&lt;!&ndash; /.widget-map &ndash;&gt;-->
<!--      </div>&lt;!&ndash; /.col-md-3 &ndash;&gt;-->
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /footer -->

<div class="footer-bottom">
  <div class="copyright">
    © 2020 Copyright by ConquerTech. All rights reserved.
  </div><!-- /.copyright -->
  <div class="item">
    <img src="/media/icon-footer-phone.svg" alt="">
      07-2855820 分機 915
  </div>
  <div class="item">
    <img src="/media/icon-footer-line.svg" alt="">
      410vpbla
  </div>
  <div class="item">
    <img src="/media/icon-footer-mail.svg" alt="">
      conquer@conquers.co
  </div>
  <div class="item">
    <a href="">
      聯絡我們
      <img src="/media/arrow_red.svg" alt="">
    </a>
  </div>
  <!--<div class="container">
    <div class="row">
      <div class="col-md-12">
        隱藏社群連結
                    <ul class="social-ft">
                        <li>
                            <a href="#" title="">
                                <i class="ti-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="ti-twitter-alt" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="ti-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="ti-google" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="ti-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>隱藏社群連結 --><!-- /.social-ft

      </div> /.col-md-12
    </div>--><!-- /.row
  </div>--><!-- /.container -->
</div><!-- /.footer-bottom -->

<div class="button-go-top">
  <a href="#" title="" class="go-top">
    <i class="fa fa-chevron-up"></i>
  </a><!-- /.go-top -->
</div><!-- /.button-go-top -->

<div class="button-go-top">
  <a href="#" title="" class="go-top">
    <i class="fa fa-chevron-up"></i>
  </a><!-- /.go-top -->
</div><!-- /.button-go-top -->
