{% load static %}
{% load user_agents %}
<div id="div-tam-ad-Z1594276438493jb" style="width: 100%"></div>

<div id="footer-ad" class="footer-ad"></div>
<script type="text/javascript" language="javascript">
  var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
  if (isMobile) {
    adLoad2('Z1594276438493jb', '', 'div-tam-ad-Z1594276438493jb', true, 0, callback, 1);
  }


  function callback(status) {
    console.log('%c[TAMedia]%c Callback status : ' + status, 'background:#DDDDDD;color:#FF5511;', 'background:#DDDDDD;color:#000000;');
  }
</script>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <div class="widget widget-about">
          <div class="logo-ft">
            <a href="#" title="">
              <a href="/" title="">
                <svg width="170" height="38">
                  <image xlink:href="/media/logo-black.svg" width="170" height="38"/>
                </svg>
              </a>
            </a>
          </div>
          <p>
            讓大家用振興券得到最多的優惠：）
          </p>
        </div><!-- /.widget-about -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /footer -->

<div class="footer-bottom">
    <div class="item">
    <a href="http://conquers.co/" target="_blank" class="conquers">
        © 2020 康闓科技 <span class="conquers_logo"></span>
    </a>
  </div>
  <div class="item">
    <a href="https://lin.ee/xRRVHWJ" target="_blank">
      <img src="/media/icon-footer-map.svg" alt="">
      高雄市前金區中正四路 148 號
    </a>
  </div>
  <div class="item">
    <a href="https://lin.ee/xRRVHWJ" target="_blank">
      <img src="/media/icon-footer-phone.svg" alt="">
      07-2855820 #915
    </a>
  </div>
  <div class="item">
    <a href="https://lin.ee/xRRVHWJ" target="_blank">
      <img src="/media/icon-footer-line.svg" alt="">
      @897lzgaa
    </a>
  </div>
<!--  <div class="item">-->
<!--    <a href="mailto:3coupontw@gmail.com">-->
<!--      <img src="/media/icon-footer-mail.svg" alt="">-->
<!--      3coupontw@gmail.com-->
<!--    </a>-->
<!--  </div>-->
  <div class="item">
    <a class="link-contact" href="/contact/">
      聯絡我們
      <img src="/media/arrow_red.svg" alt="">
    </a>
  </div>
</div><!-- /.footer-bottom -->

<div class="button-go-top">
  <a href="#" title="" class="go-top">
    <i class="fa fa-chevron-up"></i>
  </a><!-- /.go-top -->
</div><!-- /.button-go-top -->

<div class="button-go-top">
  <a href="#" title="" class="go-top">
    <i class="fa fa-chevron-up"></i>
  </a><!-- /.go-top -->
</div><!-- /.button-go-top -->