{% load staticfiles %}
{#<script data-ad-client="ca-pub-4291784641323785" async#}
{#        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <a href="/" title="">
              小 資 振 興
            </a>
          </div><!-- /.logo -->
          <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <a href="/eli5/" title="">懶人包</a>
                </li>
                <li>
                  <a href="/store/" title="">加碼商家</a>
                </li>
                <li>
                  <a href="/store_map/" title="">地圖找商家</a>
                </li>
                <li>
                  <a href="/qa/" title="">常見問題</a>
                </li>
                <li>
                  <a href="/store/create/" title="">免費刊登商家活動</a>
                </li>
              </ul>
            </nav><!-- /.mainnav -->
            <!-- 隱藏按鈕
                            <div class="button-header">
                                <a href="http://corpthemes.com/html/dailist/register.html" title=""><i class="ti-plus"></i>免費刊登商家加碼活動</a>
                            </div>
                            -->
            <!-- 這個搜尋框請幫改 -->
            <div class="show-search">
              <button><span class="ti-search"></span></button>
              <div class="submenu top-search search-header">
                <form role="search" method="get" class="search-form" action="/store/">
                  <label>
                    <input type="search" class="search-field" placeholder="Search …" value="" name="search">
                  </label>
                  <button class="search-submit-form" title="Search now"><i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
            <!-- /.show-search -->
            <div class="btn-menu">
              <span></span>
            </div><!-- //mobile menu button -->
          </div><!-- /.nav-wrap -->
        </div><!-- /.header-wrap -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div><!-- /.header -->