{% load staticfiles %}
<!-- Javascript -->
<script type="text/javascript" src="{% static 'javascript/jquery.min.js' %}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/easing.js' %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
<script type="text/javascript" src="{% static 'javascript/gmap3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>