{% load static %}
<section class="page-title style1 parallax parallax1 parallax-200 parallax-search">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-box-search style1">
          <form method="get" accept-charset="utf-8" id="search-form" action="/store/">
            <input type="hidden" name="county" value="{{ county }}">
            <span class="search-span">
                  <span class="ti-location-pin"></span>
									<input type="text" placeholder="輸入行政區、地址、商家名或活動找優惠" name="search"
                         value="{{ search }}"
                  >
                  <a href="javascript:void(0);" id="position" class="search-pin-load">
                    <svg width="20" height="20">
                      <image xlink:href="/media/search-bar-arget.svg" width="20" height="20"></image>
                    </svg>
                  </a>
                  <a href="" class="search-pin-load">
                    <div></div>
                  </a>
								</span>
            <span class="categories">
                  <span class="ti-angle-down"></span>
									<select name="store_type" placeholder="所有商家種類" value="store_type">
                    {% for el in storetypes %}
                      <option value="{{ el.id }}">{{ el.name }}</option>
                    {% endfor %}
									</select>
								</span>
            <button type="button" class="search-btn" id="search-btn">搜尋</button>
            <div class="clear"></div>
          </form><!-- /form -->
        </div><!-- /.wrap-box-search -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section>