{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}

  <!-- Mobile Specific Metas -->

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">



</head>
<body>

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Find the Plan That’s Right for You
        </div>
        <ul class="breadcrumbs">
          <li>
            <a href="index.html" title="">Home</a>
            <span class="arrow_right"></span>
          </li>
          <li>
            Pages
          </li>
        </ul>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->

<section class="flat-row flat-error-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-error center">
          <div class="img-error">
            <img src="{% static "images/page/error.png" %}" alt="">
          </div>
          <div class="info-error">
            <div class="error-title">
              Opps! This page Could Not Be Found!
            </div>
            <div class="sub-error">
              Sorry bit the page you are looking for does not exist, have been removed or name changed
            </div>
          </div>
          <div class="btn-more">
            <a href="index.html" title="">Go to homepage</a>
          </div>
        </div><!-- /.wrap-error -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-error-page -->


{% include 'includes/footer.html' %}

<!-- Javascript -->
<script type="text/javascript" src="{% static 'javascript/jquery.min.js' %}?token={{ token }}"></script>
<script type="text/javascript" src="{% static 'javascript/bootstrap.min.js' %}?token={{ token }}"></script>
<script type="text/javascript" src="{% static 'javascript/easing.js' %}?token={{ token }}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB?token={{ token }}"></script>
<script type="text/javascript" src="{% static 'javascript/gmap3.min.js' %}?token={{ token }}"></script>
<script type="text/javascript" src="{% static 'javascript/parallax.js' %}?token={{ token }}"></script>
<script type="text/javascript" src="{% static 'javascript/owl.carousel.js' %}?token={{ token }}"></script>
<script type="text/javascript" src="{% static 'javascript/main.js' %}?token={{ token }}"></script>


</body>
</html>