{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 終極懶人包 - 三倍券、各縣市加碼活動一次搞懂！</title>
  <meta name="keywords"
        content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,藝FUN券,藝FUN卷,農遊券,農遊卷,安心旅遊補助,安心旅遊,縣市補助,浪漫客庄遊,運動抵用卷,運動抵用券,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta property="og:description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">
  <meta property="og:img" content="https://3coupon.info/media/og_img_2.jpg">
  <meta property="og:site_name" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta name="robots" content="index,follow">


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->


<section class="flat-row main-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article class="post-single">
          <div class="featured-post">
            <img src="/media/南投縣.jpg" alt="">
          </div><!-- /.featured-post -->
          <div class="entry-post">
            <div class="entry-header">
              <h2 class="entry-title">文章名稱文章名稱</h2>
              <ul class="entry-meta-post">
                <li class="date"><a href="">2020 / 7 /6</a></li>
                <div class="clear"></div>
              </ul>
              <ul class="social-ft">
                <li>
                  <a class="share-fb share-to" data-sns="facebook" href="#" title="">
                    <img src="/media/share_fb.svg" alt="">
                  </a>
                </li>
                <li>
                  <a class="share-line share-to" href="#" title="" data-sns="line">
                    <img src="/media/share_line.svg" alt="">
                  </a>
                </li>
                <li>
                  <a class="share-url" href="#" title=""
                     data-url="/store/{{ instance.id }}/"
                     data-name="{{ instance.name }}"
                  >
                    <img src="/media/share_url.svg" alt="">
                  </a>
                </li>
              </ul>
            </div><!-- /.entry-header -->
            <div class="entry-content">
              <div class="paragraph">
                <p class="title">
                  小標題小標題
                </p>
                <p>
                  內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容<a
                  href="">連結連結</a>內容內容內容內容內容內容
                </p>
              </div>
              <div class="paragraph">
                <p class="title_num">
                  <span class="num">1</span>
                  <span>小標題小標題</span>
                </p>
                <p>
                  stadiums. I handle logistics that involve music or entertainment. Months before an event, I start
                  working with our partners around the country, such as adult coed sports leagues. We have volunteers,
                  fans who get a free ticket for helping us set up, and I also run that program. A big part of my job
                  involves designing the creative elements, such as the signage for the sites, logo designs for new
                  concepts, and print and banner ads.
                </p>
                <ul>
                  <li>
                    內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容
                  </li>
                  <li>
                    內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容
                  </li>
                </ul>
              </div>
              <div class="paragraph">
                <p class="title_num">
                  <span class="num">2</span>
                  <span>小標題小標題小標題</span>
                </p>
                <p>
                  I signed up for Remote Year and began traveling. The program required that I be able to perform my job
                  while away. I also
                  had to put down a $5,000 deposit and pay $2,000 a month for transportation and housing. My boss gave
                  me permission, and I left in August. Country stops and side trips have included Thailand, Cambodia,
                  Croatia, the Czech Republic, Portugal, Bali, Italy, Germany and Switzerland. My last stop is
                  Argentina.
                </p>
              </div>
              <div class="paragraph">
                <p class="title_num">
                  <span class="num">3</span>
                  <span>小標題小標題小</span>
                </p>
                <p>
                  I like to sightsee in the morning and work in the afternoon, when I overlap with East Coast time for a
                  few hours. My team
                  in New York has been great; I’ve only been on calls with them at 3 a.m. three times.
                </p>
              </div>
              <div class="paragraph">
                <p class="title_num">
                  <span class="num">4</span>
                  <span>小標題小標題小標小標題</span>
                </p>
                <p>
                  I think I’ll be more open to things, and I won’t sweat the small stuff anymore. When you travel, you
                  need to be extremely
                  flexible and comfortable with last-minute changes. If you run into a problem, it requires you to think
                  about other solutions and open your mind.
                </p>
              </div>
            </div><!-- /.entry-content -->
          </div><!-- /.entry-post -->
        </article><!-- /.post-single -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-subscibe -->

{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>