{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	{% include 'includes/meta.html' %}
	<title>小資振興 | 終極懶人包 - 三倍券、各縣市加碼活動一次搞懂！</title>
	<meta name="keywords" content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,藝FUN券,藝FUN卷,農遊券,農遊卷,安心旅遊補助,安心旅遊,縣市補助,浪漫客庄遊,運動抵用卷,運動抵用券,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助">
	<meta name="description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">
    <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
    <meta name="author" content="康闓科技股份有限公司">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://3coupon.info/">
	<meta property="og:title" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
	<meta property="og:description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">
	<meta property="og:img" content="https://3coupon.info/media/og_img_2.jpg">
	<meta property="og:site_name" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
	<meta name="robots" content="index,follow">


	<!-- Boostrap style -->
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

	<!-- Theme style -->
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

	<!-- Reponsive -->
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>
<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			xfbml            : true,
			version          : 'v7.0'
		});
	};

	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
		 attribution=setup_tool
		 page_id="100357275080787"
		 theme_color="#ff7e29"
		 logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
		 logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-title-heading">
					部落格
				</div>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
	<!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

		<section class="flat-row flat-main-blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/臺北市.jpg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											Working While Traveling 
											Around the World Around the World
										</a>
									</h2>
								</div>
								<p>
									Combining wanderlust and a steady job can be done for a year, with planning, permission and at a cost, permission and at a cost
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/eli5_800_1.svg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											For Summer,<br />
											Five Hot Destinations
										</a>
									</h2>
								</div>
								<p>
									Americans will likely travel more this summer than last, with Croatia, South Africa and Greece among the popular destinations.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/景點_安平古堡.jpg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											Five Places to Go in 
											Downtown Albuquerque
										</a>
									</h2>
								</div>
								<p>
									Residents and in-the-know visitors to New Mexico’s largest city head to a once-derelict district that.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/景點照片_金城武樹.jpg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											24 Hours in Indianapolis
										</a>
									</h2>
								</div>
								<p>
									There is more to Indiana’s capital city than the Memorial Day weekend whirlwind known as the Indy 500.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
				</div><!-- /.row -->
				<div class="height50"></div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/澎湖縣.jpg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											Working While Traveling 
											Around the World
										</a>
									</h2>
								</div>
								<p>
									Combining wanderlust and a steady job can be done for a year, with planning, permission and at a cost
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/景點照片_劍湖山.jpg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											For Summer,<br />
											Five Hot Destinations
										</a>
									</h2>
								</div>
								<p>
									Americans will likely travel more this summer than last, with Croatia, South Africa and Greece among the popular destinations.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/花蓮縣.jpg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											Five Places to Go in 
											Downtown Albuquerque
										</a>
									</h2>
								</div>
								<p>
									Residents and in-the-know visitors to New Mexico’s largest city head to a once-derelict district that.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/park_replace.svg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											24 Hours in Indianapolis
										</a>
									</h2>
								</div>
								<p>
									There is more to Indiana’s capital city than the Memorial Day weekend whirlwind known as the Indy 500.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
				</div><!-- /.row -->
				<div class="height50"></div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/eli5_sport_3.svg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											Working While Traveling 
											Around the World
										</a>
									</h2>
								</div>
								<p>
									Combining wanderlust and a steady job can be done for a year, with planning, permission and at a cost
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/night-mark_replace.svg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											For Summer,<br />
											Five Hot Destinations
										</a>
									</h2>
								</div>
								<p>
									Americans will likely travel more this summer than last, with Croatia, South Africa and Greece among the popular destinations.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/南投縣.jpg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											Five Places to Go in 
											Downtown Albuquerque
										</a>
									</h2>
								</div>
								<p>
									Residents and in-the-know visitors to New Mexico’s largest city head to a once-derelict district that.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<a href="blog-single/" class="link"></a>
							<div class="featured-post">
								<a href="blog-single/" title="">
									<img src="/media/shopping-bag_replace.svg" alt="">
									<span>查看詳情</span>
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<h2 class="entry-title">
										<a href="blog-single/" title="">
											24 Hours in Indianapolis
										</a>
									</h2>
								</div>
								<p>
									There is more to Indiana’s capital city than the Memorial Day weekend whirlwind known as the Indy 500.
								</p>
								<ul class="entry-meta">
									<li class="date">
										<a href="blog-single/" title="">2020 / 7 /6</a>
									</li>
									<div class="clear"></div>
								</ul>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-main-blog -->

{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

	</body>
</html>