{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Contact - Dailist</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {% include 'includes/css.html' %}

  <!-- Favicon -->
  <link href="images/icon/icon.png" rel="shortcut icon">

</head>
<body>

<!-- Preloader -->
<div class="preloader">
  <div class="clear-loading loading-effect-2">
    <span></span>
  </div>
</div><!-- /.preloader -->

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          聯絡我們
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
<!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-iconbox style2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
<!--                <img src="{% static "images/page/address.png" %}" alt="">-->
                <img src="/media/contact_line.svg" alt="">
              </div>
            </div><!-- /.box-header -->
            <div class="box-content">
              <div class="box-desc">
                <p>
                  <a href="https://line.me/R/ti/p/%40410vpbla">LINE 好友: 410bvpla</a>
                </p>
              </div>
            </div><!-- /.box-content -->
          </div><!-- /.iconbox style2 -->
        </div><!-- /.iconbox-item -->
      </div><!-- /.col-md-4 -->
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
<!--                <img src="{% static "images/page/email.png" %}" alt="">-->
                <img src="/media/contact_mail.svg" alt="">
              </div>
            </div><!-- /.box-header -->
            <div class="box-content">
              <div class="box-desc">
                <p>
                  <a href="mailto:3CP@conquers.co">3CP@conquers.co</a>
                </p>
                <p>
                  <a href="mailto:service@conquers.co">service@conquers.co</a>
                </p>
              </div>
            </div><!-- /.box-content -->
          </div><!-- /.iconbox style2 -->
        </div><!-- /.iconbox-item -->
      </div><!-- /.col-md-4 -->
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
<!--                <img src="{% static "images/page/phone.png" %}" alt="">-->
                <img src="/media/contact_phone.svg" alt="">
              </div>
            </div><!-- /.box-header -->
            <div class="box-content">
              <div class="box-desc">
                <p>
                  <a href="tel:07-2855820">07 - 285 5820 分機 9</a>
                </p>
                <p>
                  <a href="tel:07-2855820">07 - 285 5820 分機 915</a>
                </p>
              </div>
            </div><!-- /.box-content -->
          </div><!-- /.iconbox style2 -->
        </div><!-- /.iconbox-item -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-iconbox style2 -->

<section class="flat-contact">
  <div class="container contact-form parallax fill-width">
    <div class="contact-us row">
      <div class="col-md-12">
        <h3>聯絡我們</h3>
        <form method="get" accept-charset="utf-8" class="contact-form-self">
          <div class="wrap-contact name">
            <input type="text" class="your-name" placeholder="請輸入姓名" name="name">
          </div>
          <div class="wrap-contact email">
            <input type="email" class="your-email" placeholder="請輸入電子信箱" name="email">
          </div>
          <div class="wrap-contact name">
            <input type="text" class="your-name" placeholder="請輸入電話" name="phone">
          </div>
          <div class="wrap-contact email relative">
            <span class="ti-angle-down select-arrow"></span>
            <select name="contact_type" class="contact-select-border">
              <option value="操作問題">操作問題</option>
              <option value="回報錯誤">回報錯誤</option>
              <option value="商業合作">商業合作</option>
              <option value="首頁廣告">首頁廣告</option>
              <option value="意見回饋">意見回饋</option>
              <option value="其他">其他</option>
            </select>
          </div>
          <div class="wrap-contact message">
            <textarea class="content" name="content" placeholder="請輸入詳細敘述，如合作、問題、報錯內容"></textarea>
          </div>
          <div class="btn-more contact-btn">
            <a href="javascript:void(0);">送出表單</a>
          </div>
        </form>
      </div>
    </div><!-- /.contact-us -->
<!--    <div class="overlay"></div>-->
  </div><!-- /.contact-form -->
  <div class="clearfix"></div>
</section><!-- /.flat-contact -->


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>