{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>懶人包 | 小資振興</title>
  <meta name="keywords"
        content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description"
        content="政府各單位推出各式各樣的振興券，希望振興經濟、鼓勵民眾出門消費，像三倍券、安心旅遊補助、藝fun券、農遊券，這麼多種振興券，到底怎麼領？怎麼用？哪裡用？小資振興幫大家整理懶人包一次看得清楚">
  <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
  <meta name="author" content="康闓科技股份有限公司">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="懶人包 | 小資振興">
  <meta property="og:description"
        content="政府各單位推出各式各樣的振興券，希望振興經濟、鼓勵民眾出門消費，像三倍券、安心旅遊補助、藝fun券、農遊券，這麼多種振興券，到底怎麼領？怎麼用？哪裡用？小資振興幫大家整理懶人包一次看得清楚">
  <meta property="og:img" content="">
  <meta property="og:site_name" content="小資振興｜最多三倍券優惠整理">
  <meta name="google" content="notranslate"/>


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          懶人包
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="/eli5/treble/">3000元 振興三倍券</a>
          <a class="tab active" href="/eli5/voucher">800元 振興抵用券</a>
          <a class="tab" href="/eli5/fun/">600元 藝FUN券</a>
          <a class="tab" href="/eli5/farming/">250元 農遊券</a>
          <a class="tab" href="/eli5/tour/">安心旅遊補助</a>
          <a class="tab" href="/eli5/county/">各縣市補助</a>
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興抵用券是什麼？</h3>
            <span>What</span>
          </div>
          <div class="introduce-content">
            <p>因應新冠肺炎疫情，客家委員會配合行政院相關振興方案，加碼推出『 369浪漫客庄產業振興專案 』，將透過數位科技平臺發放每人 800 元電子旅遊券，鼓勵國民在疫情緩和後，前往全臺 70 個客家文化重點發展區之優良餐廳、民宿、商店 ( 不含電商、百貨公司、量販店及全國性連鎖商店 ) 等指定店消費，提升在地消費動能，促進客庄產業發展。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_hakka_tour_1.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>使用期限</h3>
            <span>When</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">開始時間</span>：2020/7/15 起，透過數位科技平台發放。</p>
            </div>
            <div class="para">
              <p><span class="highlight">使用期限</span>：使用期限至 2020/12/31 止。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_hakka_tour_2.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>發放對象</h3>
            <span>Who</span>
          </div>
          <div class="introduce-content">
            於國內現有戶籍之國民，凡具有手機且有意願至客庄旅遊者。
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_hakka_tour_3.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>如何領取與使用</h3>
            <span>How</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">領取</span>：透過專屬 APP、網頁登錄個人身分證字號與手機號碼取得專屬連結，獲得 8 張 100 元電子票券。</p>
            </div>
            <div class="para">
              <p><span class="highlight">使用</span>：於民眾消費時打開系統掃描電子票券，即完成結帳。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_hakka_tour_4.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>哪裡可用</h3>
            <span>Where</span>
          </div>
          <div class="introduce-content">
            全臺 11 個縣市 70 個客家文化重點發展區內，張貼客語友善店家標章之餐飲、伴手禮等零售商店及民宿業者。
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_hakka_tour_5.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/qa/treble/" title="">常見問題</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>