{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 終極懶人包 - 三倍券、各縣市加碼活動一次搞懂！</title>
  <meta name="keywords" content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,藝FUN券,藝FUN卷,農遊券,農遊卷,安心旅遊補助,安心旅遊,縣市補助,浪漫客庄遊,運動抵用卷,運動抵用券,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta property="og:description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">
  <meta property="og:img" content="https://3coupon.info/media/og_img_2.jpg">
  <meta property="og:site_name" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta name="robots" content="index,follow">


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v7.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          懶人包
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="/eli5/treble/">3000元 振興三倍券</a>
          <a class="tab" href="/eli5/voucher">800元 振興抵用券</a>
          <a class="tab" href="/eli5/fun/">600元 藝FUN券</a>
          <a class="tab" href="/eli5/farming/">250元 農遊券</a>
          <a class="tab" href="/eli5/tour/">安心旅遊補助</a>
          <a class="tab" href="/eli5/county/">各縣市補助</a>
          <a class="tab" href="/eli5/hakka_tour/">369浪漫客庄遊</a>
          <a class="tab active" href="/eli5/sport/">500元 運動抵用</a></div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>運動抵用方案是什麼？</h3>
            <span>What</span>
          </div>
          <div class="introduce-content">
            <p>補助民眾以行動支付使用合法設立之運動場館業者、參加體育活動或觀賞運動賽事，預計核發 400 萬人次。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_sport_1.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>使用期限</h3>
            <span>When</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">開始時間</span>：2020/7/20 開放民眾登記，2020/7/28 抽籤。</p>
            </div>
            <div class="para">
              <p><span class="highlight">使用期限</span>：2020/8/1 開始抵用。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_sport_2.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>發放對象</h3>
            <span>Who</span>
          </div>
          <div class="introduce-content">
            凡國內現有戶籍之國民，均具有使用資格。
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_sport_3.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>如何領取與使用</h3>
            <span>How</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">領取</span>：尚未公布。</p>
            </div>
            <div class="para">
              <p><span class="highlight">使用</span>：補助民眾以行動支付使用合法登記之運動產業，本每人抵用額度上限為 500 元，依單次消費金額折抵 50%。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_sport_4.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>哪裡可用</h3>
            <span>Where</span>
          </div>
          <div class="introduce-content">
            使用於合法設立之運動場館業者、參加體育活動或觀賞運動賽事。
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_sport_5.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/qa/treble/" title="">常見問題</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>