{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>懶人包 | 小資振興</title>
  <meta name="keywords"
        content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description"
        content="政府各單位推出各式各樣的振興券，希望振興經濟、鼓勵民眾出門消費，像三倍券、安心旅遊補助、藝fun券、農遊券，這麼多種振興券，到底怎麼領？怎麼用？哪裡用？小資振興幫大家整理懶人包一次看得清楚">
  <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
  <meta name="author" content="康闓科技股份有限公司">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="懶人包 | 小資振興">
  <meta property="og:description"
        content="政府各單位推出各式各樣的振興券，希望振興經濟、鼓勵民眾出門消費，像三倍券、安心旅遊補助、藝fun券、農遊券，這麼多種振興券，到底怎麼領？怎麼用？哪裡用？小資振興幫大家整理懶人包一次看得清楚">
  <meta property="og:img" content="">
  <meta property="og:site_name" content="小資振興｜最多三倍券優惠整理">
  <meta name="google" content="notranslate"/>
  <meta name="robots" content="noindex,nofollow">

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">


</head>
<body>

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          懶人包
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="">3000元 振興三倍券</a>
          <a class="tab active" href="">800元 振興抵用券</a>
          <a class="tab" href="">600元 藝FUN券</a>
          <a class="tab" href="">250元 農遊券</a>
          <a class="tab" href="">安心旅遊補助</a>
        </div>
      </div>
    </div>
    <div class="row eli5_list">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興抵用券是什麼？</h3>
            <span>What</span>
          </div>
          <div class="introduce-content">
            <p>因武漢肺炎 ( 新型冠狀病毒 )
              帶來的經濟影響，經濟部與文化部推23億元振興抵用券，結合國民旅遊來刺激消費。振興抵用券隨住宿發放，每房新台幣600元到800元之間。振興抵用券適用於受衝擊服務型產業，包含餐飲、商圈、夜市及藝文等四類產業，全台共約35萬店家適用。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_800_1.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>使用期限</h3>
            <span>When</span>
          </div>
          <div class="introduce-content">
            <p><span class="highlight">推出時間</span>：待疫情穩定後半年至一年內發放。</p>
            <p><span class="highlight">使用期限</span>：目前仍未定案，但預計會開放使用到2021年6月底。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_800_2.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list">
      <div class="col-sm-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>發放對象</h3>
            <span>Who</span>
          </div>
          <div class="introduce-content">
            本國國人，不分年齡限制，入住全台符合旅遊補助飯店名單的飯店後，由旅宿業者提供振興抵用券800元。 ( 尚不確定透過訂房網是 否能領取抵用券 )
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="introduce-image">
          <img src="/media/eli5_800_3.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>如何領取</h3>
            <span>How</span>
          </div>
          <div class="introduce-content">
            <p><span class="highlight">領取方式</span>：全台不限住宿地區使用，只要入住符合旅遊補助的國內觀光飯店，由旅宿業者提供。</p>

            <p><span class="highlight">抵用券額度</span>：每房補助 800 元，全國的商圈、夜市、餐廳、藝文產業，4種產業各有200元的消費額度。</p>

            <p><span class="highlight">抵用券形式</span>：將採電子與紙本票券方式並行，紙本票券單張面額 50 元，電子票券將研擬使用App。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_800_4.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list">
      <div class="col-sm-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>哪裡可用</h3>
            <span>Where</span>
          </div>
          <div class="introduce-content">
            針對受疫情衝擊較大的服務業，包含商圈 ( 約28萬家 ) 、夜市 ( 約1萬家 ) 及全國餐飲業 ( 14.5萬家 ) 、藝文產業 ( 1700 家 ) ，扣除重複店家大約35萬家皆可使用。
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="introduce-image">
          <img src="/media/eli5_800_5.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/contact/" title="">聯絡我們</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>