{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 終極懶人包 - 三倍券、各縣市加碼活動一次搞懂！</title>
  <meta name="keywords" content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,藝FUN券,藝FUN卷,農遊券,農遊卷,安心旅遊補助,安心旅遊,縣市補助,浪漫客庄遊,運動抵用卷,運動抵用券,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助">
  <meta name="description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta property="og:description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">
  <meta property="og:img" content="https://3coupon.info/media/og_img_2.jpg">
  <meta property="og:site_name" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta name="robots" content="index,follow">


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v7.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          懶人包
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab active" href="/eli5/treble/">3000元 振興三倍券</a>
          <a class="tab" href="/eli5/voucher">800元 振興抵用券</a>
          <a class="tab" href="/eli5/fun/">600元 藝FUN券</a>
          <a class="tab" href="/eli5/farming/">250元 農遊券</a>
          <a class="tab" href="/eli5/tour/">安心旅遊補助</a>
          <a class="tab" href="/eli5/county/">各縣市補助</a>
          <a class="tab" href="/eli5/hakka_tour/">369浪漫客庄遊</a>
          <a class="tab" href="/eli5/sport/">500元 動滋券</a></div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興三倍券是什麼？</h3>
            <span>What</span>
          </div>
          <div class="introduce-content">
            <p>為了刺激消費，行政院推出振興三倍券，讓民眾可以用一千元買到一本三千元的現金券 ( $200*5，$500*4 ) 。用來刺激國內經濟活絡的紓困補助措施，凡國民人人都可領取，並在消費時替代現金使用。官方資訊可查看<a
              href="https://3000.gov.tw/" target="_blank">振興三倍券官網</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_3000_1.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>使用期限</h3>
            <span>When</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">購買時間</span>：109/7/1 開始預購或綁定。</p>
            </div>
            <div class="para">
              <p><span class="highlight">使用期限</span>：109/7/15 開始至 109/12/31 前必須使用完。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_3000_2.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>發放對象</h3>
            <span>Who</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">本國國人</span>：不分年齡限制 ( 今年出生的新生兒到100歲以上都可使用 ) 。</p>
            </div>
            <div class="para">
              <p><span class="highlight">非本國籍配偶</span>：有居留證的陸配、外籍配偶也可領取。</p>
            </div>
            <div class="para">
              <p><span class="highlight">中低收入、弱勢</span>：全國 120 萬的中低收入者及弱勢民眾，政府將直接匯入 1000
                元至戶頭中，並於摘要處註明「換三倍券」，使他們得以兌換振興三倍券進行消費。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_3000_3.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial" style="max-width: 100%">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6 pa-20px-md">
            <div class="introduce">
              <div class="introduce-title">
                <h3>如何領取</h3>
                <span>How</span>
              </div>
              <div class="introduce-content">
                <div class="para">
                  <p><h4>[ 實體紙本 ]</h4></p>
                  <p>實體券有 200 元券 5 張和 500 元券 4 張，等同現金、不找零、不可用於儲值。( 原則上不能找零，若攤商願意找零，方便消費者購買，不會禁止，但是消費者不能強迫攤商找零。 )</p>
                </div>
                <div class="para indent">
                  <p><span class="highlight">超商領取</span></p>
                  <ul>
                    <li><p>7/1 起，持健保卡至四大超商或到振興券網站插卡預購並繳費 ( 比照口罩實名購買流程 )。</p></li>
                    <li><p>7/15 起，於四大超商 ( 7-11、全家、萊爾富、OK ) 領取 3000 元振興三倍券。預計 8/1 ~ 8/8 開始第二階段的預購。</p></li>
                  </ul>
                </div>
                <div class="para indent">
                  <p><span class="highlight">郵局領取</span></p>
                  <p>7/15 起，帶健保卡及身分證/居留證及 1000 元，至郵局領取振興三倍券。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 pa-20px-md pa-top-120">
            <div class="introduce">
              <div class="introduce-content">
                <div class="para">
                  <p><h4>[ 數位綁定 ]</h4></p>
                  <p>皆於 7/1 開始，綁定好支付系統，7/15 開始累積消費。累積消費滿 3000 元後，回饋 2000 元。如果欲轉換已綁定的數位振興三倍券，可以於取消原方案後，綁定其他支付方式，但累計消費金額 (
                    須達 3000 元 ) 將重新計算。</p>
                </div>
                <div class="para indent">
                  <p><span class="highlight">行動支付</span></p>
                  <ul>
                    <li><p>7/1 起，綁定任一行動支付 ( LINE PAY、街口支付、Pi支付、台灣PAY )</p></li>
                    <li><p>7/15 開始累積消費，累積消費金額滿 3000 元後，需到四大超商透過超商靠卡申請。申請通過後，便可領取 2000 元的振興三倍券，將直接匯入 2000 元至電子支付帳號中。</p>
                    </li>
                  </ul>
                </div>
                <div class="para indent">
                  <p><span class="highlight">電子票證</span></p>
                  <ul>
                    <li><p>7/1 起綁定任一電子票證 ( 悠遊卡、一卡通、icash 與 HappyCash 有錢卡 )</li>
                    <li><p>7/15 開始累積消費，累積消費金額滿 3000 元後，將會收到 APP 通知。收到 APP 通知後便可獲得 2000 元的振興三倍券，須至四大超商靠卡回存 2000
                      元至該電子票證中。</p></li>
                  </ul>
                </div>
                <div class="para indent">
                  <p><span class="highlight">信用卡</span></p>
                  <ul>
                    <li><p>7/1 起綁定任一信用卡 ( 於該銀行官網、APP登錄區進行綁定。</li>
                    <li><p>7/15 開始累積消費，累積消費金額滿 3000 元後，將會收到簡訊通知。收到簡訊通知後便可獲得 2000 元的振興三倍券，將直接折扣 2000 元於隔月該信用卡帳單中。</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 margintop-255">
            <div class="introduce-image">
              <img src="/media/eli5_3000_4.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>哪裡可用</h3>
            <span>Where</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">可以使用</span>：實體店面、餐飲、夜市、傳統市場、商圈、藝文活動、旅遊住宿、高鐵與台鐵等，吃、喝、玩、樂、買均可使用。</p>
            </div>
            <div class="para">
              <p><span class="highlight">無法使用</span>：電商網購、繳稅、罰單、規費、菸品、保單、股票、國民年金、信用卡費、禮券、儲值等11類無法使用三倍券。</p>
            </div>
            <div class="para">
              <p><span class="highlight">其他</span>：出售票券、提供實體經驗等電商可以適用，例如可向旅遊網站購買旅遊票券，或是線上購票看表演、展覽、比賽等。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_3000_5.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/qa/treble/" title="">常見問題</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>