{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>懶人包 | 小資振興</title>
  <meta name="keywords"
        content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description"
        content="政府各單位推出各式各樣的振興券，希望振興經濟、鼓勵民眾出門消費，像三倍券、安心旅遊補助、藝fun券、農遊券，這麼多種振興券，到底怎麼領？怎麼用？哪裡用？小資振興幫大家整理懶人包一次看得清楚">
  <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
  <meta name="author" content="康闓科技股份有限公司">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="懶人包 | 小資振興">
  <meta property="og:description"
        content="政府各單位推出各式各樣的振興券，希望振興經濟、鼓勵民眾出門消費，像三倍券、安心旅遊補助、藝fun券、農遊券，這麼多種振興券，到底怎麼領？怎麼用？哪裡用？小資振興幫大家整理懶人包一次看得清楚">
  <meta property="og:img" content="">
  <meta property="og:site_name" content="小資振興｜最多三倍券優惠整理">
  <meta name="google" content="notranslate"/>


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          懶人包
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="/eli5/treble/">3000元 振興三倍券</a>
          <a class="tab" href="/eli5/voucher">800元 振興抵用券</a>
          <a class="tab" href="/eli5/fun/">600元 藝FUN券</a>
          <a class="tab" href="/eli5/farming/">250元 農遊券</a>
          <a class="tab active" href="/eli5/tour/">安心旅遊補助</a>
          <a class="tab" href="/eli5/county/">各縣市補助</a>
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>安心旅遊補助是什麼？</h3>
            <span>What</span>
          </div>
          <div class="introduce-content">
            <p>「安心旅遊補助」是由交通部觀光局推出的振興方案，補助項目，包含自由行住宿補助、遊樂園門票補助、自由行台灣觀巴優惠、旅遊團費補助、地方縣市活動加碼。方案更體貼，平假日均適用，讓家族旅行更好約時間，同時促成台灣觀光產業「旅遊安心、玩得開心、恢復信心」。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="introduce-image">
          <img src="/media/eli5_tour_1.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-md-6 col-md-push-6">
        <div class="introduce">
          <div class="introduce-title">
            <h3>使用期限</h3>
            <span>When</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">安心旅遊補助</span>：2020/7/1 起至 2020/10/31 止，平假日都適用。</p>
            </div>
            <div class="para">
              <p><span class="highlight">遊樂園門票補助</span>：2020/7/1 起至 2020/8/31 止，平假日都適用。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="introduce-image">
          <img src="/media/eli5_tour_2.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial" style="max-width: 100%">
      <div class="col-sm-12 divider">
        <div class="row">
          <div class="col-md-6 pa-20px-md">
            <div class="introduce">
              <div class="introduce-title">
                <h3>自由行住宿補助</h3>
                <span>Accommodation</span>
              </div>
              <div class="introduce-content">
                <div class="para">
                  <p><h4>[ 方案說明 ]</h4></p>
                </div>
                <div class="para indent">
                  <p><span class="highlight">基本住宿優惠</span></p>
                  <p>109 年 7 月 1 日至 10 月 31 日止，民眾入住參與活動的旅館或民宿，每房現場折抵住宿費最高 1,000 元，平假日都適用，每房每日限用一次獎助金，每一身分證字號限使用 1 次。</p>
                </div>
                <div class="para indent">
                  <p><span class="highlight">離島補助加碼</span></p>
                  <p>前往金門、連江、澎湖、琉球、綠島、蘭嶼時，可再多領一次獎助金。旅客每人可選擇本島一次住宿獎助金 ＋ 離島一次住宿獎助金，或離島兩次住宿獎助金。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 pa-20px-md pa-top-120">
            <div class="introduce">
              <div class="introduce-content">
                <div class="para">
                  <p><h4>[ 申請方法 ]</h4></p>
                </div>
                <div class="para indent">
                  <p><span class="highlight">Step 1：查詢旅宿業者</span></p>
                  <p>至臺灣旅宿網<a href="https://funtour.tbroc.gov.tw" target="_blank">「安心旅遊自由行旅客住宿優惠活動」</a>網頁專區，查詢參與本次安心旅遊補助活動的旅館或民宿。</p>
                </div>
                <div class="para indent">
                  <p><span class="highlight">Step 2：登入身份資料</span></p>
                  <p>出發前先到<a href="https://funtour.tbroc.gov.tw/customer_apply_page" target="_blank">旅遊補助申請網站</a>上傳自己的身份證或駕照、健保卡 ( 無照片也可受理 ) 等，並填寫聯絡方式、預計旅遊的地點、日期。</p>
                </div>
                <div class="para indent">
                  <p><span class="highlight">Step 3：入住核對身份</span></p>
                  <p>到了住宿或旅遊地點後，出示申請人身份證或健保卡供業者查驗。結帳時，帳單金額將直接折抵補助金額。</p>
                </div>
                <div class="para indent">
                  <ul>
                    <li><p>7 月 1 日後訂房者才有效，國外訂房網站如 booking.com、agoda 等不適用。</p></li>
                    <li><p>手機號碼提供入住核對使用，若手機號碼錯誤或不實恐無法獲得補助。</p></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 margintop-255">
            <div class="introduce-image">
              <img src="/media/eli5_tour_3.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial" style="max-width: 100%">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 divider">
            <div class="introduce">
              <div class="introduce-title">
                <h3>自由行遊樂園門票補助</h3>
                <span>Amusement Park</span>
              </div>
              <div class="introduce-content">
                <p>補助對象為民國 90 年 7 月 1 日(含)以後出生，19 歲以下民眾適用。暑假期間 ( 109/7/1 ~ 109/8/31 ) 可無限次數免費暢玩22間遊樂園，入園時出示身分證件以供核對。</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="introduce">
              <div class="introduce-content">
                <p><span class="highlight">適用遊樂園業者名單</span></p>
                <p>新北：雲仙樂園、野柳海洋世界</p>
                <p>桃園：小人國主題樂園</p>
                <p>新竹：小叮噹科學主題樂園、六福村主題遊樂園</p>
                <p>苗栗：西湖渡假村、香格里拉樂園</p>
                <p>台中：麗寶樂園、東勢林場</p>
                <p>南投：九族文化村、泰雅渡假村、杉林溪森林生態渡假園區</p>
                <p>雲林：劍湖山世界台南：台糖尖山埤江南渡假村、頑皮世界野生動物園</p>
                <p>高雄：義大世界</p>
                <p>屏東：大路觀主題樂園、八大森林樂園</p>
                <p>宜蘭：綠舞莊園日式主題園區</p>
                <p>花蓮：遠雄海洋公園、怡園渡假村</p>
                <p>台東：台東原生應用植物</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="introduce-image">
              <img src="/media/eli5_tour_4.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row eli5_list display-initial">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-12 divider">
            <div class="introduce">
              <div class="introduce-title">
                <h3>自由行台灣觀光巴士優惠</h3>
                <span>Taiwan Tour Bus</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="introduce">
              <div class="introduce-content">
                <p>109 年 7 月 1 日至 10 月 31 日止，優惠半日遊、1 日遊的自由行旅客，共有 73 條旅遊路線可享 2 人同行 1 人免費優惠，不分平假日皆適用； 2 日遊及環島遊路線不適用。先在台灣觀巴官網查詢優惠路線後，於出發前 3 天，直接向各路線承辦旅行社報名。 ( 每條路線優惠名額有限，實際情況依各旅行社規定辦理。 )
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="introduce-image">
              <img src="/media/eli5_tour_5.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/qa/treble/" title="">常見問題</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>