{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 終極懶人包 - 三倍券、各縣市加碼活動一次搞懂！</title>
  <meta name="keywords"
        content="振興券懶人包,懶人包,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,藝FUN券,藝FUN卷,農遊券,農遊卷,安心旅遊補助,安心旅遊,縣市補助,浪漫客庄遊,運動抵用卷,運動抵用券,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta property="og:description" content="超級懶人包！你知道除了三倍券還有很多超殺優惠嗎？像安心旅遊補助、藝fun券、農遊券......通通都在小資振興！">
  <meta property="og:img" content="https://3coupon.info/media/og_img_2.jpg">
  <meta property="og:site_name" content="終極懶人包 - 三倍券、各縣市加碼活動一次搞懂 | 小資振興">
  <meta name="robots" content="index,follow">


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          懶人包
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="/eli5/treble/">3000元 振興三倍券</a>
          <a class="tab" href="/eli5/voucher">800元 振興抵用券</a>
          <a class="tab" href="/eli5/fun/">600元 藝FUN券</a>
          <a class="tab" href="/eli5/farming/">250元 農遊券</a>
          <a class="tab" href="/eli5/tour/">安心旅遊補助</a>
          <a class="tab active" href="/eli5/county/">各縣市補助</a>
          <a class="tab" href="/eli5/hakka_tour/">369浪漫客庄遊</a>
          <a class="tab" href="/eli5/sport/">500元 運動抵用</a></div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>台北</h3>
          <span class="county">Taipei</span>
        </div>
        <div class="introduce-content">
          <p class="county"><a href="https://www.travel.taipei/zh-tw/tour/safe-travel" target="_blank">「安心旅遊」</a>推出十大旅遊路線、二大套票方案，以及入住安心旅宿，每次消費每滿1,000元，將限量贈送雙層觀光巴士24小時兌換券1張。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>新北</h3>
          <span class="county">New Taipei</span>
        </div>
        <div class="introduce-content">
          <p class="county">「新北振興168」串聯24個商圈、百家市場夜市提供優惠折扣</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>桃園</h3>
          <span class="county">Taoyuan</span>
        </div>
        <div class="introduce-content">
          <p class="county"><a href="http://tourcash.tycg.gov.tw/" target="_blank">「桃園電子旅遊券」</a>6/22日 9:00 起至6/29日
            18:00 止桃園市民登錄資料有機會獲500元電子旅遊券，可在桃園市合作商店使用。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>新竹</h3>
          <span class="county">Hsinchu</span>
        </div>
        <div class="introduce-content">
          <p class="county"><a
            href="https://www.hccg.gov.tw/ch/home.jsp?id=48&parentpath=0,16&mcustomize=municipalnews_view.jsp&t=MunicipalNews&dataserno=202006120007&mserno=201601300307&toolsflag=Y"
            target="_blank">「500元好玩券」</a>限量6000份，只要入住與市府合作的旅宿便可獲得，可於近百家美食、伴手禮、文創等店家消費。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>台中</h3>
          <span class="county">Taichung</span>
        </div>
        <div class="introduce-content">
          <ul>
            <li><p class="county"><a
              href="https://travel.taichung.gov.tw/zh-tw/Event/NewsDetail/5982/%E8%87%BA%E4%B8%AD%E8%A7%80%E5%85%89%E6%8C%AF%E8%88%88%E6%9A%A8%E6%97%85%E9%81%8A%E5%84%AA%E6%83%A0%E5%85%A7%E5%AE%B9"
              target="_blank">「臺中觀光振興暨旅遊優惠」</a>彙集近百家觀光業者優惠方案，超過百條臺中及中台灣精選遊程。</p></li>
            <li><p class="county"><a href="https://funtaichung.tw/2020shopping" target="_blank">「台中購物節」</a>7/1日至8/31日，在台中消費累積至500元可獲1次抽獎機會，周周抽大獎。
            </p></li>
            <li><p class="county"><a href="https://www.economic.taichung.gov.tw/1498930/post"
                                     target="_blank">「商圈消費券」</a>4/20日起至6/30日，民眾只要在台中市立案輔導的各大商圈店家消費滿200元，即可獲得20元商圈消費券
            </p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>嘉義</h3>
          <span class="county">Chiayi</span>
        </div>
        <div class="introduce-content">
          <p class="county"><a href="https://www.cyhg.gov.tw/News_Content.aspx?n=20C1A3DAF6A74FCE&s=BE48DECE39EF5886"
                               target="_blank">「優鮮消費券」</a>限量5,000份。第一階段6/21日搶先限量1,000份，第二階段將於7月份推出，入住合法旅宿住宿有機會獲得300元消費券，可以前往合作店家消費折抵。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>台南</h3>
          <span class="county">Tainan</span>
        </div>
        <div class="introduce-content">
          <p class="county"><a href="https://tainanday.tw/" target="_blank">「6-8月住臺南抽百萬大獎˙常客貴人贈萬元獎勵活動」</a>獎項包含電動車、飯店住宿券等。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>高雄</h3>
          <span class="county">Kaohsiung</span>
        </div>
        <div class="introduce-content">
          <ul>
            <li>
              <p class="county"><a href="https://www.lovekhshopping.com.tw/" target="_blank">「高雄振興購物嘉年華」</a>6/1日至8/31日參加商圈活動可獲每張面額50元抵用券，住宿一晚可獲四張共200元抵用券。
              </p>
              <a href="/store_activity/?activity=1" class="float-right more-info">
                查看參與商家
              </a>
            </li>
            <li><p class="county"><a href="https://khh.travel/zh-tw/event/news/3001" target="_blank">「32 家旅館聯合住宿券」</a>民眾可上網購買滿8,000送8,000住宿/餐飲券，或買8000住6晚優惠方案。
            </p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>屏東</h3>
          <span class="county">Pingtung</span>
        </div>
        <div class="introduce-content">
          <p class="county"><a href="https://www.pthg.gov.tw/traffic/cp.aspx?n=FCA8BB125A1786AC" target="_blank">「屏東旅遊優惠三鐵方案」</a>6/11日起推住宿、伴手禮、餐廳、交通10元優惠觀光券方案。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>花蓮</h3>
          <span class="county">Hualien</span>
        </div>
        <div class="introduce-content">
          <ul>
            <li><p class="county"><a href="https://trip.hl.gov.tw/#/explain" target="_blank">「玩花蓮，抽豐田」</a>6/20日起至11/15日間入住花蓮合法旅宿業住宿並登錄資料，就有機會抽中豐田汽車。
            </p></li>
            <li><p class="county"><a
              href="http://www.sinchen.gov.tw/circulatedview.php?menu=29&typeid=1760&circulated_id=2913"
              target="_blank">「曼波振興券」</a>6/20日起只要到花蓮新城鄉內特約的飯店或民宿住宿消費滿1000元，住宿時完成姓名、身分證登記，就能領到每房200元的曼波振興券，到指定的餐飲、伴手禮或農場消費。
            </p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>台東</h3>
          <span class="county">Taoyuan</span>
        </div>
        <div class="introduce-content">
          <p class="county"><a href="https://tour.taitung.gov.tw/zh-tw/news/details/4658" target="_blank">「東海岸EASY PAY
            EASY 購」</a>6/6日起至10/31日期間，只要在東管處所屬遊憩區內可使用行動支付之賣店，使用行動支付消費，不限金額，上網登錄並上傳證明即可抽大獎。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-12">
      <div class="introduce">
        <div class="introduce-title">
          <h3>澎湖</h3>
          <span class="county">Penghu</span>
        </div>
        <div class="introduce-content">
          <p class="county">凡109年6月1日設籍澎湖的民眾，每人發放新臺幣<a
            href="https://www.penghu.gov.tw/ch/home.jsp?id=10087&act=view&dataserno=202006180001"
            target="_blank">500元現金</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="introduce-footer">
        <p>還有問題嗎？</p>
        <div class="btn-more">
          <a href="/qa/treble/" title="">常見問題</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>