{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  {% include 'includes/meta.html' %}
  <title>小資振興｜不只三倍！超棒超省的優惠通通在這</title>
  <meta name="keywords" content="小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓">
  <meta name="description" content="超級懶人包！快來看三倍券與所有縣市優惠，快速查詢附近的商家優惠、用地圖找商家、查看常見問題、免費刊登商家活動。">
  <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
  <meta name="author" content="康闓科技股份有限公司">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="不只三倍！超棒超省的優惠通通在這｜小資振興">
  <meta property="og:description" content="超級懶人包！快來看三倍券與所有縣市優惠，還能快速查詢附近的商家優惠、用地圖找商家、查看常見問題、免費刊登商家活動。">
  <meta property="og:img" content="https://3coupon.info/media/og_img_1.jpg">
  <meta property="og:site_name" content="不只三倍！超棒超省的優惠通通在這｜小資振興">
  <meta name="robots" content="index,follow">


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body class="header_sticky">

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}

<section class="tp-banner">
  <div class="slider">
    <div class="slide_viewer">
      <div class="slide_group">
        <div class="slide slide_index"
             style="background-image: url('/media/景點_安平古堡.jpg')"
        >
          <div class="slide_content">
            <div class="page-title-heading">
              來劍湖山，滿三千再加碼送兩千！
            </div>
            <a href="" class="text-heading">
              心動不如馬上行動
            </a>
          </div>
        </div>
        <div class="slide slide_index"
             style="background-image: url('/media/景點照片_劍湖山.jpg')"
        >
          <div class="slide_content">
            <div class="page-title-heading">
              來劍湖山，滿三千再加碼送兩千！
            </div>
            <a href="" class="text-heading">
              心動不如馬上行動
            </a>
          </div>
        </div>
        <div class="slide slide_index"
             style="background-image: url('/media/景點照片_日月潭.jpg')"
        >
          <div class="slide_content">
            <div class="page-title-heading">
              來劍湖山，滿三千再加碼送兩千！
            </div>
            <a href="" class="text-heading">
              心動不如馬上行動
            </a>
          </div>
        </div>
        <div class="slide slide_index"
             style="background-image: url('/media/景點照片_野柳.jpg')"
        >
          <div class="slide_content">
            <div class="page-title-heading">
              來劍湖山，滿三千再加碼送兩千！
            </div>
            <a href="" class="text-heading">
              心動不如馬上行動
            </a>
          </div>
        </div>
      </div><!-- End // .slide_group -->
      <div class="mask"></div>
    </div><!-- End // .slide_viewer -->
  </div><!-- End // .slider -->

  <div class="slide_buttons">
  </div>

  <div class="directional_nav">
    <div class="previous_btn" title="Previous">
      <img src="/media/banner_arrow_left.svg" alt="">
    </div>
    <div class="next_btn" title="Next">
      <img src="/media/banner_arrow_right.svg" alt="">
    </div>
  </div><!-- End // .directional_nav -->
</section><!-- /.tp-banner -->

<section class="flat-highlights">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="highlights">
          <ul class="menu-list">
            {% for el in store_type %}
              {#如果是該頁面應該要顯示#}
              {#<li class="active">#}
              <li>
                <a href="/store/?store_type={{ el.id }}" title="">
                  <!--                  <object type="image/svg+xml" data="/media/{{ el.icon }}" class="index_icon"></object>-->
                  <img data-src="/media/{{ el.icon }}" alt="" class="index_icon lazy" width="400" height="400">
                  <span>{{ el.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul><!-- /.menu-list -->
        </div><!-- /.highlights -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.flat-highlights -->

<section class="flat-row flat-imagebox style5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>三倍券用起來！</h2>
          <p>
            比三倍還要賺！
          </p>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row display-initial">
      <div class="col-md-6">
        <div class="imagebox style5 link-activity">
          <div class="box-image">
            <a class="link" href="/store/" title=""></a>
            <!--<img src="{% static "images/page/halong.png" %}" alt="">-->
            <div class="overlay">
              <span></span>
            </div>

          </div>
          <div class="box-content">
            <a title="">商家加碼活動</a>
            <p>除了三倍給你更多好康</p>
            <img class="arrow" src="/media/arrow.svg" alt="">
          </div>
        </div><!-- /.imagebox style5 -->
      </div><!-- /.col-md-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5 item">
          <div class="box-image">
            <!--            <img src="/media/home-link-idea-bg.svg" alt="">-->
            <a class="link" href="/eli5/treble/" title=""></a>
            <div class="overlay">
              <span></span>
            </div>
          </div>
          <div class="box-content">
            <a title="">懶人包</a>
            <p>看看怎麼領怎麼用</p>
            <img class="arrow" src="/media/arrow.svg" alt="">
            <img class="bg" src="/media/home-link-idea-bg.svg" alt="">
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5 item">
          <div class="box-image">
            <a class="link" href="/store_map/" title=""></a>
            <div class="overlay">
              <span></span>
            </div>
          </div>
          <div class="box-content">
            <a title="">地圖找商家</a>
            <p>搜看看附近的商家</p>
            <img class="arrow" src="/media/arrow.svg" alt="">
            <img class="bg" src="/media/home-link-map-bg.svg" alt="">
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5 item">
          <div class="box-image">
            <a class="link" href="/qa/" title=""></a>
            <div class="overlay">
              <span></span>
            </div>
          </div>
          <div class="box-content">
            <a title="">常見問題</a>
            <p>答案通通在這裡</p>
            <img class="arrow" src="/media/arrow.svg" alt="">
            <img class="bg" src="/media/home-link-question-bg.svg" alt="">
          </div>
        </div><!-- /.imagebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5 item">
          <div class="box-image">
            <a class="link" href="/store/create/" title=""></a>
            <div class="overlay">
              <span></span>
            </div>
          </div>
          <div class="box-content">
            <a title="">刊登商家活動</a>
            <p>完全免費！</p>
            <img class="arrow" src="/media/arrow.svg" alt="">
            <img class="bg" src="/media/home-link-sale-bg.svg" alt="">
          </div>
        </div><!-- /.imagebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-imagebx style5 -->

{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}


<script>
  $(document).ready(() => {
    initPosition()
  })
  $('.slider').each(function () {
    var $this = $(this);
    var $group = $this.find('.slide_group');
    var $slides = $this.find('.slide');
    var bulletArray = [];
    var currentIndex = 0;
    var timeout;

    function move(newIndex) {
      var animateLeft, slideLeft;

      advance();

      if ($group.is(':animated') || currentIndex === newIndex) {
        return;
      }

      bulletArray[currentIndex].removeClass('active');
      bulletArray[newIndex].addClass('active');

      if (newIndex > currentIndex) {
        slideLeft = '100%';
        animateLeft = '-100%';
      } else {
        slideLeft = '-100%';
        animateLeft = '100%';
      }

      $slides.eq(newIndex).css({
        display: 'block',
        left: slideLeft
      });
      $group.animate({
        left: animateLeft
      }, function () {
        $slides.eq(currentIndex).css({
          display: 'none'
        });
        $slides.eq(newIndex).css({
          left: 0
        });
        $group.css({
          left: 0
        });
        currentIndex = newIndex;
      });
    }

    function advance() {
      clearTimeout(timeout);
      timeout = setTimeout(function () {
        if (currentIndex < ($slides.length - 1)) {
          move(currentIndex + 1);
        } else {
          move(0);
        }
      }, 4000);
    }

    $('.next_btn').on('click', function () {
      if (currentIndex < ($slides.length - 1)) {
        move(currentIndex + 1);
      } else {
        move(0);
      }
    });

    $('.previous_btn').on('click', function () {
      if (currentIndex !== 0) {
        move(currentIndex - 1);
      } else {
        move(3);
      }
    });

    $.each($slides, function (index) {
      var $button = $('<a class="slide_btn">&bull;</a>');

      if (index === currentIndex) {
        $button.addClass('active');
      }
      $button.on('click', function () {
        move(index);
      }).appendTo('.slide_buttons');
      bulletArray.push($button);
    });

    advance();
  });
</script>


</body>
</html>