{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Price - Dailist</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}">

  <!-- Favicon -->
  <link href="images/icon/icon.png" rel="shortcut icon">

</head>
<body>

<!-- Preloader -->
<div class="preloader">
  <div class="clear-loading loading-effect-2">
    <span></span>
  </div>
</div><!-- /.preloader -->

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Find the Plan That’s Right for You
        </div>
        <ul class="breadcrumbs">
          <li>
            <a href="index.html" title="">Home</a>
            <span class="arrow_right"></span>
          </li>
          <li>
            Pages
          </li>
        </ul>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->

<section class="flat-row flat-price">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="price">
          <div class="price-box free">
            <div class="price-title">
              <h3>Free</h3>
            </div>
            <div class="price-header">
              <div class="price-number">
                Free
                <span>Per Listing</span>
              </div>
            </div>
            <div class="price-content">
              <ul>
                <li>Duration : 20 days</li>
                <li>Map Display</li>
                <li><span>Max. Listings</span></li>
                <li>Contact Display</li>
                <li>Image Gallery</li>
                <li><span>Video</span></li>
              </ul>
              <div class="btn-more">
                <a href="#" title="">Get started</a>
              </div>
            </div>
          </div><!-- /.price-box -->
          <div class="price-box basic">
            <div class="price-title">
              <h3>Basic</h3>
            </div>
            <div class="price-header">
              <div class="price-number">
                $ 29
                <span>Per Package</span>
              </div>
            </div>
            <div class="price-content">
              <ul>
                <li>Duration : <strong>20</strong> days</li>
                <li>Map Display</li>
                <li>Max. Listings: <strong>5</strong></li>
                <li>Contact Display</li>
                <li>Image Gallery</li>
                <li>Video</li>
              </ul>
              <div class="btn-more">
                <a href="#" title="">Get started</a>
              </div>
            </div>
          </div><!-- /.price-box -->
          <div class="price-box professional">
            <div class="price-title">
              <h3>Professional</h3>
            </div>
            <div class="price-header">
              <div class="price-number">
                $ 39
                <span>Per Package</span>
              </div>
            </div>
            <div class="price-content">
              <ul>
                <li>Duration : <strong>30</strong> days</li>
                <li>Map Display</li>
                <li>Max. Listings: <strong>10</strong></li>
                <li>Contact Display</li>
                <li>Image Gallery</li>
                <li>Video</li>
              </ul>
              <div class="btn-more">
                <a href="#" title="">Get started</a>
              </div>
            </div>
          </div><!-- /.price-box -->
          <div class="clearfix"></div>
        </div><!-- /.price -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-price -->

<section class="flat-row flat-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="subscribe-text">
          Subscribe and be notified about new locations
        </div>
      </div><!-- /.col-sm-7 -->
      <div class="col-sm-5">
        <div class="subscribe-form">
          <form action="#" method="get" accept-charset="utf-8">
            <div class="subscribe-content">
              <div class="input-field">
                <input type="email" name="yourEmail" placeholder="Your Email"/>
              </div>
              <button><span class="arrow_right"></span></button>
            </div>
          </form>
        </div><!-- /.subscribe-form -->
      </div><!-- /.col-sm-5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-subscibe -->

{% include 'includes/footer.html' %}

<!-- Javascript -->
<script type="text/javascript" src="{% static 'javascript/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/easing.js' %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
<script type="text/javascript" src="{% static 'javascript/gmap3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>

</body>
</html>