{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  {% include 'includes/meta.html' %}
  <title>常見問題 | 小資振興</title>
  <meta name="keywords"
        content="振興券常見問題,振興券常見問答,振興券FAG,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="政府機關推出取多振興方案，像振興三倍券、安心旅遊補助、振興抵用券、農遊券、藝FUN券，怎麼用？怎麼領？完整常見問題總整理，重點全打包！">
  <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
  <meta name="author" content="康闓科技股份有限公司">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="常見問題 | 小資振興">
  <meta property="og:description" content="政府機關推出取多振興方案，像振興三倍券、安心旅遊補助、振興抵用券、農遊券、藝FUN券，怎麼用？怎麼領？完整常見問題總整理，重點全打包！">
  <meta property="og:img" content="">
  <meta property="og:site_name" content="小資振興｜最多三倍券優惠整理">
  <meta name="google" content="notranslate"/>

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          常見問題
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab active" href="">振興三倍券</a>
          <a class="tab" href="">藝 FUN 券</a>
          <a class="tab" href="">農遊券</a>
          <a class="tab" href="">安心旅遊</a>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興三倍券是什麼？</h3>
            <span>1</span>
          </div>
          <div class="introduce-content">
            <p>2020 年武漢肺炎衝擊全球經濟，疫情趨緩後，政府為振興內需市場，希望民眾走出戶外消費，幫助受本次疫情影響的實體店家，政府提供消費誘因，民眾用 1,000 元即可消費 3,000
              元，藉以鼓勵民眾刺激消費提振經濟。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>如何領用紙本振興三倍券？</h3>
            <span>2</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">1. 預訂</span>：可至官網或超商進行預訂，預訂期間分二梯次。</p>
              <div class="indent">
                <ul>
                  <li><p>預訂期間：第一梯 7/1~7/7，第二梯 8/1~8/7。</p></li>
                  <li><p>領券期間：第一梯 7/15~7/31，第二梯 8/15~8/31。</p></li>
                </ul>
                <p>(1) 振興網站：</p>
                <ul class="indent">
                  <li><p>到官網插入健保卡，選定領取通路點，進行信用卡繳費，或是到超商
                    服務機台列印小白單後，去櫃檯繳 1,000 元，即完成預訂。</p></li>
                  <li><p>也可以，登入健保快易通 APP，取得檢核碼，再到官網進行身分驗證，
                    選定領取通路點，再進行信用卡繳費，或是到超商服務機台列印小白單後，去櫃檯繳 1,000 元，即完成預訂。</p></li>
                </ul>
                <p>(2) 超商：到超商服務機台 Kiosk 插入健保卡，並列印小白單後，去櫃檯結帳支付 1,000 元，就完成預訂。</p>
              </div>
            </div>
            <div class="para">
              <p><span class="highlight">2. 直接領用</span>：7/15~12/31 民眾帶健保卡或身分證件到全國郵局門市儲蓄櫃檯、現場支付 1,000 元，就完成領用，並當場領取 3,000
                元振興三倍券。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興三倍券有哪些方式可以使用？</h3>
            <span>3</span>
          </div>
          <div class="introduce-content">
            <p>民眾可選擇紙本或是數位型式來使用，分別如下：</p>
            <div class="indent">
              <p>(1) 紙本：民眾以 1,000 元領取價值 3,000 元振興三倍券，面額分別為 500元 4 張、200 元 5 張。</p>
              <p>(2) 數位：行動支付、電子票證、信用卡可任選一種，累積消費滿 3,000元，可向政府領取 2,000 元。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>為什麼不發現金? 還要花 1,000 元才能買振興三倍券？</h3>
            <span>4</span>
          </div>
          <div class="introduce-content">
            <p>1. 因國人有儲蓄的習慣，民眾若收到現金，大約會有 2-3 成不會用掉，這樣失去短期刺激經濟的目的。振興三倍券有規定使用期限，短期內可鼓勵民眾外出消費，提振經濟。</p>
            <p>2. 發振興三倍券有帶動業者加碼效果，搭配店家促銷活動，鼓勵民眾「買更多」，以錢滾錢，把民眾的錢變大，激發民眾消費力道。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>誰可以使用振興三倍券?</h3>
            <span>5</span>
          </div>
          <div class="introduce-content">
            <p>中華民國 109 年 12 月 31 日前辦妥出生證明，且符合下列各款資格之一者，得領取振興三倍券。</p>
            <div class="indent">
              <p>1. 於國內現有戶籍之國民。</p>
              <p>2. 各級政府機關因公派駐國外於國內現無戶籍之人員及其具有我國國籍之眷屬。</p>
              <p>3. 取得臺灣地區居留許可之無戶籍國民。</p>
              <p>4. 取得臺灣地區依親居留、長期居留許可之大陸地區人民，為臺灣地區人民之配偶。</p>
              <p>5. 外國人為國內現有戶籍國民之配偶，取得居留許可者。</p>
              <p>6. 香港或澳門居民為臺灣地區人民之配偶，取得居留許可者。</p>
              <p>7. 第四款至第六款外國人、大陸地區人民、香港或澳門居民離婚或配偶死亡，其居留許可未廢止者。</p>
              <p>8. 無戶籍國民、大陸地區人民、香港或澳門居民取得定居許可，尚未設戶籍者。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>什麼時候開始用?</h3>
            <span>6</span>
          </div>
          <div class="introduce-content">
            <p>振興三倍券於 7/15 開始消費，可以使用到 12/31。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>紙本和數位方式可以一起使用嗎?</h3>
            <span>7</span>
          </div>
          <div class="introduce-content">
            <p>振興三倍券採「3+1」方式，包含行動支付、電子票證、信用卡及紙本，方便民眾選擇，每人只有 1 次權利，振興三倍券平台會統一控管電子與紙本領券記錄，不會發生有 2 邊都請領狀況。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興三倍券可以用在哪裡?有什麼使用的限制嗎?</h3>
            <span>8</span>
          </div>
          <div class="introduce-content">
            <p>1. 全國實體店家皆可用，市場買菜、夜市吃宵夜、逛街購衣、旅遊住宿都不限。</p>
            <p>2. 不能使用範圍如下：</p>
            <div class="indent">
              <p>(1) 不得繳納公用事業</p>
              <p>(2) 水費、電費及其他代收費用之行為。</p>
              <p>(3) 不得繳納金融機構之授信本息、費用或信用卡帳款。</p>
              <p>(4) 不得購買或投資股票、公司債、認購（售）權證、受益憑證、保單等。</p>
              <p>(5) 不得繳納罰金、易科罰金、罰鍰、稅捐、規費、勞保費、健保費、國民年金保險費等。</p>
              <p>(6) 不得購買菸品、商品禮券、現金禮券、儲值交易。</p>
              <p>(7) 不得作為扣押、抵銷、供擔保或強制執行之標的。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>可以用到什麼時候？</h3>
            <span>9</span>
          </div>
          <div class="introduce-content">
            <p>1. 紙本：7/15 領取後即可使用，12/31 截止領取與使用。</p>
            <p>2. 數位工具：7/15~12/31 消費累計截止。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>國人在海外出生的小孩，可否領取振興三倍券？</h3>
            <span>10</span>
          </div>
          <div class="introduce-content">
            <p>國人在海外出生之子女，如果已經領有有效之臺灣地區居留證或身分證者，即可領取。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>取得居留證的新住民，於返回母國後因疫情因素無法回國，但居留證仍有效，是否可領取振興三倍券?</h3>
            <span>11</span>
          </div>
          <div class="introduce-content">
            <p>可以，只要持有有效之居留證，皆可領取。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>國人與新住民所生的子女，可否領取振興券？</h3>
            <span>12</span>
          </div>
          <div class="introduce-content">
            <p>如果子女已經領有有效之臺灣地區居留證或身分證者，即可領取。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>新住民如逾期居留、離婚，可否領取振興三倍券？</h3>
            <span>13</span>
          </div>
          <div class="introduce-content">
            <div>
              <p>只要持有有效居留證之新住民皆可申請。但如逾期居留或離婚，須符合下列條件：</p>
              <div class="indent">
                <p>(1) 逾期居留者，須重新申辦居留證，才可以領取。</p>
                <p>(2) 離婚者之居留證尚未作廢之前，可以領。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>弱勢民眾享有什麼優惠?</h3>
            <span>14</span>
          </div>
          <div class="introduce-content">
            <p>無需申請，符合弱勢資格者，政府將直接匯入 1,000 元到其帳戶供領用振興三倍券，弱勢民眾無須自費。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>符合領取振興三倍券弱勢民眾資格之對象有哪些？</h3>
            <span>15</span>
          </div>
          <div class="introduce-content">
            <p>
              行政院關懷弱勢加發生活補助對象，係以弱勢老人、兒少、身障者等個人為發放對象，另為協助經濟較為弱勢之低收入戶、中低收入戶以及特殊境遇家庭之生活困難，將列冊低收入戶、中低收入戶未領取弱勢加發生活補助者，以及特殊境遇家庭申請人納入發放對象，係
              109 年 6 月份符合下列福利資格之 9 類對象：</p>
            <div class="indent">
              <p>(1) 身心障礙者生活補助。</p>
              <p>(2) 中低收入老人生活津貼。</p>
              <p>(3) 弱勢兒童及少年生活扶助。</p>
              <p>(4) 弱勢家庭兒童及少年緊急生活扶助。</p>
              <p>(5) 低收入戶兒童生活補助。</p>
              <p>(6) 低收入戶就學生活補助。</p>
              <p>(7) 特殊境遇家庭子女（含孫子女）生活津貼或子女（含孫子女）教育補助及其申請人。</p>
              <p>(8) 低收入戶、中低收入戶兒童及少年未領取前列各項補助。</p>
              <p>(9) 列冊低收入戶、中低收入戶未領弱勢加發生活補助者。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>什麼是無戶籍國民？能不能領振興三倍券？</h3>
            <span>16</span>
          </div>
          <div class="introduce-content">
            <p>1.
              無戶籍國民是指未曾在臺灣地區設有戶籍之僑居國外國民(例如林書豪，他出生時父母為國民，其在國外出生但迄今尚未回臺設籍)、取得我國國籍(例如新住民歸化取得我國籍)及回復我國國籍但尚未在臺灣地區設有戶籍之國民。</p>
            <p>2. 上述無戶籍國民如果已經取得有效的臺灣地區居留證或身分證者，即可領取。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>外籍勞工、看護工？投資移民、技術移民，可以領嗎？</h3>
            <span>17</span>
          </div>
          <div class="introduce-content">
            <p>1. 不可以，外籍勞工、看護工不可以領振興三倍券。</p>
            <p>2. 不可以，投資移民、技術移民假如不是國人配偶就不可以領取振興三倍券，也就不會在名單內。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>有健保卡的僑生和外籍移工可以領?</h3>
            <span>18</span>
          </div>
          <div class="introduce-content">
            <p>不可以，即使有健保卡身分，僑生和外籍移工之身分，也不可以領振興三倍券。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>戶籍為「逕為遷出」，如出國多年的國人，可以領?</h3>
            <span>19</span>
          </div>
          <div class="introduce-content">
            <p>可以，國人擁有本國國籍可以領取振興三倍券。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>民眾使用振興三倍券需要繳納個人所得稅?</h3>
            <span>20</span>
          </div>
          <div class="introduce-content">
            <p>依據財政部 109 年 6 月 5 日新聞稿之公告，民眾以現金 1 千元換取票面價值3 千元之三倍券，或以信用卡、電子票證、行動支付等方式累積消費滿 3 千元，領取 2 千元，即是由民眾自付 1
              千元，再由政府贈與 2 千元，該 2 千元屬政府贈與，依所得稅法第 4 條第 1 項第 17 款規定，因贈與而取得之財產，民眾免納所得稅。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>我是新住民，但以應聘、投資或學生等事由在臺居留，可否領取振興券？</h3>
            <span>21</span>
          </div>
          <div class="introduce-content">
            <p>你可提供下列文件之ㄧ，親自至本署各服務站經確認為國人配偶後，即可領取：</p>
            <div class="indent">
              <p>1. 已登載配偶姓名之戶口名簿、戶籍謄本或身分證件。
              </p>
              <p>2. 經駐外館處驗證之原屬國家結婚證明文件。</p>
              <p>3. 護照或簽證註記欄位載明國人配偶姓名及身分證字號。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>我是新住民，但以應聘、投資或學生等事由在臺居留，可否領取振興券？</h3>
            <span>21</span>
          </div>
          <div class="introduce-content">
            <p>1. 國人身分資料比對問題，請洽內政部服務熱線(02)8195-8151 或 1996 轉戶政司。</p>
            <p>2. 外國人、大陸、港澳人士請打外國人生活諮詢專線 0800-024-111，有提供七國語言服務（中、英、日、越、印、泰、柬）。</p>
            <p>3. 弱勢民眾領取認定資格，請撥打 1957 福利諮詢專線。</p>
            <p>4. 有關健保卡申辦及健保快易通 APP 問題，可以撥打健保署諮詢服務專線0800-030-598，或 4128-678(免加區域碼)，手機請撥打(02)4128-678。
            </p>
            <p>有任何關於振興三倍券問題，可以撥打 1988 紓困振興專線。專線服務時間為08：30~18：30，全年無休，智能客服 24 小時服務。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/contact/" title="">聯絡我們</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>