{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  {% include 'includes/meta.html' %}

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">


</head>
<body>

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          常見問題
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="/qa/treble/">振興三倍券</a>
          <a class="tab" href="/qa/treble-cash/">振興三倍券-實體紙本</a>
          <a class="tab" href="/qa/treble-non-cash/">振興三倍券-數位支付</a>
          <a class="tab" href="/qa/treble-store/">振興三倍券-店家相關</a>
          <a class="tab active" href="/qa/fun/">藝 FUN 券</a>
          <a class="tab" href="/qa/farming/">農遊券</a>
          <a class="tab" href="/qa/tour/">安心旅遊</a>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>為什麼有了「三倍券」，還要「藝FUN券」？</h3>
            <span>1</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p>行政院釋出的「三倍券」預計會帶來1,000億的商機，這一效益不斷被擴大，如今已經被直指上兆元。</p>
            </div>
            <div class="para">
              <p>文化部部長李永得表示，以過去台灣總體消費來看，往往民眾花在藝文產業上的錢還不到10%，藝文界業者也擔心，「三倍券」究竟有多少會用在藝文消費上？</p>
            </div>
            <div class="para">
              <p>文化部再和行政院商討後，希望能在「三倍券」之外，額外推出專屬於藝文產業的「加碼振興券」，兩種振興券雙管齊下使用，可以更有效、更快地復甦藝文業的景氣，讓民眾走出門看電影、看展、看表演、買書⋯⋯等等。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>要怎麼領？</h3>
            <span>2</span>
          </div>
          <div class="introduce-content">
            <p>僅限下載APP《藝FUN券》，需完成基本資料登錄，包括姓名、身份證字號、手機號碼等，通過認證後，第二步則可取券。</p>
            <p>但需要注意， 由於共計只有200萬份，數量有限、先搶先贏，一人一機只能領取一次，成功後即可獲取共計6張、面額100元的電子票券。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>領取時間＆使用期限？</h3>
            <span>3</span>
          </div>
          <div class="introduce-content">
            <p>「 藝FUN券 」將於7月22日中午12點開始正式發行，APP會在發行前先上線，但時間還未定；使用期限則到今年12月31日截止。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>票券該怎麼用？</h3>
            <span>4</span>
          </div>
          <div class="introduce-content">
            <p>分為兩種方式，但使用一律不找零：</p>
            <p><span class="highlight">1. 實體店家</span>：共計有6張100元面額的電子票券，選擇使用張數後便會生成QR Code，讓店家刷條碼即可；或是店家也有專屬的QR
              Code，消費者也可刷店家的條碼付款。</p>
            <p><span class="highlight">2. 網路購票</span>：登入線上購票平台後，如電影院官網、兩廳院售票網⋯⋯平台則會串接《藝FUN券》APP，讓消費者選擇張數買單。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>跟「三倍券」會衝突嗎？</h3>
            <span>5</span>
          </div>
          <div class="introduce-content">
            <p>不會，兩種票券可以搭配一起使用。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>哪裡能用？</h3>
            <span>6</span>
          </div>
          <div class="introduce-content">
            <p>博物館、演藝廳、書店、唱片行、電影院、Live House⋯⋯等等，全台超過1萬家以上店家都可使用。消費者可至APP中的「藝文店家地圖」查詢附近可使用票券的場域及店家。</p>
            <p>但像是博客來線上書店等「網路消費」，因文化部認為此次疫情期間相對損失較小，並不會被列為使用範疇內。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>沒有在使用名單的商家怎麼辦？</h3>
            <span>7</span>
          </div>
          <div class="introduce-content">
            <p>
              由於許多藝文業者規模較小，不見得會被列入首批名單，但針對「藝文展演場館及音樂展演空間」、「書店及唱片行」、「電影院」及「藝文展演預購票券」四大類型店家或個人工作室，只要在《藝FUN券》APP上進行註冊申請，並符合稅籍相關資格，審核通過便會在名單內。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>老人家不會用，搶不過年輕人怎麼辦？</h3>
            <span>8</span>
          </div>
          <div class="introduce-content">
            <p>當「藝FUN券」告一段落後，文化部會再針對弱勢群體、老人，規劃新一波振興方案。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>店家多久可以兌換到款項？</h3>
            <span>9</span>
          </div>
          <div class="introduce-content">
            <p>文化部希望儘可能快速地讓商家取得現金，才能真正達到振興的目的，因此簡化店家申領款項相關程序，採取「天天對帳、週週付款」的機制。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/contact/" title="">聯絡我們</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>