{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <meta name="keywords"
        content="振興券常見問題,振興券常見問答,振興券FAG,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="政府機關推出取多振興方案，像振興三倍券、安心旅遊補助、振興抵用券、農遊券、藝FUN券，怎麼用？怎麼領？完整常見問題總整理，重點全打包！">
  <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
  <meta name="author" content="康闓科技股份有限公司">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="常見問題 | 小資振興">
  <meta property="og:description" content="政府機關推出取多振興方案，像振興三倍券、安心旅遊補助、振興抵用券、農遊券、藝FUN券，怎麼用？怎麼領？完整常見問題總整理，重點全打包！">
  <meta property="og:img" content="">
  <meta property="og:site_name" content="小資振興｜最多三倍券優惠整理">
  <meta name="google" content="notranslate"/>


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          常見問題
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="/qa/treble/">振興三倍券</a>
          <a class="tab" href="/qa/treble-cash/">振興三倍券-實體紙本</a>
          <a class="tab" href="/qa/treble-non-cash/">振興三倍券-數位支付</a>
          <a class="tab active" href="/qa/treble-store/">振興三倍券-店家相關</a>
          <a class="tab" href="/qa/fun/">藝 FUN 券</a>
          <a class="tab" href="/qa/farming/">農遊券</a>
          <a class="tab" href="/qa/tour/">安心旅遊</a>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>我是小店家，手中的振興三倍券如何變現？</h3>
            <span>1</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">1. 有統一編號之店家</span></p>
              <div class="indent">
                <p>(1) 企業帳戶：到銀行(郵局)提供統編，存入企業帳戶。</p>
                <p>(2) 非企業帳戶：到銀行(郵局)提供統編及主管機關之證明文件(如稅籍登記或商業登記)，存入負責人帳戶。</p>
              </div>
            </div>
            <div class="para">
              <p><span class="highlight">2. 無統一編號之店家</span></p>
              <p>可委託有統一編號的商圈組織、夜市管委會、市場自治委員會等，到銀行(郵局)換現金，存入該單位帳戶，由單位發給店家。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興三倍券兌換有期限？</h3>
            <span>2</span>
          </div>
          <div class="introduce-content">
            <p>109 年 7 月 23 日起至 110 年 3 月 31 日。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>店家兌付需多久款項才會存入帳戶？ 是否需要支付手續費？</h3>
            <span>3</span>
          </div>
          <div class="introduce-content">
            <p>1. 當日可以入帳。</p>
            <p>2. 惟如店家尚未在該兌付金融機構開立存款帳戶時，亦可由該兌付金融機構以跨行匯款方式，將款項匯入該店家於其他金融機構之帳戶內，其匯款期間比照現行金融機構匯款作業之規定。</p>
            <p>3. 無論兌付張數與金額多寡，均不需支付任何手續費。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>店家要怎樣才可以參加振興三倍券活動？ 要具備什麼資格，才可以收振興三倍券？</h3>
            <span>4</span>
          </div>
          <div class="introduce-content">
            <p>實體店家不限門檻資格，通通可以參加振興三倍券活動，皆可收取振興三倍券。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>店家要如何申請數位支付工具？</h3>
            <span>5</span>
          </div>
          <div class="introduce-content">
            <p>6 月 20 日將於振興網站公布參與數位振興三倍券平台業者名單，店家即可洽相關業者瞭解申請。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>小店家沒有統一編號的，委託商圈組織、管委會等單位，是否會被徵收相關作業費？</h3>
            <span>6</span>
          </div>
          <div class="introduce-content">
            <p>委託商圈組織或管委會等兌換，不會徵收相關作業費。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>持有破損之振興三倍券，可兌領？</h3>
            <span>7</span>
          </div>
          <div class="introduce-content">
            <p>營業人持有破損之振興三倍券向金融機構申請兌領，除有下列情形之一者照全額兌付外，其餘不予兌付：</p>
            <div class="indent">
              <p>1. 破損，但餘留部分在四分之三以上。</p>
              <p>2. 破損，但殘片能完整拼合。</p>
              <p>3. 污損或燻焦，但號碼、文字及花紋仍可辨認。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>商家同時為線上及實體店家，如統編為實體店，可使用振興三倍券？</h3>
            <span>8</span>
          </div>
          <div class="introduce-content">
            <p>不可以，除經中央目的事業主管機關公告得使用者外，線上交易之電商，皆不可使用振興三倍券。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>店家總店幫分店收取實體振興三倍券，是否可以做任何的店章註記？</h3>
            <span>9</span>
          </div>
          <div class="introduce-content">
            <p>振興三倍券上不能有註記，建議分店在統一繳回振興三倍券給總公司時，可以在收納振興三倍券上之外包裝上做上註記，以免屆時影響兌換。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>醫院診所可收振興三倍券？ 可去銀行兌付？</h3>
            <span>10</span>
          </div>
          <div class="introduce-content">
            <p>醫院或診所可以收取民眾振興三倍券，前往銀行兌換。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>店家收取三倍券需要繳營業稅嗎？</h3>
            <span>11</span>
          </div>
          <div class="introduce-content">
            <p>因店家收取民眾消費使用的三倍券，屬店家的營業收入，所以依法向店家課徵營業稅，非由民眾負擔。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/contact/" title="">聯絡我們</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>