{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
   <title>小資振興 | 常見問題大集合，你想問的這裡都有</title>
   <meta name="keywords" content="振興券常見問題,振興券常見問答,振興券FAG,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助">
   <meta name="description" content="對振興優惠一堆疑問？最完整的問題總整理，讓你秒變優惠達人！">

   <meta property="og:type" content="website">
   <meta property="og:url" content="https://3coupon.info/">
   <meta property="og:title" content="常見問題大集合，你想問的這裡都有 | 小資振興">
   <meta property="og:description" content="對振興優惠一堆疑問？最完整的問題總整理，讓你秒變優惠達人！">
   <meta property="og:img" content="https://3coupon.info/media/og_img_5.jpg">
   <meta property="og:site_name" content="常見問題大集合，你想問的這裡都有 | 小資振興">
   <meta name="robots" content="index,follow">

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v7.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          常見問題
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce-header">
          <a class="tab" href="/qa/treble/">振興三倍券</a>
          <a class="tab active" href="/qa/treble-cash/">振興三倍券-實體紙本</a>
          <a class="tab" href="/qa/treble-non-cash/">振興三倍券-數位支付</a>
          <a class="tab" href="/qa/treble-store/">振興三倍券-店家相關</a>
          <a class="tab" href="/qa/fun/">藝 FUN 券</a>
          <a class="tab" href="/qa/farming/">農遊券</a>
          <a class="tab" href="/qa/tour/">安心旅遊</a>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興三倍券可以找零嗎？</h3>
            <span>1</span>
          </div>
          <div class="introduce-content">
            <p>使用振興三倍券購買商品，不找零也不可兌現。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>買不到怎麼辦？ 哪裡有庫存？</h3>
            <span>2</span>
          </div>
          <div class="introduce-content">
            <p>可用振興三倍券地圖查看郵局哪裡有庫存，或選擇數位工具綁定後，可馬上使用。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>可以代買嗎？ 可以代買幾份？ 可以代領嗎？</h3>
            <span>3</span>
          </div>
          <div class="introduce-content">
            <p>1. 可以代買。</p>
            <p>2. 沒有限制代買的份數。</p>
            <p>3. 可以代領。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>什麼時候開始買振興三倍券？</h3>
            <span>4</span>
          </div>
          <div class="introduce-content">
            <p><span class="highlight">1. 預購</span></p>
            <div class="indent">
              <p>(1) 第一波：7/1~7/7 在四大超商、官網預購，7/15 開始領取。</p>
              <p>(2) 第二波：8/1~8/7 在四大超商、官網預購，8/15 開始領取。</p>
            </div>
            <p><span class="highlight">2. 現場領用</span></p>
            <p>7/15~12/31 可在全國郵局現場領用。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>怎麼買？ 去哪買？ 可以買幾次？</h3>
            <span>5</span>
          </div>
          <div class="introduce-content">
            <div class="para">
              <p><span class="highlight">1. 預訂</span>：可至官網或超商進行預訂，預訂期間分二梯次。</p>
              <div class="indent">
                <p>第一梯次: 7/1~7/7 預訂、7/15~7/31 領取</p>
                <p>第二梯次: 8/1~8/7 預訂、8/15~8/31 領取</p>
                <div class="indent">
                  <p>(1) 拿健保卡和現金 1,000 元，去四大超商機臺預訂(和買口罩一樣)，收到簡訊後，就可以到超商領取。</p>
                  <p>(2) 上官網用健保卡插入讀卡機，用信用卡支付 1,000 元，收到簡訊後，就可以到超商領取。</p>
                </div>
              </div>
            </div>
            <div class="para">
              <p><span class="highlight">2. 現場領用</span>： 7/15 起可至郵局現場買，憑健保卡或身分證件並繳交 1,000 元，即可領取振興三倍券。</p>
            </div>
            <div class="para">
              <p><span class="highlight">3. 購買次數</span>：每人僅可領用一次，且不能與數位方式重複領取。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>符合身分資格，但沒有健保卡可以買嗎？</h3>
            <span>6</span>
          </div>
          <div class="introduce-content">
            <p>振興三倍券領取採實名制，民眾必須帶健保卡或身分證明文件就可以領用。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>未成年子女怎麼買振興三倍券？</h3>
            <span>7</span>
          </div>
          <div class="introduce-content">
            <p>國人不分年齡憑健保卡即可領用紙本振興三倍券。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>振興三倍券污損怎麼辦？ 破損了怎麼辦?可以用嗎？</h3>
            <span>8</span>
          </div>
          <div class="introduce-content">
            <p>1. 污損，但號碼、文字及花紋可辨識，仍可使用。</p>
            <p>2. 破損，但餘留部分在四分之三以上，仍可使用。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>出現偽券時，怎麼處理？</h3>
            <span>9</span>
          </div>
          <div class="introduce-content">
            <p>兌付金融機構如發現偽造、變造或仿造的振興三倍券時，會截留並送經濟部，再轉請警政機關進行偵辦。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>上網預訂振興三倍券，需要信用卡手續費？</h3>
            <span>10</span>
          </div>
          <div class="introduce-content">
            <p>上網預訂振興三倍券，民眾不用負擔信用卡手續費。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>有積欠健保費能否持健保卡領取振興三倍券？</h3>
            <span>11</span>
          </div>
          <div class="introduce-content">
            <p>如民眾有積欠健保費仍然可以持健保卡領取振興三倍券，至於積欠的健保費請儘速繳納或辦理分期。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-12">
        <div class="introduce">
          <div class="introduce-title">
            <h3>健保卡遺失已補領，後來又找到還可以再用嗎？</h3>
            <span>12</span>
          </div>
          <div class="introduce-content">
            <p>申請健保卡遺失換補發時，當新健保卡製作後原遺失卡會自動註銷，該遺失卡找到亦無法再使用。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-12">
        <div class="introduce-footer">
          <p>還有問題嗎？</p>
          <div class="btn-more">
            <a href="/contact/" title="">聯絡我們</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}

</body>
</html>