{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 上萬家商家優惠等你挖掘</title>
  <meta name="keywords"
        content="振興優惠,商家優惠,振興加碼,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="不只三倍！快來看更多商家隱藏優惠，小資振興提供最齊全的商家優惠資訊">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="上萬家商家優惠等你挖掘 | 小資振興">
  <meta property="og:description" content="不只三倍！快來看更多商家隱藏優惠，小資振興提供最齊全的商家優惠資訊">
  <meta property="og:img" content="https://3coupon.info/media/og_img_3.jpg">
  <meta property="og:site_name" content="上萬家商家優惠等你挖掘 | 小資振興">
  <meta name="robots" content="index,follow">


  {% include 'includes/css.html' %}

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

</head>
<body class="header_sticky">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="tp-banner">
  {% if instance.images %}
    <div class="slider">
      <div class="slide_viewer slide_viewer_store">
        <div class="slide_group">
          {% for el in instance.images %}
            <div class="slide slide_shop"
                 style="background-image: url('/media/{{ el }}')"
            >
            </div>
          {% endfor %}
        </div>
      </div>
    </div><!-- End // .slider -->
  {% endif %}

  <div class="slide_buttons">
  </div>

  <div class="directional_nav directional_nav_store">
    <div class="previous_btn" title="Previous">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="100px" height="100px" viewBox="-11 -11.5 65 66">
        <g>
          <path fill="#ffffff"
                d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
        </g>
      </svg>
    </div>
    <div class="next_btn" title="Next">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="100px" height="100px" viewBox="-11 -11.5 65 66">
        <g>
          <path fill="#ffffff"
                d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
        </g>
      </svg>
    </div>
  </div><!-- End // .directional_nav -->

</section><!-- /.tp-banner -->

<section class="flat-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title-left">
          <div class="box-title">
            <a href="#" title="">{{ instance.name }}</a>
          </div><!-- /.box-title -->
          <ul class="box-address">
            {% if instance.phone %}
              <li class="phone">
                <a href="tel:{{ instance.phone_2 }}"><i class="fa fa-phone" aria-hidden="true"></i>{{ instance.phone }}
                </a>
              </li>
            {% endif %}
            {% if instance.latitude and instance.longitude and instance.search_status != 0 %}
              <li class="address">
                <a href="{{ google }}" target="_blank"><i class="fa fa-map-marker"
                                                          aria-hidden="true"></i>{{ instance.address }}</a>
              </li>
            {% endif %}
          </ul><!-- /.box-address -->
        </div><!-- /.title-left -->
      </div><!-- /.col-md-8 -->
      <div class="col-md-4">
        <ul class="social-ft">
          <li>
            <a class="share-fb share-to" data-sns="facebook" href="#" title="">
              <img src="/media/share_fb.svg" alt="">
            </a>
          </li>
          <li>
            <a class="share-line share-to" href="#" title="" data-sns="line">
              <img src="/media/share_line.svg" alt="">
            </a>
          </li>
          <li>
            <a class="share-url" href="#" title=""
               data-url="/store/{{ instance.id }}/"
               data-name="{{ instance.name }}"
            >
              <img src="/media/share_url.svg" alt="">
            </a>
          </li>
        </ul>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-title -->

<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row display-initial">
      <div class="col-md-8">
        {% for el in instance.storediscount %}
          <div class="text-box">
            <h3><span
              class="discount-type-border">{{ el.discount_type.name|default_if_none:"" }}</span><span>{{ el.name|default_if_none:"" }}</span>
            </h3>
            <div class="text-desc">
              <p>
                {{ el.desc_safe|default_if_none:""|safe }}
              </p>
              {% if el.picture %}
                <img class="text-box-img" src="/media/{{ el.picture }}" alt=""/>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        {% if instance.ad %}
          {{ instance.ad|safe }}
        {% endif %}
      </div><!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="sidebar">
          <div class="pdmap style1" id="flat-map-4">
            <div class="flat-maps" data-address="Ngõ 178 Nguyễn Lương Bằng, Chợ Dừa, Đống Đa, Hà Nội, Việt Nam"
                 data-image="images/icon/map.png" data-name="Themesflat Map"></div>
            {% if instance.latitude and instance.longitude and instance.search_status != 0 %}
              <div id="map" class="map_store_id" style="width: 100%;height: 220px">
                <a class="map_btn" target="_blank" href="{{ google }}">導航到商家</a>
              </div>
            {% endif %}
          </div><!-- /#flat-map -->
          <div class="box contact-box">
            <ul class="contact-list">
              {% if instance.latitude and instance.longitude and instance.search_status != 0 %}
                <li class="address">
                  <a href="{{ google }}" target="_blank">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ instance.address }}
                  </a>
                </li>
              {% endif %}
              {% if instance.phone %}
                <li>
                  <a href="tel:{{ instance.phone_2 }}" target="_blank"><i class="fa fa-phone"
                                                                          aria-hidden="true"></i>{{ instance.phone }}
                  </a>
                </li>
              {% endif %}
              {% if instance.website %}
                <li><i class="fa fa-globe" aria-hidden="true"></i><a href="{{ instance.website }}"
                                                                     title="" target="_blank">{{ instance.website }}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <ins class="scupioadslot" style="display:inline-block;width:100%;height:280px;"
             data-sca-pub="lQgDGBIrQDI="
             data-sca-web="5143"
             data-sca-category="24"
             data-sca-cid="18216"
             data-sca-slot-type="STA"></ins>
        <script async src="https://img.scupio.com/js/ad.js"></script>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-explore-detail <-->


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}
<script>
  let lat = null
  let lon = null
  {% if instance.latitude %}
    lat = {{instance.latitude}};
    lon = {{instance.longitude}};
  {% endif %}
  console.log(lat)
  $(document).ready(() => {
    const position = {
      coords: {
        latitude: lat,
        longitude: lon
      },
      zoom: 12
    }
    if (lat && lon) {
      showSelfPosition(position)
    }
    $('.share-to').snsShare('快來看看{{instance.name|default_if_none:""}}用三倍券的超棒優惠！', window.location.href)
    $('.share-url').on('click', function () {
      let $el = $(this)
      let msg = `快來看看${$el.attr('data-name')}用三倍券的超棒優惠！${window.location.origin}/${$el.attr('data-url')}`
      copy(msg)
      Swal.fire({
        text: '網址已複製',
        confirmButtonText: '確定'
      })
    })

  })
</script>

<script>
  $('.slider').each(function () {
    var $this = $(this);
    var $group = $this.find('.slide_group');
    var $slides = $this.find('.slide');
    var bulletArray = [];
    var currentIndex = 0;
    var timeout;

    function move(newIndex) {
      var animateLeft, slideLeft;

      advance();

      if ($group.is(':animated') || currentIndex === newIndex) {
        return;
      }

      bulletArray[currentIndex].removeClass('active');
      bulletArray[newIndex].addClass('active');

      if (newIndex > currentIndex) {
        slideLeft = '100%';
        animateLeft = '-100%';
      } else {
        slideLeft = '-100%';
        animateLeft = '100%';
      }

      $slides.eq(newIndex).css({
        display: 'block',
        left: slideLeft
      });
      $group.animate({
        left: animateLeft
      }, function () {
        $slides.eq(currentIndex).css({
          display: 'none'
        });
        $slides.eq(newIndex).css({
          left: 0
        });
        $group.css({
          left: 0
        });
        currentIndex = newIndex;
      });
    }

    function advance() {
      clearTimeout(timeout);
      timeout = setTimeout(function () {
        if (currentIndex < ($slides.length - 1)) {
          move(currentIndex + 1);
        } else {
          move(0);
        }
      }, 4000);
    }

    $('.next_btn').on('click', function () {
      if (currentIndex < ($slides.length - 1)) {
        move(currentIndex + 1);
      } else {
        move(0);
      }
    });

    $('.previous_btn').on('click', function () {
      if (currentIndex !== 0) {
        move(currentIndex - 1);
      } else {
        move(3);
      }
    });

    $.each($slides, function (index) {
      var $button = $('<a class="slide_btn">&bull;</a>');

      if (index === currentIndex) {
        $button.addClass('active');
      }
      $button.on('click', function () {
        move(index);
      }).appendTo('.slide_buttons');
      bulletArray.push($button);
    });

    advance();
  });
</script>

</body>
</html>