{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Explore Map Zoom Outs - Dailist</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Boostrap style -->{% include 'includes/css.html' %}

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">


</head>
<body class="slider header_sticky">

<!-- Preloader -->
<div class="preloader">
  <div class="clear-loading loading-effect-2">
    <span></span>
  </div>
</div><!-- /.preloader -->

{% include 'includes/header.html' %}<!-- /.header -->

<section class="flat-map-zoom-in">
  <div class="container-fluid">
    <div class="row" style="display: flex">
      <div class="col-xl-6 col-md-12">
        <div class="flat-filter">
          <div class="wrap-box-search style2">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <form method="get" accept-charset="utf-8">
                        <span>
                          <input type="text" placeholder="輸入行政區、地址、商家名或活動" name="search">
                        </span>
                    <span class="categories">
                          <span class="ti-angle-down"></span>
                          <select name="store_type" placeholder="所有商家種類" value="store_type">
                            {% for el in storetypes %}
                              <option value="{{ el.id }}">{{ el.name }}</option>
                            {% endfor %}
                        </select>
                        </span>
                    <div class="clearfix"></div>
                  </form><!-- /form -->
                </div>
              </div>
            </div>
          </div><!-- /.wrap-box-search -->
          <div class="clearfix"></div>
          <section class="flat-row flat-imagebox style3">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="filter-result style2">
                    <div class="result">
                      共有 {{ count }} 筆搜尋結果
                    </div>
                    <a href="/store/{{ suffix }}" class="mr-5 link-map" style="font-size: xx-large; float:right">
                      卡片模式
                    </a>
                    <div class="clear"></div>
                    <div class="sort">
                      <a data-sort="distance" href="">由近到遠</a>
                      <a data-sort="-distance" href="">由遠到近</a>
                      <a data-sort="new" href="">由新到舊</a>
                      <a data-sort="old" href="">由舊到新</a>
                    </div>
                  </div><!-- /.filter-result -->
                </div><!-- /.col-md-12 -->
              </div><!-- /.row -->
              {#原本 style 3 改掉才不會出問題#}
              <div class="wrap-imagebox ma-0px">
                <div class="d-flex store-box">
                  {% for el in data %}
                    <div class="mb-50px col-lg-6 col-md-12 store">
                      <div class="imagebox style1">
                        <div class="box-imagebox">
                          <div class="link_block">
                            <a href="/store/{{ el.id }}" class="link"></a>
                            <div class="box-header">
                              <div class="box-image">
                                <img src="/media/{{ el.image_1 }}" alt="">
                                <a title="">查看詳情</a>
                                <div class="overlay"></div>
                              </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                              <div class="box-title ad">
                                <a href="/store/{{ el.id }}" title="">{{ el.name }}</a>
                              </div>
                              <ul class="rating">
                                <li><span>{{ el.district_name }}</span></li>
                                <li>
                                  <img src="/media/map_gray.svg" alt="">
                                  <span>{{ el.distance_name }}</span>
                                </li>
                                <li>
                                  <img src="/media/park_gray.svg" alt="">
                                  <span>{{ el.store_type_name }}</span>
                                </li>
                              </ul>
                              <div class="box-desc">
                                <div class="sale-list">
                                  {{ el.storediscount_names }}
                                </div>
                              </div>
                            </div><!-- /.box-content -->
                          </div>
                          <ul class="tag_block">
                            <li class="tag"><a href="">贈品贈品</a></li>
                            <li class="tag"><a href="">全店打折</a></li>
                            <li class="tag"><a href="">全店打折</a></li>
                            <!--這邊可以只顯示3筆嗎，要維持一行-->
                            <li class="right">
                              <input type="checkbox" class="checkbox" id="share_{{ el.id }}">
                              <label for="share_{{ el.id }}" class="label entypo-export">
                                <!--                      <a href="">分享</a>-->
                                分享
                              </label>
                              <div class="social">
                                <ul>
                                  <li class="share-to entypo-line" data-sns="line" data-name="{{ el.name }}"
                                      data-url="store/{{ el.id }}">
                                    <img src="/media/share_line.svg" alt="">
                                  </li>
                                  <li class="share-to entypo-facebook" data-sns="facebook" data-name="{{ el.name }}"
                                      data-url="store/{{ el.id }}">
                                    <img src="/media/share_fb.svg" alt="">
                                  </li>
                                  <li class="share-url entypo-url" data-name="{{ el.name }}"
                                      data-url="store/{{ el.id }}">
                                    <img src="/media/share_url.svg" alt="">
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                          <!--                <ul class="location">-->
                          <!--                  <li class="address"><span class="ti-location-pin"></span>電話: {{ el.phone }}</li>-->
                          <!--                </ul>&lt;!&ndash; /.location &ndash;&gt;-->
                        </div><!-- /.box-imagebox -->
                      </div><!-- /.imagebox style1 -->
                    </div><!-- /.col-md-4 -->
                  {% endfor %}
                </div><!-- /.row -->

                {% if count > 6 %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-more more-click">
                        <a href="javascript:void(0);" title="">顯示更多</a>
                      </div>
                    </div>
                  </div>
                {% endif %}

              </div>

            </div><!-- /.container -->
          </section>
        </div><!-- /.flat-filter -->
      </div><!-- /.col-md-6 -->
      <div class="col-xl-6 col-md-12">
        <div id="map" style="height: 100%"></div>

      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.flat-map-zoom-in -->


{% include 'includes/footer.html' %}
<!-- Javascript -->
<script type="text/javascript">
  let store_data = {{ json_data|safe }};
  let sort = '{{ sort }}';
</script>
{% include 'includes/js.html' %}
<script>
  $(document).ready(() => {
    let href_split = window.location.href.split('?')
    $('.sort a').each(function () {
      let $el = $(this)
      let sort = $el.attr('data-sort')
      let split_str = ''
      if (href_split.length > 1) {
        split_str = `&sort=${sort}`
      } else {
        split_str = `?sort=${sort}`
      }
      $el.attr('href', `${window.location.href + split_str}`)
    })


    // init active sort
    let $el = $(`a[data-sort=${sort}]`)
    $el.addClass('active')
    let positionFunction = (position) => {
      showSelfPosition(position)
      initStoreDataMarker(0, 6)
    }


    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(positionFunction, showError)
    } else {
      alert('您的瀏覽器不支援定位系統')
    }
  })
</script>


</body>
</html>