{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Explore Grid - Dailist</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">

  <!-- Favicon -->
  <link href="images/icon/icon.png" rel="shortcut icon">
  <style>
    .mb-50px {
      margin-bottom: 50px;
    }
  </style>
</head>
<body class="header_sticky">

<!-- Preloader -->
<div class="preloader">
  <div class="clear-loading loading-effect-2">
    <span></span>
  </div>
</div><!-- /.preloader -->

{% include 'includes/header.html' %}<!-- /.header -->

{% include 'includes/search.html' %}

<section class="flat-row flat-imagebox style3 store_county">
  <div class="container">
    {#原本 style 3 改掉才不會出問題#}
    <div class="wrap-imagebox ma-0px">
      <div class="d-flex store-box">
        {% for el in data %}
          <div class="mb-50px col-md-4 store md-100">
            <div class="imagebox style1">
              <div class="box-imagebox">
                <div class="link_block">
                  <a href="/store/?search={{ el.name }}" class="link"></a>
                  <div class="box-header">
                    <div class="box-image">
<!--                      <img src="/media/{{ el.picture }}" alt="">-->
                      <img src="/media/county_taipei.jpg" alt="">
                      <a title="">查看詳情</a>
                      <div class="overlay"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-content">
                    <div class="box-title ad">
                      <a href="/store/?county={{ el.id }}" title="">{{ el.name }}</a>
                      <!--                      <i class="fa fa-check-circle" aria-hidden="true"></i>-->
                    </div>
                    <ul class="rating">
                      <li><span>共有 xx 個加碼商家</span></li>
                    </ul>
                  </div><!-- /.box-content -->
                </div>
              </div><!-- /.box-imagebox -->
            </div><!-- /.imagebox style1 -->
          </div><!-- /.col-md-4 -->
        {% endfor %}
      </div><!-- /.row -->


    </div>

  </div><!-- /.container -->
</section><!-- /.flat-imagebox style3 -->


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}


</body>
</html>