{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Explore Grid - Dailist</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">

  <!-- Favicon -->
  <link href="images/icon/icon.png" rel="shortcut icon">
  <style>
    .mb-50px {
      margin-bottom: 50px;
    }
  </style>
</head>
<body class="header_sticky">

<!-- Preloader -->
<div class="preloader">
  <div class="clear-loading loading-effect-2">
    <span></span>
  </div>
</div><!-- /.preloader -->

{% include 'includes/header.html' %}<!-- /.header -->

{% include 'includes/search.html' %}

<section class="flat-row flat-imagebox style3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filter-result style2">
          <div class="result">
            共有 {{ count }} 筆搜尋結果
          </div>
          <a href="/store_map" class="mr-5 link-map" style="font-size: xx-large; float:right">
            地圖模式
          </a>
        </div><!-- /.filter-result -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    {#原本 style 3 改掉才不會出問題#}
    <div class="wrap-imagebox ma-0px">
      <div class="d-flex store-box">
        {% for el in data %}
          <div class="mb-50px col-md-4 store">
            <div class="imagebox style1">
              <div class="box-imagebox">
                <div class="link_block">
                  <a href="/store/{{ el.id }}" class="link"></a>
                  <div class="box-header">
                    <div class="box-image">
                      <img src="/media/{{ el.image_1 }}" alt="">
                      <a title="">查看詳情</a>
                      <div class="overlay"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-content">
                    <div class="box-title ad">
                      <a href="/store/{{ el.id }}" title="">{{ el.name }}</a>
                      <!--                      <i class="fa fa-check-circle" aria-hidden="true"></i>-->
                    </div>
                    <ul class="rating">
                      <li><span>{{ el.county_name }}</span></li>
                      <li><span>{{ el.district_name }}</span></li>
                      <li>
                        <img src="/media/park_s_gray.svg" alt="">
                        <span>{{ el.store_type_name }}</span>
                      </li>
                    </ul>
                    <div class="box-desc">
                      <div class="sale-list">
                        {{ el.storediscount_names }}
                      </div>
                    </div>
                  </div><!-- /.box-content -->
                </div>
                <ul class="tag_block">
                  <li class="tag"><a href="">贈品贈品</a></li>
                  <li class="tag"><a href="">全店打折</a></li>
                  <li class="tag"><a href="">全店打折</a></li>
                  <!--這邊可以只顯示3筆嗎，要維持一行-->
                  <li class="right"><a href="">分享</a></li>
                </ul>
                <!--                <ul class="location">-->
                <!--                  <li class="address"><span class="ti-location-pin"></span>電話: {{ el.phone }}</li>-->
                <!--                </ul>&lt;!&ndash; /.location &ndash;&gt;-->
              </div><!-- /.box-imagebox -->
            </div><!-- /.imagebox style1 -->
          </div><!-- /.col-md-4 -->
        {% endfor %}
      </div><!-- /.row -->

      {% if count > 6 %}
        <div class="row">
          <div class="col-md-12">
            <div class="btn-more more-click">
              <a href="javascript:void(0);" title="">顯示更多</a>
            </div>
          </div>
        </div>
      {% endif %}

    </div>

  </div><!-- /.container -->
</section><!-- /.flat-imagebox style3 -->


{% include 'includes/footer.html' %}

<!-- Javascript -->
<script type="text/javascript">
  let store_data = {{ json_data|safe }};
</script>
{% include 'includes/js.html' %}


</body>
</html>