{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 免費刊登商家活動</title>
  <meta name="keywords"
        content="振興商家活動,商家加碼振興,業者振興活動,振興活動,商店振興活動,刊登商家振興方案,免費刊登振興方案,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助">
  <meta name="description" content="您的店也有三倍券加碼優惠嗎？趕快免費刊登優惠活動，提高活動曝光率與觸及率，永久免費！">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="免費刊登商家三倍券活動，讓人潮看見 | 小資振興">
  <meta property="og:description" content="您的店也有三倍券加碼優惠嗎？趕快免費刊登優惠活動，提高活動曝光率與觸及率，永久免費！">
  <meta property="og:img" content="https://3coupon.info/media/og_img_6.jpg">
  <meta property="og:site_name" content="免費刊登商家三倍券活動，讓人潮看見 | 小資振興">
  <meta name="robots" content="index,follow">


  {% include 'includes/css.html' %}

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

</head>
<body class="header_sticky">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="page-title parallax parallax1 parallax-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          免費刊登<span>商家加碼活動</span>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <!--  <div class="overlay"></div>-->
</section><!-- /.page-title -->

<section class="flat-listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form id="createStore" action="" class="form-listing" method="post" accept-charset="utf-8">
          <input type="hidden" name="latitude" id="latitude">
          <input type="hidden" name="longitude" id="longitude">
          <div class="inner-box form">
            <div class="one-half">
              <div class="wrap-listing price">
                <label>商家分類</label>
                <span class="ti-angle-down"></span>
                <select name="store_type">
                  {% for el in store_type %}
                    <option value="{{ el.id }}">{{ el.name }}</option>
                  {% endfor %}
                </select>
              </div><!-- /.wrap-listing -->
            </div><!-- /.wrap-listing -->
            <div class="wrap-listing your-name">
              <label>商家名稱</label>
              <input type="text" name="name" placeholder="請輸入商家名稱">
            </div><!-- /.wrap-listing -->
            <div class="wrap-listing phone">
              <label>聯絡電話</label>
              <input type="text" name="phone" placeholder="格式如 0912345678 或 06-1234567">
            </div><!-- /.wrap-listing -->
            <div class="wrap-listing website">
              <label>聯絡人（ 不會公開 ）</label>
              <input type="text" name="person" placeholder="請輸入聯絡人姓名">
            </div><!-- /.wrap-listing -->
            <div class="wrap-listing phone">
              <label>電子信箱</label>
              <input type="text" name="email" placeholder="請輸入電子信箱">
            </div><!-- /.wrap-listing -->
            <div class="wrap-listing website">
              <label>網站（ 選填 ）</label>
              <input type="text" name="website" placeholder="http://">
            </div><!-- /.wrap-listing -->
            <div class="one-half">
              <div class="wrap-listing price">
                <label>縣市</label>
                <span class="ti-angle-down"></span>
                <select name="county">
                  {% for el in county_list %}
                    <option value="{{ el.id }}">{{ el.name }}</option>
                  {% endfor %}
                </select>
              </div><!-- /.wrap-listing -->
            </div><!-- /.wrap-listing -->
            <div class="one-half one-half-right">
              <div class="wrap-listing price">
                <label>區域</label>
                <span class="ti-angle-down"></span>
                <select name="district">
                  {% for el in district_list %}
                    <option value="{{ el.id }}">{{ el.name }}</option>
                  {% endfor %}
                </select>
              </div><!-- /.wrap-listing -->
            </div><!-- /.wrap-listing -->

            <div class="clearfix"></div>
            <div class="wrap-listing location">
              <label>地址</label>
              <input type="text" name="address" placeholder="請輸入商家地址或活動地址">
              <a href="javascript:void(0);" id="position" class="search-pin-load">
                <svg width="20" height="20">
                  <image xlink:href="/media/search-bar-arget.svg" width="20" height="20"></image>
                </svg>
              </a>
              <a href="" class="search-pin-load">
                <div></div>
              </a>
              <a class="enter address-click" href="javascript:void(0)">確定</a>
              <div class="clear"></div>
            </div><!-- /.wrap-listing -->
            <div class="pdmap style2 map_store_id" id="map" style="height: 320px">
              <div id="firstmap" class="overlay">
                <a class="map_btn" href="#">使用您目前位置</a>
              </div>
              <a class="map_btn use-address" href="javascript:void(0);" style="outline: none;display: none">使用此位置</a>
            </div><!-- /#flat-map -->
            <div class="clearfix"></div>
          </div><!-- /.inner-box -->
          <div class="inner-box form style2">
            {#活動區塊#}
            <div class="store-disocunt-area"></div>
            <button class="submit-form-listing store-discount-btn" type="button">新增活動優惠</button>
            <div class="clearfix"></div>
          </div><!-- /.inner-box -->
          <div class="inner-box style3">
            {#這邊是要預留給image 上傳後的位置用的#}
            <div class="row upload-images">
            </div>
            <label>請上傳商家封面照片</label>
            <div class="browse">
              <p>拖曳圖片至此，或</p>
              <div class="upload">
                <span>選取圖片</span>
                <input type="file" name="upload-file" data-target="file-uploader" accept="image/*"
                       data-class="upload-images" multiple="multiple"/>
              </div>
              <p class="mt-4">圖片建議上傳尺寸 2000 px x 1527 px ， 格式 .jpg .png ，小於 1 MB</p>
            </div>
            <div class="clearfix"></div>
          </div><!-- /.inner-box -->
          <button class="only-submit-form-listing" type="submit">儲存並查看</button>
        </form><!-- /.form-listing -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-listing -->

<script>
  let county_list = {{ county_list_json| safe }};
  let district_list = {{ district_list_json| safe }};
</script>
{% include 'includes/footer.html' %}
{% include 'includes/js.html' %}
<script>
  $(document).ready(() => {
    let location = ''
    let gps_msg = ''
    $('.map_btn.use-address').on('click', function (e) {
      e.preventDefault()
      e.stopPropagation()
      $('.preloader').show()
      $.ajax({
        url: `/api/location/?task_type=2&msg=${gps_msg}`,
        type: "GET",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
      }).done(res => {
        $('.preloader').hide()
        location = res.data.address.replace('台', '臺')
        let $input = $('input[name="address"]')
        $input.val(location)
        let $select_2 = $('select[name="county"]')
        let $select_1 = $('select[name="district"]')
        for (let el of county_list) {
          if (location.indexOf(el.name) >= 0) {
            $select_2.val(el.id)
            $select_1.find('option').remove()
            let filters = district_list.filter(x => x.county = el.id)
            for (let ell of filters) {
              $select_1.append(`<option value=${ell.id}>${ell.name}</option>`)
            }
          }
        }
        for (let el of district_list) {
          if (location.indexOf(el.name) >= 0) {
            $select_1.val(el.id)
          }
        }
        $(this).hide()
      })


    })
    $('input[name="address"]').on('change paste keyup', () => {

      $('#firstmap').remove()
      $('#firstmap .map_btn').remove()
    })
    $('#createStore .search-pin-load').on('click', () => {
      $('#firstmap').remove()
      $('#firstmap .map_btn').remove()
    })
    $('#firstmap').on('click', (e) => {
      e.preventDefault()
      e.stopPropagation()
    })
    $('#firstmap .map_btn').on('click', (e) => {
      e.preventDefault()
      e.stopPropagation()
      $('#firstmap').remove()
      $('#firstmap .map_btn').remove()
      $('#createStore .search-pin-load').click()
    })

    let showPosition = (position) => {
      let map = initMap(position)
      map.off('click')
      map.on('click', (e) => {
        clearAllMarker(map)
        let msg = `${e.latlng.lat}, ${e.latlng.lng}`
        const pos = L.marker([e.latlng.lat, e.latlng.lng], {icon: greenIcon}).bindPopup('目前位置').openPopup()
        marker.push(pos)
        map.addLayer(pos)
        gps_msg = msg
        $('.map_btn.use-address').show()
      })
      clearAllMarker(map)

      const pos = L.marker([position.coords.latitude, position.coords.longitude], {icon: greenIcon}).bindPopup('店家位置')
      marker.push(pos)
      map.addLayer(pos)
    }
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, () => {
        const position = {
          coords: {
            latitude: '23.8523405',
            longitude: '120.9009427'
          },
          zoom: 7
        }
        showPosition(position)
      })
    } else {
      alert('您的瀏覽器不支援定位系統')
      const position = {
        coords: {
          latitude: '23.8523405',
          longitude: '120.9009427'
        },
        zoom: 7
      }
      showPosition(position)
    }

    $('.address-click').on('click', function () {
      let $el = $('input[name="address"]')
      let msg = $el.val()
      let $select_2 = $('select[name="county"]')
      let $select_1 = $('select[name="district"]')
      $.ajax({
        url: `/api/location/?task_type=1&msg=${msg}`,
        type: "GET",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
      }).done(res => {
        $('#firstmap').remove()
        $('#firstmap .map_btn').remove()
        let lat = res.data.gps[0]
        let lon = res.data.gps[1]
        let $input = $('input[name="address"]')
        $input.val(res.data.address.replace('台', '臺'))
        const position = {
          coords: {
            latitude: lat,
            longitude: lon
          },
          zoom: 15
        }
        for (let el of county_list) {
          if (msg.indexOf(el.name) >= 0) {
            $select_2.val(el.id)
            $select_1.find('option').remove()
            let filters = district_list.filter(x => x.county = el.id)
            for (let ell of filters) {
              $select_1.append(`<option value=${ell.id}>${ell.name}</option>`)
            }
          }
        }
        for (let el of district_list) {
          if (msg.indexOf(el.name) >= 0) {
            $select_1.val(el.id)
          }
        }
        $('#latitude').val(lat)
        $('#longitude').val(lon)
        showPosition(position)
      })
    })


    $('select[name="county"]').on('change', function () {
      let $el = $(this)
      let $district = $('select[name="district"]')
      $district.find('option').remove()
      let filters = district_list.filter(x => x.county === parseInt($el.val()))
      for (let el of filters) {
        $district.append(`<option value=${el.id}>${el.name}</option>`)
      }
      $district.val(filters[0].id)
      $district.trigger('change')
    })
  })
</script>

</body>
</html>