{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 上萬家商家優惠等你挖掘</title>
  <meta name="keywords"
        content="振興優惠,商家優惠,振興加碼,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="不只三倍！快來看更多商家隱藏優惠，小資振興提供最齊全的商家優惠資訊">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="上萬家商家優惠等你挖掘 | 小資振興">
  <meta property="og:description" content="不只三倍！快來看更多商家隱藏優惠，小資振興提供最齊全的商家優惠資訊">
  <meta property="og:img" content="https://3coupon.info/media/og_img_3.jpg">
  <meta property="og:site_name" content="上萬家商家優惠等你挖掘 | 小資振興">
  <meta name="robots" content="index,follow">


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

  <style>
    .mb-50px {
      margin-bottom: 50px;
    }
  </style>
</head>
<body class="header_sticky">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

{% include 'includes/search.html' %}

<section class="flat-row flat-imagebox style3 store_county">
  <div class="container">
    {#原本 style 3 改掉才不會出問題#}
    <div class="wrap-imagebox ma-0px">

      <div class="d-flex store-box">
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=連江縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/連江縣.jpg" alt="">
                    <a href="/store/?search=連江縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=22" title="">連江縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_22 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=花蓮縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/花蓮縣.jpg" alt="">
                    <a href="/store/?search=花蓮縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=21" title="">花蓮縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_21 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=臺東縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/臺東縣.jpg" alt="">
                    <a href="/store/?search=臺東縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=20" title="">臺東縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_20 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=金門縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/金門縣.jpg" alt="">
                    <a href="/store/?search=金門縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=19" title="">金門縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_19 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=澎湖縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/澎湖縣.jpg" alt="">
                    <a href="/store/?search=澎湖縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=18" title="">澎湖縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_18 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=屏東縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/屏東縣.jpg" alt="">
                    <a href="/store/?search=屏東縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=17" title="">屏東縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_17 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=高雄市" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/高雄市.jpg" alt="">
                    <a href="/store/?search=高雄市" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=16" title="">高雄市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_16 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=臺南市" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/臺南市.jpg" alt="">
                    <a href="/store/?search=臺南市" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=15" title="">臺南市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_15 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=雲林縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/雲林縣.jpg" alt="">
                    <a href="/store/?search=雲林縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=14" title="">雲林縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_14 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=嘉義" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/嘉義市.jpg" alt="">
                    <a href="/store/?search=嘉義" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?search=嘉義" title="">嘉義縣、嘉義市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_300 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=南投縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/南投縣.jpg" alt="">
                    <a href="/store/?search=南投縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=11" title="">南投縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_11 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=彰化縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/彰化縣.jpg" alt="">
                    <a href="/store/?search=彰化縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=10" title="">彰化縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_10 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=臺中市" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/臺中市.jpg" alt="">
                    <a href="/store/?search=臺中市" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=9" title="">臺中市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_9 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=苗栗縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/苗栗縣.jpg" alt="">
                    <a href="/store/?search=苗栗縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=8" title="">苗栗縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_8 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=桃園市" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/桃園市.jpg" alt="">
                    <a href="/store/?search=桃園市" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=7" title="">桃園市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_7 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=新竹" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/新竹縣.jpg" alt="">
                    <a href="/store/?search=新竹" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?search=新竹" title="">新竹縣、新竹市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_200 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=宜蘭縣" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/宜蘭縣.jpg" alt="">
                    <a href="/store/?search=宜蘭縣" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=4" title="">宜蘭縣</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_4 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=新北市" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/新北市.jpg" alt="">
                    <a href="/store/?search=新北市" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=3" title="">新北市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_3 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=基隆市" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/基隆市.jpg" alt="">
                    <a href="/store/?search=基隆市" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=2" title="">基隆市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_2 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-50px col-md-4 store md-100">
          <div class="imagebox style1">
            <div class="box-imagebox">
              <div class="link_block">
                <a href="/store/?search=臺北市" class="link"></a>
                <div class="box-header">
                  <div class="box-image">

                    <img src="/media/臺北市.jpg" alt="">
                    <a href="/store/?search=臺北市" title="">查看詳情</a>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="box-content">
                  <div class="box-title ad">
                    <a href="/store/?county=1" title="">臺北市</a>

                  </div>
                  <ul class="rating">
                    <li><span>共有 {{ dct.county_1 }} 個加碼商家</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div><!-- /.container -->
</section><!-- /.flat-imagebox style3 -->


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}


</body>
</html>