{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Explore Grid - Dailist</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <style>
    .mb-50px {
      margin-bottom: 50px;
    }
  </style>
</head>
<body class="header_sticky">

<!-- Preloader -->
<div class="preloader">
  <div class="clear-loading loading-effect-2">
    <span></span>
  </div>
</div><!-- /.preloader -->

{% include 'includes/header.html' %}<!-- /.header -->

{% include 'includes/search.html' %}

<section class="flat-row flat-imagebox style3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filter-result style2">
          <div class="result">
            共有 {{ count }} 筆搜尋結果
          </div>
          <a href="/store_map/{{ suffix }}" class="mr-5 link-map" style="font-size: xx-large; float:right">
            地圖模式
          </a>
          <div class="clear"></div>
          <div class="sort">
            <a data-sort="distance" href="">由近到遠</a>
            <a data-sort="-distance" href="">由遠到近</a>
            <a data-sort="new" href="">由新到舊</a>
            <a data-sort="old" href="">由舊到新</a>
          </div>
        </div><!-- /.filter-result -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    {#原本 style 3 改掉才不會出問題#}
    <div class="wrap-imagebox ma-0px">
      <div class="d-flex store-box">
        {% for el in data %}
          <div class="mb-50px col-md-4 store md-100">
            <div class="imagebox style1">
              <div class="box-imagebox">
                <div class="link_block">
                  <a href="/store/{{ el.id }}" class="link"></a>
                  <div class="box-header">
                    <div class="box-image">
                      <img src="/media/{{ el.image_1 }}" alt="">
                      <a title="">查看詳情</a>
                      <div class="overlay"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-content">
                    <div class="box-title ad">
                      <a href="/store/{{ el.id }}" title="">{{ el.name }}</a>
                    </div>
                    <ul class="rating">
                      <li><span>{{ el.district_name }}</span></li>
                      <li>
                        <img src="/media/map_gray.svg" alt="">
                        <span>{{ el.distance_name }}</span>
                      </li>
                      <li>
                        <img src="/media/park_gray.svg" alt="">
                        <span>{{ el.store_type_name }}</span>
                      </li>
                    </ul>
                    <div class="box-desc">
                      <div class="sale-list">
                        {{ el.storediscount_names }}
                      </div>
                    </div>
                  </div><!-- /.box-content -->
                </div>
                <ul class="tag_block">
                  <li class="tag"><a href="">贈品贈品</a></li>
                  <li class="tag"><a href="">全店打折</a></li>
                  <li class="tag"><a href="">全店打折</a></li>
                  <!--這邊可以只顯示3筆嗎，要維持一行-->
                  <li class="right">
                    <input type="checkbox" class="checkbox" id="share">
                    <label for="share" class="label entypo-export">
<!--                      <a href="">分享</a>-->
                      分享
                    </label>
                    <div class="social">
                      <ul>
                        <li class="entypo-line">
                          <img src="/media/share_line.svg" alt="">
                        </li>
                        <li class="entypo-facebook">
                          <img src="/media/share_fb.svg" alt="">
                        </li>
                        <li class="entypo-url">
                          <img src="/media/share_url.svg" alt="">
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <!--                <ul class="location">-->
                <!--                  <li class="address"><span class="ti-location-pin"></span>電話: {{ el.phone }}</li>-->
                <!--                </ul>&lt;!&ndash; /.location &ndash;&gt;-->
              </div><!-- /.box-imagebox -->
            </div><!-- /.imagebox style1 -->
          </div><!-- /.col-md-4 -->
        {% endfor %}
      </div><!-- /.row -->

      {% if count > 6 %}
        <div class="row">
          <div class="col-md-12">
            <div class="btn-more more-click">
              <a href="javascript:void(0);" title="">顯示更多</a>
            </div>
          </div>
        </div>
      {% endif %}

    </div>

  </div><!-- /.container -->
</section><!-- /.flat-imagebox style3 -->


{% include 'includes/footer.html' %}

<!-- Javascript -->
<script type="text/javascript">
  let store_data = {{ json_data|safe }};
  let sort = '{{ sort }}';
</script>
{% include 'includes/js.html' %}
<script>
  $(document).ready(() => {
    let href_split = window.location.href.split('?')
    $('.sort a').each(function () {
      let $el = $(this)
      let sort = $el.attr('data-sort')
      let split_str = ''
      if (href_split.length > 1) {
        split_str = `&sort=${sort}`
      } else {
        split_str = `?sort=${sort}`
      }
      $el.attr('href', `${window.location.href + split_str}`)
    })


    // init active sort
    let $el = $(`a[data-sort=${sort}]`)
    $el.addClass('active')
  })
</script>


</body>
</html>