{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 快來看看你附近有哪些優惠商家</title>
  <meta name="keywords"
        content="商家地圖,加碼商家地圖,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助,康闓,康闓科技">
  <meta name="description" content="用地圖找商家優惠最快！振興優惠神器，走到哪優惠到哪！">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="快來看看你附近有哪些優惠商家 | 小資振興">
  <meta property="og:description" content="用地圖找商家優惠最快！振興優惠神器，走到哪優惠到哪！">
  <meta property="og:img" content="https://3coupon.info/media/og_img_4.jpg">
  <meta property="og:site_name" content="快來看看你附近有哪些優惠商家 | 小資振興">
  <meta name="robots" content="index,follow">


  {% include 'includes/css.html' %}

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body class="slider header_sticky">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="flat-map-zoom-in" id="toscroll">
  <div id="store_map"></div>
  <div class="container-fluid">
    <div class="row display-block"> <!--style="display: flex"-->
      <div class="col-xl-12 col-md-12">
        <!--        <div class="container">-->
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="flat-filter">
              <div class="wrap-box-search style2">
                <form method="get" accept-charset="utf-8" id="search-form" action="/store_map/">
                  <span>
                    <span class="ti-location-pin"></span>
                    <input type="text" placeholder="輸入行政區、地址、商家名或活動找優惠" name="search">
                    <a href="javascript:void(0);" id="position" class="search-pin-load">
                      <svg width="20" height="20">
                        <image xlink:href="/media/search-bar-arget.svg" width="20" height="20"></image>
                      </svg>
                    </a>
                    <a href="" class="search-pin-load">
                      <div></div>
                    </a>
                  </span>
                  <span class="categories">
                    <span class="ti-angle-down"></span>
                    <select name="store_type" placeholder="所有商家種類" value="store_type">
                      {% for el in storetypes %}
                        <option value="{{ el.id }}">{{ el.name }}</option>
                      {% endfor %}
                    </select>
                  </span>
                  <span class="width-100">
                    <button type="button" id="search-btn">搜尋</button>
                  </span>
                  <div class="clearfix"></div>
                </form><!-- /form -->
              </div><!-- /.wrap-box-search -->
            </div><!-- /.flat-filter -->
          </div>
        </div>
        <div class="clearfix"></div>
        <!--</div>-->
      </div><!-- /.col-md-6 -->

      <div class="col-xl-6 col-md-12 col-lg-push-6 margintop-200">
        <div id="map"></div>
      </div><!-- /.col-md-6 -->

      <div class="col-xl-6 col-md-12 col-lg-pull-6">

        <section class="flat-row flat-imagebox style3 padding-0">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="filter-result style2">
                  <div class="result">
                    共有 {{ count }} 筆搜尋結果
                  </div>
                  <a href="/store/{{ suffix }}" class="mr-5 link-map" style="font-size: xx-large; float:right">
                    卡片模式
                  </a>
                  <div class="clear"></div>
                  <div class="sort">
                    <a data-sort="distance" href="">由近到遠</a>
                    <a data-sort="-distance" href="">由遠到近</a>
                    <a data-sort="new" href="">由新到舊</a>
                    <a data-sort="old" href="">由舊到新</a>
                  </div>
                </div><!-- /.filter-result -->
              </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            {#原本 style 3 改掉才不會出問題#}
            <div class="wrap-imagebox ma-0px store-box-block">
              <div class="d-flex store-box">
                {% for el in data %}
                  <div class="mb-50px col-lg-6 col-md-12 store">
                    <div class="imagebox style1">
                      <div class="box-imagebox">
                        <div class="link_block">
                          <a href="/store/{{ el.id }}" target="_blank" class="link"></a>
                          <div class="box-header">
                            <div class="box-image">
                              <img src="/media/{{ el.image_1 }}" alt="">
                              <a href="/store/{{ el.id }}" title="">查看詳情</a>
                              <div class="overlay"></div>
                            </div>
                          </div><!-- /.box-header -->
                          <div class="box-content">
                            <div class="box-title ad">
                              <a href="/store/{{ el.id }}" target="_blank" title="">{{ el.name }}</a>
                            </div>
                            <ul class="rating">
                              {% if el.store_type != 8 and el.store_type != 12 and el.store_type != 7 and el.store_type != 11 %}
                                  <li><span>{{ el.district_name }}</span></li>
                                  <li>
                                      <img src="/media/map_gray.svg" alt="">
                                      <span>{{ el.distance_name }}</span>
                                  </li>
                              {% endif %}
                              <li>
                                <img src="/media/gray_{{ el.store_type_icon }}" alt="">
                                <span>{{ el.store_type_name }}</span>
                              </li>
                            </ul>
                            <div class="box-desc">
                              {% if el.storediscount %}
                                {% for foo in el.storediscount %}
                                    {% if forloop.counter0 < 3 and foo.name %}
                                        <div class="sale-list">
                                            {{ foo.name }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                              {% endif %}
                            </div>
                          </div><!-- /.box-content -->
                        </div>
                        <div class="imagebox_bottom">
                          <p class="tag_block activity">
                            {% for activity in el.activity %}
                              {% if activity.name %}
                                <span class="tag"><a data-activity="{{ activity.id }}"
                                                     href="">{{ activity.name }}</a></span>
                              {% endif %}
                            {% endfor %}
                          </p>
                          <div class="right">
                            <input type="checkbox" class="checkbox" id="share_{{ el.id }}">
                            <label for="share_{{ el.id }}" class="label entypo-export">
                              <!--                      <a href="">分享</a>-->
                              分享
                            </label>
                            <div class="social">
                              <ul>
                                <li class="share-to entypo-line" data-sns="line" data-name="{{ el.name }}"
                                    data-url="store/{{ el.id }}">
                                  <img src="/media/share_line.svg" alt="">
                                </li>
                                <li class="share-to entypo-facebook" data-sns="facebook" data-name="{{ el.name }}"
                                    data-url="store/{{ el.id }}">
                                  <img src="/media/share_fb.svg" alt="">
                                </li>
                                <li class="share-url entypo-url" data-name="{{ el.name }}" data-url="store/{{ el.id }}">
                                  <img src="/media/share_url.svg" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <!--                <ul class="location">-->
                        <!--                  <li class="address"><span class="ti-location-pin"></span>電話: {{ el.phone }}</li>-->
                        <!--                </ul>&lt;!&ndash; /.location &ndash;&gt;-->
                      </div><!-- /.box-imagebox -->
                    </div><!-- /.imagebox style1 -->
                  </div><!-- /.col-md-4 -->
                {% endfor %}
              </div><!-- /.row -->

              {% if count > 6 %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-more more-click">
                      <a href="javascript:void(0);" title="">顯示更多</a>
                    </div>
                  </div>
                </div>
              {% endif %}

            </div>

          </div><!-- /.container -->
        </section>

      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.flat-map-zoom-in -->


{% include 'includes/footer.html' %}
<!-- Javascript -->
<script type="text/javascript">
  let store_data = {{ json_data|safe }};
  let data_count = {{ count }};
  let sort = '{{ sort }}';
  let lat = {{ lat }};
  let lon = {{ lon }};
  let activity = '{{ activity }}';
</script>
{% include 'includes/js.html' %}
<script>
  $(document).ready(() => {
    initPosition()
    let href_split = window.location.href.split('?')
    $('.sort a').each(function () {
      let $el = $(this)
      let sort = $el.attr('data-sort')
      let split_str = ''
      if (href_split.length > 1) {
        split_str = `&sort=${sort}`
      } else {
        split_str = `?sort=${sort}`
      }
      $el.attr('href', `${window.location.href + split_str}`)
    })

    // init active sort
    let $el = $(`a[data-sort=${sort}]`)
    $el.addClass('active')
    let positionFunction = (position) => {
      showSelfPosition(position)
      let target = {
        lat: position.coords.latitude,
        lng: position.coords.longitude,
      }
      getLatLngData(target)
    }

    $('.activity a').each(function () {
      let $el = $(this)
      let activity = $el.attr('data-activity')
      let newurl = setParameters(window.location.href, {activity: activity})
      $el.attr('href', newurl)
    })

    // init active activity
    $el = $(`a[data-activity=${activity}]`)
    $el.addClass('active')

    const position = {
      coords: {
        latitude: lat,
        longitude: lon
      },
      zoom: 14
    }
    positionFunction(position)
  })
</script>


</body>
</html>