{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}

  {% include 'includes/css.html' %}

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body class="slider header_sticky">

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="flat-map-zoom-in">
  <div class="container-fluid">
    <div class="row display-block"> <!--style="display: flex"-->
      <div class="col-xl-12 col-md-12">
        <!--        <div class="container">-->
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="flat-filter">
              <div class="wrap-box-search style2">
                <form method="get" accept-charset="utf-8">
                  <span>
                    <span class="ti-location-pin"></span>
                    <input type="text" placeholder="輸入行政區、地址、商家名或活動" name="search">
                    <a href="javascript:void(0);" id="position" class="search-pin-load">
                      <svg width="20" height="20">
                        <image xlink:href="/media/search-bar-arget.svg" width="20" height="20"></image>
                      </svg>
                    </a>
                    <a href="" class="search-pin-load">
                      <div></div>
                    </a>
                  </span>
                  <span class="categories">
                    <span class="ti-angle-down"></span>
                    <select name="store_type" placeholder="所有商家種類" value="store_type">
                      {% for el in storetypes %}
                        <option value="{{ el.id }}">{{ el.name }}</option>
                      {% endfor %}
                    </select>
                  </span>
                  <div class="clearfix"></div>
                </form><!-- /form -->
              </div><!-- /.wrap-box-search -->
            </div><!-- /.flat-filter -->
          </div>
        </div>
        <div class="clearfix"></div>
        <!--</div>-->
      </div><!-- /.col-md-6 -->

      <div class="col-xl-6 col-md-12 col-lg-push-6 margintop-200">
        <div id="map"></div>
      </div><!-- /.col-md-6 -->

      <div class="col-xl-6 col-md-12 col-lg-pull-6">

        <section class="flat-row flat-imagebox style3 padding-0">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="filter-result style2">
                  <div class="result">
                    共有 {{ count }} 筆搜尋結果
                  </div>
                  <a href="/store/{{ suffix }}" class="mr-5 link-map" style="font-size: xx-large; float:right">
                    卡片模式
                  </a>
                  <div class="clear"></div>
                  <div class="sort">
                    <a data-sort="distance" href="">由近到遠</a>
                    <a data-sort="-distance" href="">由遠到近</a>
                    <a data-sort="new" href="">由新到舊</a>
                    <a data-sort="old" href="">由舊到新</a>
                  </div>
                </div><!-- /.filter-result -->
              </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            {#原本 style 3 改掉才不會出問題#}
            <div class="wrap-imagebox ma-0px store-box-block">
              <div class="d-flex store-box">
                {% for el in data %}
                  <div class="mb-50px col-lg-6 col-md-12 store">
                    <div class="imagebox style1">
                      <div class="box-imagebox">
                        <div class="link_block">
                          <a href="/store/{{ el.id }}" target="_blank" class="link"></a>
                          <div class="box-header">
                            <div class="box-image">
                              <img src="/media/{{ el.image_1 }}" alt="">
                              <a title="">查看詳情</a>
                              <div class="overlay"></div>
                            </div>
                          </div><!-- /.box-header -->
                          <div class="box-content">
                            <div class="box-title ad">
                              <a href="/store/{{ el.id }}" target="_blank" title="">{{ el.name }}</a>
                            </div>
                            <ul class="rating">
                              <li><span>{{ el.district_name }}</span></li>
                              <li>
                                <img src="/media/map_gray.svg" alt="">
                                <span>{{ el.distance_name }}</span>
                              </li>
                              <li>
                                <img src="/media/park_gray.svg" alt="">
                                <span>{{ el.store_type_name }}</span>
                              </li>
                            </ul>
                            <div class="box-desc">
                              <div class="sale-list">
                                {{ el.storediscount_names }}
                              </div>
                            </div>
                          </div><!-- /.box-content -->
                        </div>
                        <div class="imagebox_bottom">
                          <p class="tag_block">
                            {% for storediscount in el.storediscount %}
                              <span class="tag"><a href="">{{ storediscount.name }}</a></span>
                            {% endfor %}
                          </p>
                          <div class="right">
                            <input type="checkbox" class="checkbox" id="share_{{ el.id }}">
                            <label for="share_{{ el.id }}" class="label entypo-export">
                              <!--                      <a href="">分享</a>-->
                              分享
                            </label>
                            <div class="social">
                              <ul>
                                <li class="share-to entypo-line" data-sns="line" data-name="{{ el.name }}"
                                    data-url="store/{{ el.id }}">
                                  <img src="/media/share_line.svg" alt="">
                                </li>
                                <li class="share-to entypo-facebook" data-sns="facebook" data-name="{{ el.name }}"
                                    data-url="store/{{ el.id }}">
                                  <img src="/media/share_fb.svg" alt="">
                                </li>
                                <li class="share-url entypo-url" data-name="{{ el.name }}"
                                    data-url="store/{{ el.id }}">
                                  <img src="/media/share_url.svg" alt="">
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!--                <ul class="location">-->
                        <!--                  <li class="address"><span class="ti-location-pin"></span>電話: {{ el.phone }}</li>-->
                        <!--                </ul>&lt;!&ndash; /.location &ndash;&gt;-->
                      </div><!-- /.box-imagebox -->
                    </div><!-- /.imagebox style1 -->
                  </div><!-- /.col-md-4 -->
                {% endfor %}
              </div><!-- /.row -->

              {% if count > 6 %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-more more-click">
                      <a href="javascript:void(0);" title="">顯示更多</a>
                    </div>
                  </div>
                </div>
              {% endif %}

            </div>

          </div><!-- /.container -->
        </section>

      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.flat-map-zoom-in -->


{% include 'includes/footer.html' %}
<!-- Javascript -->
<script type="text/javascript">
  let store_data = {{ json_data|safe }};
  let sort = '{{ sort }}';
</script>
{% include 'includes/js.html' %}
<script>
  $(document).ready(() => {
    let href_split = window.location.href.split('?')
    $('.sort a').each(function () {
      let $el = $(this)
      let sort = $el.attr('data-sort')
      let split_str = ''
      if (href_split.length > 1) {
        split_str = `&sort=${sort}`
      } else {
        split_str = `?sort=${sort}`
      }
      $el.attr('href', `${window.location.href + split_str}`)
    })


    // init active sort
    let $el = $(`a[data-sort=${sort}]`)
    $el.addClass('active')
    let positionFunction = (position) => {
      showSelfPosition(position)
      initStoreDataMarker(0, 6)
    }


    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(positionFunction, showError)
    } else {
      alert('您的瀏覽器不支援定位系統')
    }
  })
</script>


</body>
</html>