{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}
  <title>小資振興 | 上萬家商家優惠等你挖掘</title>
  <meta name="keywords"
        content="振興優惠,商家優惠,振興加碼,小資振興,小資優惠,振興抵用券,振興抵用卷,振興補助,住宿優惠,訂房補助,訂房優惠,振興方案,振興折扣券,消費抵用券,國旅抵用券,振興優惠券,我愛東東消費券,振興方案,紓困方案,振興紓困券,振興酷碰券,酷碰券懶人包,修正版酷碰券,實體券,消費券,電子票證,行動支付,安心旅遊,防疫旅遊,政府旅遊補助,旅遊補助,振興券,酷碰券,振興三倍券,三倍券,振興卷,三倍卷,振興三倍卷,振興補助">
  <meta name="description" content="不只三倍！快來看更多商家隱藏優惠，小資振興提供最齊全的商家優惠資訊">
  <meta name="copyright" content="CONQUER TECHNOLOGY CO., LTD.">
  <meta name="author" content="康闓科技股份有限公司">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://3coupon.info/">
  <meta property="og:title" content="上萬家商家優惠等你挖掘 | 小資振興">
  <meta property="og:description" content="不只三倍！快來看更多商家隱藏優惠，小資振興提供最齊全的商家優惠資訊">
  <meta property="og:img" content="https://3coupon.info/media/og_img_3.jpg">
  <meta property="og:site_name" content="上萬家商家優惠等你挖掘 | 小資振興">
  <meta name="robots" content="index,follow">


  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}?token={{ token }}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}?token={{ token }}">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}?token={{ token }}">

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

  <style>
    .mb-50px {
      margin-bottom: 50px;
    }
  </style>
</head>
<body class="header_sticky">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="100357275080787"
     theme_color="#ff7e29"
     logged_in_greeting="您好！請問您有遇到什麼問題嗎？"
     logged_out_greeting="您好！請問您有遇到什麼問題嗎？">
</div>
{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

{% include 'includes/search.html' %}

<section class="flat-row flat-imagebox style3 store-list" id="toscroll">
  <div class="container">
    <div class="filter-result style2">
      {% if activity_list %}
        <div class="result">
          您所查詢的區域還有這些優惠活動:
        </div>
        <div class="clear clear-non-md"></div>
        <div class="activity">
          {% for el in activity_list %}
            <a data-activity="{{ el.id }}" href="" class="tag">{{ el.name }}</a>
          {% endfor %}
          <div class="clear"></div>
        </div>
        <div class="clear clear-non-sm"></div>
      {% endif %}

      {% if group_filters %}
        <div class="result">
          共有 {{ count }} 筆搜尋結果
        </div>
        <a href="/store_map/{{ suffix }}" class="mr-5 link-map" style="font-size: xx-large; float:right">
          地圖模式
        </a>

        <div class="clear"></div>
        <div class="activity">
          {% for el in group_filters %}
            <a class="tab tag {{ el.selected }}" href="{{ el.link }}">
              {{ el.name }}
            </a>
          {% endfor %}
          <div class="clear"></div>
        </div>
      {% else %}
        <div class="result">
          共有 {{ count }} 筆搜尋結果
        </div>
        <a href="/store_map/{{ suffix }}" class="mr-5 link-map" style="font-size: xx-large; float:right">
          地圖模式
        </a>

        <div class="clear clear-non-md"></div>
        <div class="sort">
          <a data-sort="distance" href="">由近到遠</a>
          <a data-sort="-distance" href="">由遠到近</a>
          <a data-sort="new" href="">由新到舊</a>
          <a data-sort="old" href="">由舊到新</a>
          <a data-sort="pop" href="">人氣高至低</a>
          <a data-sort="-pop" href="">人氣低至高</a>
        </div>
      {% endif %}
      <div class="clear"></div>
    </div><!-- /.filter-result -->
    {#原本 style 3 改掉才不會出問題#}
    <div class="wrap-imagebox ma-0px">
      <div class="d-flex store-box">
        {% for el in data %}
          <div class="mb-50px col-md-4 store md-100">
            <div class="imagebox style1">
              <div class="box-imagebox">
                <div class="link_block">
                  <a href="/store/{{ el.id }}" target="_blank" class="link"></a>
                  <div class="box-header">
                    <div class="box-image">
                      <img src="/media/{{ el.image_1 }}" alt="">
                      <a href="/store/{{ el.id }}" title="">查看詳情</a>
                      <div class="overlay"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-content">
                    <div class="box-title ad">
                      <a href="/store/{{ el.id }}" target="_blank" title="">{{ el.name }}</a>
                    </div>
                    <ul class="rating">
                      {% if el.store_type != 8 and el.store_type != 12 and el.store_type != 7 and el.store_type != 11 %}
                        <li><span>{{ el.district_name }}</span></li>
                        <li>
                          <img src="/media/map_gray.svg" alt="">
                          <span>{{ el.distance_name }}</span>
                        </li>
                      {% endif %}
                      <li>
                        <img src="/media/gray_{{ el.store_type_icon }}" alt="">
                        <span>{{ el.store_type_name }}</span>
                      </li>
                    </ul>
                    <div class="box-desc">
                      {% if el.storediscount %}
                        {% for foo in el.storediscount %}
                          {% if forloop.counter0 < 3 and foo.name %}
                            <div class="sale-list">
                              {{ foo.name }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div><!-- /.box-content -->
                </div>
                <div class="imagebox_bottom">
                  <p class="tag_block activity">
                    {% for activity in el.activity %}
                      {% if activity.name %}
                        <span class="tag"><a data-activity="{{ activity.id }}"
                                             href="">{{ activity.name }}</a></span>
                      {% endif %}
                    {% endfor %}
                  </p>
                  <div class="right">
                    <input type="checkbox" class="checkbox" id="share_{{ el.id }}">
                    <label for="share_{{ el.id }}" class="label entypo-export">
                      <!--                      <a href="">分享</a>-->
                      分享
                    </label>
                    <div class="social">
                      <ul>
                        <li class="share-to entypo-line" data-sns="line"
                            data-name="{{ el.name }}"
                            data-url="store/{{ el.id }}">
                          <img src="/media/share_line.svg" alt="">
                        </li>
                        <li class="share-to entypo-facebook" data-sns="facebook"
                            data-name="{{ el.name }}"
                            data-url="store/{{ el.id }}">
                          <img src="/media/share_fb.svg" alt="">
                        </li>
                        <li class="share-url entypo-url" data-name="{{ el.name }}"
                            data-url="store/{{ el.id }}">
                          <img src="/media/share_url.svg" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
                <!--                <ul class="location">-->
                <!--                  <li class="address"><span class="ti-location-pin"></span>電話: {{ el.phone }}</li>-->
                <!--                </ul>&lt;!&ndash; /.location &ndash;&gt;-->
              </div><!-- /.box-imagebox -->
            </div><!-- /.imagebox style1 -->
          </div><!-- /.col-md-4 -->
        {% endfor %}
        {#        <div class="mb-50px col-md-4 store md-100">#}
        {#              <div class="imagebox style1">#}
        {#                  <div class="box-imagebox">#}
        {#                      <div class="link_block">#}
        {#                          <a href="{{ nadParas.nurl }}" target="_blank" class="link"></a>#}
        {#                          <div class="box-header">#}
        {#                              <div class="box-image">#}
        {#                                  <img src="{{ nadParas.IMAGE960X640 }}" alt="">#}
        {#                                  <a href="{{ nadParas.nurl }}" title="">查看詳情</a>#}
        {#                                  <div class="overlay"></div>#}
        {#                              </div>#}
        {#                          </div><!-- /.box-header -->#}
        {#                          <div class="box-content">#}
        {#                              <div class="box-title ad">#}
        {#                                  <a href="{{ nadParas.nurl }}" target="_blank" title="">{{ nadParas.SHORTSUBJECT }}</a>#}
        {#                              </div>#}
        {#                              <ul class="rating">#}
        {#                                  <li><span>{{ nadParas.SHORTSUBJECT }}</span></li>#}
        {#                              </ul>#}
        {#                              <div class="box-desc">#}
        {#                                  <div class="sale-list">#}
        {#                                      {{ nadParas.BODY }}#}
        {#                                  </div>#}
        {#                              </div>#}
        {#                          </div><!-- /.box-content -->#}
        {#                      </div>#}
        {#                      <div class="imagebox_bottom">#}
        {#                          <p class="tag_block activity">#}
        {#                              <span class="tag"><a href="#">廣告</a></span>#}
        {#                          </p>#}
        {#                          <div class="clear"></div>#}
        {#                      </div>#}
        {#                      <!--                <ul class="location">-->#}
        {#                      <!--                  <li class="address"><span class="ti-location-pin"></span>電話: {{ el.phone }}</li>-->#}
        {#                      <!--                </ul>&lt;!&ndash; /.location &ndash;&gt;-->#}
        {#                  </div><!-- /.box-imagebox -->#}
        {#              </div><!-- /.imagebox style1 -->#}
        {#          </div><!-- /.col-md-4 -->#}
      </div><!-- /.row -->

      {% if count > 6 %}
        <div class="row">
          <div class="col-md-12">
            <div class="btn-more more-click">
              <a href="javascript:void(0);" title="">顯示更多</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div><!-- /.container -->
</section><!-- /.flat-imagebox style3 -->


{% include 'includes/footer.html' %}

<!-- Javascript -->
<script type="text/javascript">
  let store_data = {{ json_data|safe }};
  let data_count = {{ count }};
  let sort = '{{ sort }}';
  let store_type = '{{ store_type }}';
  let activity = '{{ activity }}';
</script>
{% include 'includes/js.html' %}
<script>
  $(document).ready(() => {
    initPosition()
    let href_split = window.location.href.split('?')
    $('.sort a').each(function () {
      let $el = $(this)
      let sort = $el.attr('data-sort')
      let newurl = setParameters(window.location.href, {sort: sort})
      $el.attr('href', newurl)
    })


    // init active sort
    let $el = $(`a[data-sort=${sort}]`)
    $el.addClass('active')
    if (store_type && store_type !== 'None' && store_type !== 'all') {
      console.log('store_type:', store_type)
      $('#search-form [name="store_type"]').val(store_type)
    }


    $('.activity a').each(function () {
      let $el = $(this)
      let activity = $el.attr('data-activity')
      let newurl = setParameters(window.location.href, {activity: activity})
      $el.attr('href', newurl)
    })


    // init active activity
    $el = $(`a[data-activity=${activity}]`)
    $el.addClass('active')
    getNativeAdParas('Q1594362301761yK', nativeAdCallback)


  })
</script>


</body>
</html>