{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  {% include 'includes/meta.html' %}

  {% include 'includes/css.html' %}

  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}?token={{ token }}">


</head>
<body class="header_sticky">

{% include 'includes/preloader.html' %}

{% include 'includes/header.html' %}<!-- /.header -->

<section class="tp-banner">
  <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export"
       data-source="gallery"
       style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
      <div class="slotholder"></div>
      <ul><!-- SLIDE  -->
        {% for el in instance.images %}
          <li data-index="rs-3049" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0"
              data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
              data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Ken Burns" data-param1=""
              data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
              data-param9="" data-param10="" data-description="">

            <!-- MAIN IMAGE -->
            <img src="/media/{{ el }}" alt="" data-bgposition="center center" data-kenburns="off"
                 data-duration="3000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                 data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                 data-bgparallax="10"
                 class="rev-slidebg" data-no-retina>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div><!-- END REVOLUTION SLIDER -->
</section><!-- /.tp-banner -->

<section class="flat-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title-left">
          <div class="box-title">
            <a href="#" title="">{{ instance.name }}</a>
          </div><!-- /.box-title -->
          <ul class="box-address">
            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i>{{ instance.phone }}</li>
            <li class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ instance.address }}
            </li>
          </ul><!-- /.box-address -->
        </div><!-- /.title-left -->
      </div><!-- /.col-md-8 -->
      <div class="col-md-4">
        <ul class="social-ft">
          <li>
            <a class="share-fb share-to" data-sns="facebook" href="#" title="">
              <img src="/media/share_fb.svg" alt="">
            </a>
          </li>
          <li>
            <a class="share-line share-to" href="#" title="" data-sns="line">
              <img src="/media/share_line.svg" alt="">
            </a>
          </li>
          <li>
            <a class="share-url" href="#" title=""
               data-url="/store/{{ instance.id }}/"
               data-name="{{ instance.name }}"
            >
              <img src="/media/share_url.svg" alt="">
            </a>
          </li>
        </ul>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-title -->

<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% for el in instance.storediscount %}
          <div class="text-box">
            <h3><span class="discount-type-border">{{ el.discount_type.name }}</span><span>{{ el.name }}</span></h3>
            <div class="text-desc">
              <p>
                {{ el.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div><!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="sidebar">
          <div class="pdmap style1" id="flat-map-4">
            <div class="flat-maps" data-address="Ngõ 178 Nguyễn Lương Bằng, Chợ Dừa, Đống Đa, Hà Nội, Việt Nam"
                 data-image="images/icon/map.png" data-name="Themesflat Map"></div>
            <div id="map" class="map_store_id" style="width: 100%;height: 220px">
              <a class="map_btn" target="_blank" href="{{ google }}">導航到商家</a>
            </div>
          </div><!-- /#flat-map -->
          <div class="box contact-box">
            <ul class="contact-list">
              <li class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ instance.address }}
              </li>
              <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">{{ instance.phone }}</a></li>
              {% if instance.website %}
                <li><i class="fa fa-globe" aria-hidden="true"></i><a href="#" title="">{{ instance.website }}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-explore-detail <-->


{% include 'includes/footer.html' %}

<!-- Javascript -->
{% include 'includes/js.html' %}
<script>
  $(document).ready(() => {
    const position = {
      coords: {
        latitude: {{instance.latitude}},
        longitude: {{instance.longitude}}
      },
      zoom: 12
    }
    showSelfPosition(position)
    $('.share-to').snsShare('快來看看{{instance.name}}用三倍券的超棒優惠！', window.location.href)
    $('.share-url').on('click', function () {
      let $el = $(this)
      let msg = `快來看看${$el.attr('data-name')}用三倍券的超棒優惠！${window.location.origin}/${$el.attr('data-url')}`
      copy(msg)
      Swal.fire({
        text: '網址已複製',
        confirmButtonText: '確定'
      })
    })

  })
</script>

</body>
</html>