@import "tool"
@import "base"
@import "vender"

.relative
  position: relative
// body
body
  color: #333333
  background-color: #F1F1F1
  width: 100%
  font: 14px/24px "Noto Sans TC", sans-serif !important

.flat-row-title h2, .flat-contact .contact-form .contact-us h3, .page-title .page-title-heading, .introduce .introduce-title h3, .introduce-footer p, button, input[type="button"], .leaflet-containerinput[type="reset"], input[type="submit"], .leaflet-container, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, blockquote, th, td, a, p, ul, li, div, .introduce .introduce-title span, .text-box span, .text-box p
  font-family: "Noto Sans TC", sans-serif


.row.display-initial
  display: block
//display: initial
//flex-wrap: unset

h4
  font-size: 20px
  font-weight: bold

button
  outline: none !important
  -webkit-tap-highlight-color: transparent

form.form-listing .inner-box .browse .upload span
  background-color: #f25b22

.float-right
  float: right

.float-left
  float: left

.clear
  clear: both

.flat-imagebox
  background-color: #f1f1f1
  padding: 100px 0 120px

.go-top
  background-color: #F26422

  &:hover
    background-color: #9c0b0e

.btn-menu:before
  -webkit-transform: translate3d(0, -9px, 0)
  transform: translate3d(0, -9px, 0)

.btn-menu:after
  -webkit-transform: translate3d(0, 9px, 0)
  transform: translate3d(0, 9px, 0)

.btn-more a
  background-color: #F26422

  &:visited
    background-color: #F26422

  &:hover
    background-color: #9c0b0e

  &:before
    //background: #F26422
    background: #cccccc

.loading-effect-2 > span, .loading-effect-2 > span:before, .loading-effect-2 > span:after
  border: 2px solid #f25b22

a
  color: #999999

  &:hover
    color: #F26422

.page-title
  ul.breadcrumbs
    li
      font-size: 18px
      letter-spacing: 2px

      span
        display: inline-block
        font-size: 18px
        letter-spacing: 2px

  .page-title-heading
    span
      display: inline-block

.wrap-error .btn-more a:not(:hover)
  color: #ffffff


.map_store_id, .update-map
  height: 300px !important
  text-align: center

  .map_btn
    position: absolute
    width: 200px
    left: 50%
    bottom: 26px
    padding: 5px 10px
    margin-left: -100px
    border-radius: 50px
    z-index: 500
    background-color: #f25b22
    color: #fff
    font-size: 18px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)

    &:hover
      background-color: #CC2426

.loader
  border: 2px solid #f3f3f3
  /* Light grey */
  border-top: 2px solid #E02020
  /* animation */
  border-radius: 50%
  width: 20px
  height: 20px
  animation: spin 1s linear infinite

/* Safari */
@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)


.overlay_load
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 100%
  background: rgba(255, 255, 255, 0.7)
  z-index: 10000

  .loadingio, .loadingio2
    position: absolute
    top: 50%
    left: 50%
    margin-top: -25px
    margin-left: -25px

@keyframes pulse_animation
  0%
    box-shadow: 0 0 0 0 rgba(255, 156, 80, 0.6)
  100%
    box-shadow: 0 0 0 200px rgba(255, 156, 80, 0)

#pulse-wrapper #pulse
  margin: auto

#pulse-wrapper #pulse span
  position: absolute
  margin-top: -25px
  /* = height / 2 */
  margin-left: -25px
  /* = width / 2 */
  width: 50px
  height: 50px
  border-radius: 50%
  background: #ff9c56
  animation: pulse_animation 1.3s infinite

#pulse-wrapper #pulse span:nth-child(2)
  animation-delay: 0.3s
/* Start the second wave with some delay */


// header component
#logo
  margin-top: 32px

.header
  background-color: #F26422
  background-image: url("/media/bg_top.svg")
  background-repeat: no-repeat
  background-position: top right
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25)

  .nav-wrap a
    color: #fff

    &:hover
      color: #FFC332
    font-weight: 400
    font-size: 18px
    letter-spacing: 2px

  .wrap-box-search
    display: inline-block
    background-color: rgba(255, 255, 255, 0)
    margin-top: 0

    form > span > span
      z-index: 1

    a
      display: inline-block
      position: absolute
      right: 30px
      top: 15px

      &.search-pin-icon:active
        .loader
          opacity: 1

  .wrap-box-search.style2 form > span
    width: 300px
    top: 19px
    margin-top: 0px

    input
      background-color: #ffffff
      border: 0px
      padding: 0px 40px
      color: #666666
      font-size: 14px
      letter-spacing: 1px
      font-weight: 400

    input::-webkit-input-placeholder
      color: #999999

    input::-moz-placeholder
      color: #999999

    input::-moz-placeholder
      color: #999999

    input:-ms-input-placeholder
      color: #999999

    > span
      right: auto
      left: 30px
      color: #999999

  &.downscrolled
    background-color: #F26422

  .show-search
    display: none

#mainnav
  ul
    li
      img
        display: none


// footer component
footer
  background-color: #f1f1f1
  border-top: 1px solid rgba(179, 179, 179, 0.58)
  padding: 40px 0 30px

  .widget-about
    p
      color: #555555
      font-size: 14px
      letter-spacing: 2px

    .logo-ft
      a
        line-height: 0px

.footer-bottom
  background-color: #f1f1f1
  border-top: none
  text-align: center
  padding: 0 80px 40px 80px

  .copyright
    display: inline-block
    color: #555555
    font-size: 14px
    letter-spacing: 2px
    float: none

  .item
    display: inline-block
    margin-left: 60px

    img
      display: inline-block
      margin-right: 6px

    a
      color: #555555

      &:hover
        color: #CC2426

      &.link-contact
        display: inline-block
        padding: 8px 15px
        color: #CC2426
        background-color: #FFFFFF
        border: 1px solid rgba(204, 36, 38, 0)

        &:hover
          border-color: rgba(204, 36, 38, 0.5)

      img
        margin: 0 0 0 5px

  .clear
    clear: both


// slider
.tp-banner
  position: relative

  .slider
    margin: 0 auto

    .slide_viewer
      height: 650px
      overflow: hidden
      position: relative

    .slide_group
      height: 100%
      width: 100%
      position: relative

    .slide
      position: absolute
      display: none
      height: 100%
      width: 100%
      background-size: cover
      background-position: center center

    .slide:first-child
      display: block

    .slide_shop
      /* background-image: url("never-loaded.jpg"); */
      /* background-image: url("bad.webp"); */

      &.web
        background-image: url("/media/205c0dec-e001-4477-b383-1a54d2570964@710x470.webp")

      &.no-webp
        background-image: url("/media/臺南市.jpg")

    .slide_content
      position: relative
      text-align: center
      padding: 250px 90px
      z-index: 1

      .page-title-heading
        font-size: 46px
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
        letter-spacing: 5px
        font-weight: 500
        margin-bottom: 30px
        line-height: 60px
        color: #ffffff

      a.text-heading
        display: inline-block
        padding: 12px 35px
        font-size: 24px
        letter-spacing: 2px
        font-weight: 400
        border: 1px solid #ffffff
        color: #fff

        &:hover
          background-color: rgba(242, 91, 34, 0.9)
          border-color: transparent

    .mask
      position: absolute
      background-color: rgba(0, 0, 0, 0.5)
      top: 0
      bottom: 0
      left: 0
      right: 0


  .slide_buttons
    position: absolute
    left: 0
    right: 0
    text-align: center
    bottom: 20px

  a.slide_btn
    color: #ffffff
    font-size: 60px
    //margin: 0 0.175em
    -webkit-transition: all 0.4s ease-in-out
    -moz-transition: all 0.4s ease-in-out
    -ms-transition: all 0.4s ease-in-out
    -o-transition: all 0.4s ease-in-out
    transition: all 0.4s ease-in-out

  .slide_btn.active, .slide_btn:hover
    color: #f25b22
    cursor: pointer

  .directional_nav
    position: absolute
    width: 100%
    height: 50px
    top: 50%
    margin-top: -25px

  .previous_btn
    bottom: 0
    left: 50px
    margin: auto
    position: absolute
    top: 0

  .next_btn
    bottom: 0
    margin: auto
    position: absolute
    right: 50px
    top: 0

  .previous_btn, .next_btn
    cursor: pointer
    opacity: 0.5
    -webkit-transition: opacity 0.4s ease-in-out
    -moz-transition: opacity 0.4s ease-in-out
    -ms-transition: opacity 0.4s ease-in-out
    -o-transition: opacity 0.4s ease-in-out
    transition: opacity 0.4s ease-in-out

  .previous_btn:hover, .next_btn:hover
    opacity: 1


// store_id
.discount-type-border
  border: 1px solid #2c3e50
  color: #2c3e50
  font-size: 18px
  padding: 0 10px
  border-radius: 5px

// store/create
.upload-images
  padding: 0 30px


  img
    width: 100px
    height: 100px


.store-discount-content
  width: calc(100% - 50px)

.wrap-listing
  label
    display: flex

.swal2-styled.swal2-confirm
  background-color: #f25b22 !important
  border-left-color: #f25b22 !important
  border-right-color: #f25b22 !important

.pdmap .overlay
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 1100
  background: rgba(86, 41, 21, 0.4)

  .map_btn
    display: inline-block
    outline: none
    top: 50%
    margin-top: -20px
    bottom: auto

// index
.page-title
  &.style2 .page-title-heading
    font-size: 46px
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    letter-spacing: 5px
    font-weight: 500

  //.page-title-heading
  //  font-family: 'Noto Sans', sans-serif

  &.style2 a.text-heading
    display: inline-block
    padding: 12px 35px
    font-size: 24px
    letter-spacing: 2px
    font-weight: 400
    border: 1px solid #ffffff
    color: #fff

    &:hover
      //background: #FFFFFF
      //color: #F25B22
      background: rgba(242, 91, 34, 0.5)

.page-title.style2
  padding: 200px 0 294px


.flat-highlights
  background-color: #281224
  background-image: url("/media/bg_dark_mobile.svg")
  background-repeat: no-repeat
  background-position: bottom left

  .highlights
    ul.menu-list
      li
        min-height: 158px
        padding: 30px 0 27px

        a
          position: absolute
          width: 100%
          left: 0
          color: #FFFFFF
          font-size: 18px
          letter-spacing: 2px

          span
            margin-top: 10px
            font-size: 14px
            line-height: 18px

          img
            width: 50px
            padding-bottom: 0

        .index_icon
          filter: invert(100%) sepia(2%) saturate(7495%) hue-rotate(319deg) brightness(101%) contrast(108%)

        svg
          color: #FFFFFF

        &:hover
          a
            color: #ffc332

          svg
            color: #ffc332

          .index_icon
            filter: invert(85%) sepia(39%) saturate(2917%) hue-rotate(333deg) brightness(111%) contrast(101%)

        &:after
          background-color: #ffc332


.flat-imagebox
  .flat-row-title
    margin-bottom: 60px

    h2
      font-size: 32px
      color: #000000
      letter-spacing: 3px
      margin-bottom: 24px

    p
      font-size: 22px
      color: #000000
      letter-spacing: 2px
      font-weight: 400

.container
  max-width: 1348px

.imagebox.style5
  background-color: #FFFFFF
  height: 200px

  .box-image
    display: block
    width: 100%
    height: 100%
    border-radius: 0
    background-repeat: no-repeat
    background-position: bottom right
    //background-color: #FFFFFF
    background-color: transparent
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.08)

    a.link
      position: absolute
      width: 100%
      height: 100%
      z-index: 100

    .overlay
      background: rgba(204, 36, 38, 1)

      span
        position: absolute
        display: inline-block
        width: 90%
        height: 90%
        border: 1px solid #ffffff
        left: 5%
        top: 5%

  &.link-activity
    height: 420px

    .box-image
      background-image: url("/media/home-link-activity-bg.svg")
      background-position: bottom center

      .overlay
        background: rgba(204, 36, 38, 0.8)

    .box-content
      a
        font-size: 30px

  .box-content
    a
      color: #333333
      font-size: 26px
      letter-spacing: 3px
      margin-bottom: 12px

      &:hover
        color: #FFFFFF

    p
      color: #333333
      font-size: 18px
      letter-spacing: 2px
      font-weight: 400

    img.bg
      display: inline-block
      position: absolute
      right: 0
      top: 30px
      z-index: -1

    img.arrow
      margin-top: 15px
  //margin-left: -20px
  &:hover
    a
      color: #FFFFFF

    p
      color: #FFFFFF

    img.bg
      opacity: 0.2

// ELI5 & QA
.parallax-200
  //background-color: #281224
  background-color: #392D2C
  background-image: url("/media/bg_dark.svg")
  background-repeat: no-repeat
  //background-position: bottom left
  background-position: 100% 0 !important
  background-size: auto

.page-title-heading
  font-size: 36px
  letter-spacing: 4px
  margin-bottom: 0

.introduce .introduce-title span
  color: #888888
  opacity: 0.2

  &.county
    //font-size: 80px
    font-size: 60px
    line-height: 30px

.flat-introduce
  background: #f1f1f1

  .row.eli5_list
    margin-bottom: 120px

    .divider
      border-top: 1px solid #e0e0e0
      padding-top: 60px
      padding-bottom: 20px

  .row:nth-child(3) .introduce .introduce-title h3
    margin: 20px 0 24px

  .introduce-header
    border-bottom: 1px solid #e0e0e0
    padding: 10px 0 75px

    a.tab
      display: inline-block
      padding: 6px 18px
      margin: 0 10px 20px
      font-size: 16px
      font-weight: 400
      letter-spacing: 2px
      color: #f25b22
      border: 1px solid #f25b22
      border-radius: 50px
      cursor: pointer

      &:hover, &.active
        background-color: #f25b22
        color: #ffffff

      &.tab:first-child
        margin-left: 0

  .d-flex
    margin-bottom: 50px

  .introduce

    .introduce-title
      h3
        margin: 20px 0 24px
        font-size: 28px
        letter-spacing: 2px
        line-height: 45px

    .introduce-content
      display: inline-block
      font-size: 16px
      letter-spacing: 1px
      font-weight: 400
      width: 100%

      p
        display: block
        margin-bottom: 10px

        &.county
          max-width: 90%

        a
          display: inline-block
          margin: 0 2px
          color: #f25b22
          border-bottom: 1px solid rgba(242, 92, 34, 0)

          &:hover
            border-bottom: 1px solid #f25b22


      .para
        margin-bottom: 30px

      .indent
        padding-left: 20px

      ul
        margin-bottom: 10px

        li
          position: relative
          padding-left: 20px

          &:before
            content: "◆"
            position: absolute
            display: inline-block
            left: 0
            padding-right: 5px
            color: #666666
            font-size: 13px

      .highlight
        display: inline-block
        padding: 0 8px
        background-color: #aaaaaa
        color: #fff
        font-weight: 400
        border-radius: 6px

      a.more-info
        border: 1px solid #f25b22
        padding: 3px 10px
        color: #f25b22
        border-radius: 6px
        margin-top: -46px
        margin-bottom: 50px

        &:hover
          background-color: #f25b22
          color: #ffffff


  .introduc-footer
    border-top: 1px solid #e0e0e0

  .pa-top-120
    padding-top: 122px !important

  .margintop-255
    margin-top: -200px


// store
.wrap-box-search.style1
  span
    input
      color: #666666
      font-size: 16px
      letter-spacing: 1px
      font-weight: 400

    input::-webkit-input-placeholder
      color: #999999
      font-weight: 300

    input::-moz-placeholder
      color: #999999

    input::-moz-placeholder
      color: #999999

    input:-ms-input-placeholder
      color: #999999
  //> span
  //  right: auto
  //  left: 30px
  //  color: #999999
  form

    > span
      &.search-span
        a
          right: 25px

      > span
        color: #999999

      .ti-location-pin
        left: 22px
        font-size: 18px

      input
        font-size: 16px
        letter-spacing: 1px
        padding: 8px 30px 8px 50px

      select
        font-size: 16px
        letter-spacing: 1px
        padding: 8px 30px


.flat-imagebox
  .filter
    padding-bottom: 15px

    .filter-title
      h5
        font-size: 18px
        letter-spacing: 3px

    .select-filter
      ul.list-filter
        li
          font-size: 16px
          letter-spacing: 2px
          color: #999999

          &.active
            color: #666666

  .filter-result
    //border-top: 1px solid #e0e0e0
    border-top: none

    &.style2
      padding: 30px 0 0

    .result
      font-size: 18px
      letter-spacing: 3px

    .sort, .activity
      padding-top: 20px
      margin-bottom: 20px

      &::after
        content: ""
        clear: both


      > a
        display: inline-block
        font-size: 14px
        font-weight: 400
        color: #f25b22
        border: 1px solid rgba(242, 91, 34, 0.5)
        border-right: none
        //border-radius: 50px
        padding: 2px 15px
        //margin-right: 3px
        margin-bottom: 25px
        float: left

        &:hover, &.active
          color: #ffffff
          //background-color: #999999
          background-color: #f25b22
          border-color: #f25b22

        &:first-child
          border-radius: 50px 0 0 50px
          border-left: 1px solid rgba(242, 91, 34, 0.5)

        &:last-child
          border-radius: 0 50px 50px 0
          border-right: 1px solid rgba(242, 91, 34, 0.5)

        &.tag
          margin-right: 15px
          margin-bottom: 15px
          border-radius: 50px
          border-right: 1px solid rgba(242, 91, 34, 0.5)


    .link-map
      font-size: 18px !important
      letter-spacing: 3px
      font-weight: 400
      margin-right: 0 !important

      &:after
        clear: both

    ul.arrange
      li.active
        color: #f15521

  .ma-0px
    margin-left: -15px !important
    margin-right: -15px !important

.wrap-box-search form button
  &:before
    background-color: #F26422

  &:visited
    background-color: #F26422

  &:hover
    background-color: #9c0b0e

.imagebox
  .box-imagebox
    border-radius: 0
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.08)

    .link_block
      position: relative

      .box-header
        .box-image
          position: relative
          width: 100%
          height: 350px
          overflow: hidden
          background: #fff

          img
            position: absolute
            width: 100%
            height: 350px
            object-fit: cover

      a.link
        position: absolute
        display: inline-block
        width: 100%
        height: 100%
        z-index: 10

      .box-header
        .box-image
          a:hover
            color: #ffffff

          &:after
            background-color: rgba(204, 36, 38, 0.8)
            border-radius: 0

      .box-content
        padding: 30px 25px 18px
        min-height: 200px

        .box-title.ad
          a
            padding-left: 0
            font-size: 26px
            letter-spacing: 2px
            color: #333333

        ul.rating
          li
            color: #aaaaaa
            font-weight: 400
            font-size: 16px
            vertical-align: middle
            letter-spacing: 1px

            img
              display: inline-block
              vertical-align: middle

            span
              display: inline-block
              vertical-align: middle

        .box-desc
          font-size: 16px
          font-weight: 400
          letter-spacing: 2px
          color: #aaaaaa
          margin-top: 15px

          .sale-list
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            width: 100%

            &:before
              content: "-"

    .imagebox_bottom
      border-top: 1px solid #ebebeb

      p.tag_block
        display: inline-block
        float: left
        width: 83%
        height: 60px
        padding: 16px 40px 15px 25px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        color: #f25b22
        //&:after
        //  content: "..."
        //  color: #f25b22
        //  font-size: 27px
        //  display: inline-block
        //  position: absolute
        //  margin-top: -6px
        //  margin-left: 10px

        span.tag
          display: inline-block
          margin-bottom: 20px

          a
            border: 1px solid rgb(242, 91, 34, .5)
            padding: 2px 15px
            border-radius: 6px
            margin-right: 8px
            color: #f25b22

            &:hover
              background: #f25b22
              color: #ffffff
              font-weight: 400

      .right
        position: relative
        display: block
        text-align: right
        float: right

        a
          display: inline-block
          padding-right: 25px
          font-weight: 400
          color: rgba(204, 36, 38, 0.7)

          &:hover
            color: rgba(204, 36, 38, 1)

        input[type="checkbox"]
          display: none


        .checkbox:checked ~ .social
          opacity: 1
          transform: scale(1) translateY(-90px)

        .label
          cursor: pointer
          display: inline-block
          padding: 20px 25px 20px 0px
          font-weight: 400
          color: rgba(204, 36, 38, 0.7)
          background-color: #fff
          font-size: 16px

        .social
          position: absolute
          right: 10px
          transform-origin: 90% 0
          transform: scale(0) translateY(-190px)
          opacity: 0
          transition: .5s
          z-index: 1000

        ul
          position: relative
          left: 0
          right: 0
          margin: -15px auto 0
          color: #fff
          height: 46px
          width: 180px
          background: #f26423
          padding: 0
          list-style: none

          &:after
            content: ''
            display: block
            position: absolute
            left: 120px
            right: 0
            margin: 46px auto
            height: 0
            width: 0
            border-left: 20px solid transparent
            border-right: 20px solid transparent
            border-top: 20px solid #f26423

          li
            font-size: 20px
            cursor: pointer
            width: 60px
            margin: 0
            padding: 9px 0
            text-align: center
            float: left
            display: block
            height: 46px
            opacity: 0.95

            &:hover
              opacity: 1

            &[class*="line"]
              background: #00BE00

            &[class*="facebook"]
              background: #315A9D

            &[class*="url"]
              background: #f26423

              img
                width: 30px

            img
              width: 25px


// store-county
.store_county
  .imagebox
    .box-imagebox
      .box-content
        min-height: auto
        text-align: center

// store-map

.row.display-block
  display: block

.flat-map-zoom-in
  .wrap-box-search
    background: transparent

    &.style2
      form > span
        width: 50%

        input, select
          color: #666666
          font-size: 14px
          letter-spacing: 1px
          font-weight: 400
          background-color: rgba(255, 255, 255, 0.5)
          padding: 0 42px 0 33px
        //margin-bottom: 35px
        input::-webkit-input-placeholder, select::-webkit-input-placeholder
          color: #999999 !important

        input::-moz-placeholder, select::-moz-placeholder
          color: #999999

        input::-moz-placeholder, select::-moz-placeholder
          color: #999999

        input:-ms-input-placeholder, select:-ms-input-placeholder
          color: #999999

        &.width-100
          width: 100%

        button
          width: 100%
          margin-top: 10px

      .ti-location-pin
        left: 30px
        width: 20px

      .search-pin-load
        position: absolute
        right: 35px
        top: 14px


  .flat-filter
    //padding: 30px 20px 80px 20px
    padding: 8px 20px 37px 20px

  .store-box-block .imagebox .box-imagebox
    ul.tag_block
      height: auto

      li.right
        display: block
        float: none
        text-align: right


#map
  position: relative
  height: 1200px

  .lpi-1592630594977-98115
    background-color: #f25b22 !important
    border: 2px solid #fda73d

    &:after
      box-shadow: 0 0 6px 2px #fda73d

  .leaflet-popup-content
    text-align: center

    > div
      font-size: 18px

    ul
      font-size: 12px
      line-height: 22px
      padding-bottom: 5px
      color: #aaaaaa
      font-weight: 400
      vertical-align: middle
      letter-spacing: 1px
      margin-bottom: 5px

    button, input[type="button"], input[type="reset"], input[type="submit"]
      background: #f25b22
      border-radius: 50px
      line-height: 36px
      height: 36px


.margintop-200
  margin-top: -210px

.store-box-block
  //height: 828px
  height: 861px
  overflow: scroll
  padding-bottom: 80px

.flat-imagebox.style3.padding-0
  padding: 0


// store-id
.header_sticky
  .flat-title
    padding: 40px 0 50px

    .title-left
      .box-title
        margin-bottom: 12px

        a
          padding-left: 0
          font-size: 46px
          letter-spacing: 3px
          color: #333333

      ul.box-address
        li
          font-size: 16px
          letter-spacing: 2px
          color: #666666

          &.phone
            margin-bottom: 12px

          &.address
            margin-bＦottom: 0px

    ul.social-ft
      text-align: right
      margin-top: 100px

      li
        display: inline-block

        a
          display: inline-block
          width: 50px
          height: 50px
          padding: 9px
          border-radius: 50px
          background-color: #CCCCCC
          text-align: center
          margin-left: 15px

          &.share-fb:hover
            background-color: #315A9D

          &.share-line:hover
            background-color: #00BE00

          &.share-url:hover
            background-color: #f25b22

  .flat-explore-detail
    padding: 50px 0 120px

    .col-md-8
      padding-right: 50px

      .text-box
        padding-top: 36px
        border-top: 1px solid #cccccc

        &:first-child
          padding-top: 0
          border-top: none

        span
          display: inline-block
          vertical-align: middle

          &.discount-type-border
            padding: 2px 15px
            border-radius: 6px
            background-color: #f25b22
            color: #ffffff
            border: 0
            font-size: 14px
            margin-top: 4px
            margin-right: 8px

        .text-desc
          p
            font-size: 18px
            letter-spacing: 2px
            color: #999999
            font-weight: 400
            line-height: 32px

        .text-box-img
          position: relative
          display: block
          width: 100%
          height: auto
          margin: 10px 0

    .sidebar
      background-color: #ffffff
      box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.08)

      .box
        box-shadow: none

        &.contact-box
          padding: 40px 40px 40px

        ul.contact-list
          li
            font-size: 16px
            color: #999999
            font-weight: 400

            i
              vertical-align: middle

            a
              font-size: 16px
              color: #999999
              font-weight: 400
              width: 90%
              display: inline-block
              overflow: hidden
              text-overflow: ellipsis
              vertical-align: middle

              &:active, &:hover
                color: #f25b22


// create
.flat-listing
  background: #f1f1f1
  padding: 80px 0 120px

form.form-listing
  .inner-box
    border-radius: 0
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.08)
    padding: 50px 75px

    label
      color: #333333
      letter-spacing: 2px
      margin-bottom: 10px

    select
      border-color: #CCCCCC
      border-radius: 5px
      color: #666666
      font-weight: 400

    .ti-angle-down
      color: #999999

    input, textarea
      color: #666666
      font-size: 14px
      letter-spacing: 1px
      font-weight: 400
      margin-bottom: 35px

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder
      color: #999999 !important

    input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder
      color: #999999

    input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder
      color: #999999

    input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder
      color: #999999

    .wrap-listing
      position: relative

    label.error
      position: absolute
      bottom: 0
      right: 0
      color: #f26423
      font-size: 14px

    .wrap-listing.your-email, .wrap-listing.phone, .one-half:first-child, .one-half
      padding-right: 20px

      label.error
        right: 20px

    .wrap-listing.your-name, .wrap-listing.website, .one-half:nth-child(2), .one-half-right
      padding-left: 20px
      padding-right: 0

    .submit-form-listing
      background: #ffffff
      border-radius: 50px
      color: #f26423
      border: 2px solid rgba(242, 100, 35, 0.5)
      letter-spacing: 2px

      &:hover
        background: #f26423 !important
        color: #ffffff

    .wrap-listing.location
      width: 100%

      input
        display: inline-block
        width: 90%

      a.enter
        display: inline-block
        width: 9%
        float: right
        background-color: #f26423
        border-radius: 6px
        padding: 13px
        color: #fff
        text-align: center
        font-size: 16px
        font-weight: 400

        &:hover
          background-color: #9c0b0e

      a.map
        position: absolute
        color: #E02020
        right: 12%
        top: 46px

      a.search-pin-load
        position: absolute
        top: 47px
        right: 12%


    .browse
      background-color: #FBFBFB
      border: 2px dashed #cccccc
      padding: 45px 15px

      .imgbox
        padding: 0 20px
        margin-bottom: 35px

        i
          position: absolute
          width: 30px
          height: 30px
          right: 16px
          margin-top: -8px
          padding: 4px
          border-radius: 50px
          border: 1px solid #f26423a8
          background: #ffffffe6
          font-size: 20px
          color: #f26423


      p
        font-size: 18px

      span
        font-size: 18px

      .upload span
        background: #f26423
        height: 45px
        border-radius: 25px

    &.style3
      label
        margin-bottom: 10px

  .store-discount
    border-top: 1px solid #cccccc
    padding: 25px 0 25px

    &:first-of-type
      border-top: none
      padding: 0 0 25px

  .only-submit-form-listing
    border-radius: 50px
    background: #f26423
    color: #ffffff
    letter-spacing: 2px

    &:hover
      background: #9c0b0e

.discount_type
  position: relative

  .ti-angle-down
    position: absolute
    right: 30px
    bottom: 19px


// contact
.contact-select-border
  border-radius: 10px
  border-color: #fff
  color: #fff

.select-arrow
  position: absolute
  right: 17px
  color: white
  top: 17px

.contact-btn
  span
    color: #fff
    background-color: #2c3e50
    padding: 15px 30px
    border-radius: 30px
    font-size: 16px
    font-weight: 400
    position: relative
    z-index: 99

.flat-contact .contact-form .contact-us
  padding: 50px 100px 180px

.flat-iconbox
  background-color: #F1F1F1

  &.style2
    padding: 160px 0

  .box-desc a
    color: #333333
    font-size: 16px
    letter-spacing: 2px
    line-height: 32px

    &:hover
      color: #f25b22

  .box-header .iconbox-icon
    height: auto

.flat-contact
  background-color: #F1F1F1

  .contact-form
    float: none

    .contact-us
      h3
        color: #333333
        text-align: center
        font-size: 26px
        letter-spacing: 2px
        margin-bottom: 50px

      form
        .wrap-contact.name, .wrap-contact.email, .wrap-contact.message
          input, textarea
            border: 1px solid #CCCCCC
            background-color: rgba(255, 255, 255, 0.5)
            font-size: 14px
            letter-spacing: 1px
            font-weight: 400
            color: #666666

          textarea
            height: 200px


          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
            color: #999999

          input::-moz-placeholder, textarea::-moz-placeholder
            color: #999999

          input::-moz-placeholder, textarea::-moz-placeholder
            color: #999999

          input:-ms-input-placeholder, textarea:-ms-input-placeholder
            color: #999999

        .contact-select-border
          background-color: rgba(255, 255, 255, 0.5)
          font-size: 14px
          letter-spacing: 1px
          font-weight: 400
          color: #666666
          border-color: #CCCCCC

        .select-arrow
          color: #666666

        .btn-more
          text-align: center


.fb_dialog
  bottom: 75px !important
  right: 12px !important


//blog
article.blog-post
  min-height: auto
  position: relative

  a.link
    position: absolute
    width: 100%
    height: 100%
    z-index: 100

  .featured-post
    position: relative
    width: 100%
    height: 200px
    overflow: hidden
    padding: 0

    img
      width: 100%
      height: 200px
      object-fit: cover

    a
      span
        position: absolute
        display: block
        width: 100px
        top: 50%
        left: 50%
        text-align: center
        font-size: 24px
        color: #fff
        transform: translate(-50%, -50%) scaleX(1.5)
        z-index: 99
        -webkit-transition: all 0.4s ease-in-out
        -moz-transition: all 0.4s ease-in-out
        -ms-transition: all 0.4s ease-in-out
        -o-transition: all 0.4s ease-in-out
        transition: all 0.4s ease-in-out
        opacity: 0

      .overlay
        background: rgba(204, 36, 38, 0.8)

  &:hover
    .featured-post a span
      opacity: 1
      transform: translate(-50%, -50%) scaleX(1)

  .content-post
    padding: 0 20px 10px

    .entry-title
      display: -webkit-box
      line-height: 1.6rem
      height: 50px
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      text-overflow: ellipsis
      overflow: hidden

      a
        color: #333333

        &:hover
          color: #f25b22

    p
      position: relative
      top: 0
      left: 0
      right: 0
      width: 100%
      min-height: 72px
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      text-overflow: ellipsis
      color: #999

    ul.entry-meta
      margin-top: 20px
      padding: 6px 0 0
      border-top: 1px solid #efefef
      font-size: 13px

      li

        &.date
          float: right

        a:hover
          color: #f25b22

//blog-single
article.post-single
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.09)

  .featured-post
    position: relative
    width: 100%
    height: 500px
    overflow: hidden
    padding: 0
    margin-bottom: 0
    box-shadow: none

    img
      border-radius: 0
      width: 100%
      height: 500px
      object-fit: cover

  .entry-post
    box-shadow: none

    .entry-header
      border-bottom: 1px solid #cccccc

      h2.entry-title
        letter-spacing: 3px
        font-family: "Noto Sans TC", sans-serif
        line-height: 55px

      .entry-meta-post
        li.topic, li.date
          display: inline-block
          padding: 0 7px
          font-size: 13px
          font-family: "Noto Sans TC", sans-serif

      ul.social-ft
        margin-top: 20px

        li
          display: inline-block

          a
            display: inline-block
            width: 35px
            height: 35px
            padding: 4px 7px
            margin: 0 3px
            border-radius: 50px
            background-color: #CCCCCC
            text-align: center

            &.share-fb:hover
              background-color: #315A9D

            &.share-line:hover
              background-color: #00BE00

            &.share-url:hover
              background-color: #f25b22

    .entry-content
      text-align: left

      .paragraph
        margin-bottom: 30px

      p
        padding: 10px 0
        font-size: 16px
        letter-spacing: 1px
        font-weight: 400
        line-height: 30px

      a
        display: inline-block
        margin: 0 2px
        color: #f25b22
        border-bottom: 1px solid transparent

        &:hover
          border-color: #f25b22

      .title
        font-size: 20px
        letter-spacing: 1px
        color: #f25b22

      .title_num
        font-size: 18px
        letter-spacing: 1px
        color: #f26423

        .num
          display: inline-block
          color: #f26423
          margin-right: 5px
          font-style: italic
          font-size: 22px

      ul
        padding-left: 40px
        padding-bottom: 15px

        li
          margin-top: 20px
          font-size: 16px
          letter-spacing: 1px
          list-style-type: disc


//RWD
@media only screen and (max-width: 1650px)
  .flat-map-zoom-in
    .col-lg-6
      flex: none
      max-width: 100%

@media only screen and (max-width: 1440px)
  .footer-bottom
    .item
      margin-bottom: 20px

    .copyright
      margin-bottom: 20px

  .main-single
    padding: 25px 0 50px

  #mainnav ul.menu > li
    margin-right: 35px

@media only screen and (max-width: 1350px), screen and (max-height: 900px)

  .header

    .show-search
      display: inline-block

      > button
        color: #FFFFFF
        font-size: 24px

      .top-search
        width: 100%
        padding-left: 24px
        margin-top: 20px

      .location
        input
          background: #ffffff
          border-radius: 50px
          color: #666666
          padding: 8px 50px
          border: none
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1)

        input::-webkit-input-placeholder
          color: #999999

        input::-moz-placeholder
          color: #999999

        input::-moz-placeholder
          color: #999999

        input:-ms-input-placeholder
          color: #999999

        .ti-location-pin
          display: inline-block
          position: absolute
          z-index: 1
          margin-left: 20px
          margin-top: 14px
          font-size: 18px
          color: #999999

        a
          position: absolute
          right: 20px
          top: 10px

    .wrap-box-search
      display: none

  .wrap-box-search form
    > span
      width: 60%

      &.categories
        width: 25%

    button
      float: right

  .flat-introduce .margintop-255
    margin-top: -300px


@media only screen and (max-width: 1199px)

  .flat-highlights
    background-image: url("/media/bg_dark_tablet.svg")
  .header
    background-image: url("/media/bg_top_tablet.svg")

    .btn-menu
      span
        background-color: #FFFFFF

      &:before
        background-color: #FFFFFF

      &:after
        background-color: #FFFFFF

  #mainnav-mobi
    background-color: #1B2026

    ul
      li
        border-top: 1px solid #3F3F3F

        a
          height: 100px
          line-height: 100px
          font-size: 18px
          letter-spacing: 5px
          vertical-align: middle
          padding: 0 20px
          font-weight: 400

        img
          display: inline-block
          width: 30px
          height: auto
          margin-left: 24px

  #mainnav ul.menu > li
    margin-right: 30px

    &:last-child
      margin-right: 10px

  .parallax-200
    background-image: url("/media/bg_dark_tablet.svg")
    //background-position: 45% 50px !important
    background-position: 33% -75px !important
  //background-size: cover

  .wrap-box-search.style1
    form
      > span
        text-align: left

        .ti-location-pin
          z-index: 1
          display: inline-block
          width: 20px

        a
          top: 14px

        select
          padding: 8px 30px 8px 50px

      .categories
        .ti-angle-down
          z-index: 1
          margin-right: 12px
          margin-top: 2px

      button
        margin-top: 20px
        float: none

  .imagebox.style5
    &.link-activity
      .box-image
        background-position: 85% 20px

  form.form-listing
    .inner-box
      .wrap-listing.location
        input
          width: 80%
          float: left

        a.enter
          width: 18%

        a.map
          right: 22%
          top: 46px

        a.search-pin-load
          right: 22%

  .flat-map-zoom-in
    .container-fluid
      padding: 0

      .flat-filter
        padding-top: 45px
        padding-bottom: 20px


  .flat-map-zoom-in .wrap-box-search.style2 .ti-angle-down
    top: 17px !important
    right: 30px !important

  .md-100
    flex: none
    max-width: 50%

  .margintop-200
    margin-top: 0

  #map
    height: 500px


  .flat-imagebox .filter-result.style2
    padding: 80px 0 0

  .store-box-block
    height: auto
    padding-bottom: 150px

    .btn-more
      margin-top: 0

  .flat-map-zoom-in
    .wrap-box-search

      &.style2
        .ti-location-pin
          left: 15px
          margin-top: 1px

        .search-pin-load
          right: 28px

  .flat-introduce .introduce .introduce-content
    a.more-info
      margin-top: 0

    p
      display: block
      margin-bottom: 10px

      &.county
        max-width: 100%


@media only screen and (max-width: 991px)
  form.form-listing
    .inner-box
      label.error
        bottom: -35px

      .wrap-listing.your-email, .wrap-listing.phone, .one-half:first-child, .one-half
        padding-right: 0

        label.error
          right: 0

      .wrap-listing.your-name, .wrap-listing.website, .one-half:nth-child(2), .one-half-right
        padding-left: 0

      .submit-form-listing
        &:hover
          background: #ffffff !important
          color: #f26423
          border: 2px solid rgba(242, 100, 35, 0.5)

    .only-submit-form-listing
      background: #9c0b0e

  .header_sticky
    .flat-explore-detail
      .col-md-8, .col-md-4
        max-width: 100%
        flex: 0 0 100%
        padding-right: 12px

  .flat-imagebox
    &.style5
      .col-md-6
        max-width: 100%
        flex: 0 0 100%
        //flex: none

        .imagebox.style5.link-activity .box-image
          background-position: bottom left
          background-size: cover

      .col-md-3
        max-width: 50%
        flex: 0 0 50%

  .page-title.style2
    a.text-heading
      background-color: rgba(242, 91, 34, 0.9)
      border: none

  .imagebox .box-imagebox .link_block .box-header .box-image:after, .imagebox:hover .box-header .box-image a
    opacity: 0

  .md-100
    flex: none
    max-width: 100%

  article.blog-post .featured-post
    height: 300px

    img
      height: 300px

  article.post-single .entry-post .entry-content
    padding: 0 30px

  .flat-highlights
    .highlights
      padding: 24px 0

      ul.menu-list
        li
          min-height: 110px
          padding: 5px 0

          a
            img
              width: 45px

            span
              font-size: 14px

@media only screen and (max-height: 900px)
  #logo
    margin-top: 12px
    margin-bottom: 5px
  .header
    .show-search
      display: inline-block

      > button
        margin: 12px 0

      .top-search
        margin-top: 0

    .wrap-box-search
      display: none

      a
        top: 8px

      .style2 form
        > span
          top: 12px

          > span
            top: 10px

          input
            height: 35px

  #mainnav ul.menu > li > a
    line-height: 58px

  .btn-menu
    top: 15px

  .page-title.style1
    padding: 0 0 25px

  .wrap-box-search
    form button
      height: 36px
      line-height: 36px
      padding: 0 36px

    &.style1
      padding: 10px 10px

      form
        > span
          .ti-location-pin
            top: 6px

          &.search-span a
            top: 5px

          &.categories span
            top: 8px

          input
            height: 30px

          select
            height: 30px
            padding: 0 30px

  .tp-banner .slider
    .slide_viewer
      height: 600px

    .slide_content
      padding: 230px 90px

  .flat-highlights
    .highlights
      ul.menu-list
        li
          min-height: 120px
          padding: 12px 0

          a
            img
              width: 45px

            span
              font-size: 14px


  .flat-imagebox
    &.store-list
      padding: 0 0 90px

    .filter-result
      .result
        margin-right: 20px
        padding: 5px 0

      .sort, .activity
        padding-top: 0

  .filter-result
    &.style2
      margin-bottom: 15px
      padding: 20px 0 0

  .clear-non-md
    clear: none

  .flat-map-zoom-in .wrap-box-search.style2 form > span button
    height: 50px

  //.store-box-block
  //  height: 871px

  .wrap-box-search.style1
    form
      > span
        input
          height: 40px

        &.search-span a
          top: 10px

        .ti-location-pin
          top: 11px !important

        select
          height: 40px

        &.categories span
          top: 11px !important

      button
        margin-top: 5px
        float: none

  .flat-imagebox .filter-result.style2
    padding: 30px 0 0


@media only screen and (max-height: 800px)
  .tp-banner
    .slider
      .slide_viewer
        height: 500px

      .slide_content
        padding: 170px 90px


@media only screen and (max-height: 690px)
  .tp-banner
    .slider
      .slide_viewer
        height: 400px

      .slide_content
        padding: 130px 90px

  .flat-introduce
    padding: 40px 0 80px

    .introduce-header
      padding: 10px 0 35px

  .flat-listing
    padding: 25px 0 120px

  button.only-submit-form-listing
    width: 450px
    height: 65px
    line-height: 65px
    left: 50%
    margin-left: -225px

  article.blog-post .featured-post
    height: 200px

    img
      height: 200px


@media only screen and (max-width: 1199px) and (min-width: 768px)
  .flat-map-zoom-in .col-lg-6
    max-width: 50%

@media only screen and (max-width: 767px)

  #logo
    margin-top: 19px

  .show-search
    > button
      margin: 20px 0 20px !important

  .btn-menu
    top: 22px

  .wrap-box-search
    padding: 20px 0
    margin-bottom: 30px

    &.style1 form > span input
      padding: 8px 55px 8px 50px

    form button
      float: none

  .parallax-200
    background-image: url("/media/bg_dark_mobile_2.svg")
    background-position: 33% -102px !important
    background-size: cover

  .parallax-search
    padding: 0 !important

  .flat-imagebox

    &.store-list
      padding-top: 0

    .filter-result
      &.style2
        padding-top: 50px

      .sort
        padding-top: 39px

      .sort a, .activity a
        font-size: 13px
        padding: 2px 12px

      .link-map
        padding-top: 5px

  .flat-highlights
    background-image: url("/media/bg_dark_mobile_2.svg")

    .col-md-12
      padding-right: 0
      padding-left: 0

  .header
    background-image: url("/media/bg_top_mobile.svg")
  .flat-imagebox.style5
    .col-md-6 .imagebox.style5
      &.link-activity
        .box-image
          background-position: 96% 20px

    .col-md-3
      max-width: 100%

      .box-image
        .overlay
          opacity: 1

          span
            width: 92%
            left: 4%

      .box-content
        a
          color: #FFFFFF

        p
          color: #FFFFFF

        img.bg
          opacity: 0.2


  .footer-bottom
    padding: 0 24px 40px 24px

    .item
      display: block
      margin: 0 0 15px

    .copyright
      display: block
      margin: 0 0 15px
  .col-md-6 .imagebox
    .box-imagebox
      ul.tag_block
        li.tag
          a
            background: rgb(242, 91, 34, .8)
            color: #ffffff
            font-weight: 400
            border: 1px solid rgba(255, 255, 255, 0)

  .tp-banner
    .slider
      .slide_content
        padding: 135px 20px

        .page-title-heading
          font-size: 36px
          line-height: 55px

        a.text-heading
          background-color: rgba(242, 91, 34, 0.9)
          border: none
          padding: 8px 18px
          font-size: 20px
          line-height: 30px

      .slide_viewer
        height: 550px

      .slide_viewer_store
        height: 400px

    .directional_nav
      top: -64px

    .directional_nav_store
      top: -220px

    .previous_btn
      left: 20px

      img
        width: 14px

    .next_btn
      right: 20px

      img
        width: 14px

  .flat-highlights .highlights ul.menu-list li
    &:hover
      a
        color: #ffffff

      svg
        color: #ffffff

      .index_icon
        filter: invert(100%) sepia(2%) saturate(7495%) hue-rotate(319deg) brightness(101%) contrast(108%)

    &:after
      width: 0

  .header_sticky
    .flat-explore-detail
      #map
        height: 200px !important

    .flat-title ul.social-ft
      text-align: left
      margin-top: 20px

      li a
        margin-left: 0
        margin-right: 15px

        &.share-fb
          background-color: #315A9D

        &.share-line
          background-color: #00BE00

        &.share-url
          background-color: #f25b22

  .flat-iconbox
    &.style2
      padding: 80px 0

      .iconbox.style2
        margin-bottom: 60px

  .flat-contact .contact-form .contact-us
    padding: 0 50px 120px

  .flat-listing
    padding-top: 25px

    form.form-listing
      .inner-box
        padding: 30px 25px
        //padding-top: 30px
        button.submit-form-listing
          height: 60px
          line-height: 60px

      .wrap-listing.location
        input
          width: 100%
          float: left

        a.enter
          width: 100%
          margin-bottom: 10px

        a.map
          right: 5%
          top: 46px

        a.search-pin-load
          right: 6%

      button.only-submit-form-listing
        height: 60px
        line-height: 60px

  .flat-map-zoom-in .container-fluid .flat-filter
    padding: 45px 25px 30px

  .flat-map-zoom-in .wrap-box-search.style2 form > span button
    margin-top: 0

  #map
    height: 300px


  .page-title.style2
    padding: 165px 0

    a.text-heading
      background-color: rgba(242, 91, 34, 0.9)
      border: none
      font-size: 22px
      padding: 8px 33px

    .page-title-heading
      margin-bottom: 30px
      font-size: 35px
      font-weight: bold
      line-height: 52px

    &.parallax1
      background-position: 50% 0 !important
      background-size: initial
      height: 530px

  .flat-introduce
    .introduce-image
      margin-top: 20px

  .imagebox .box-imagebox
    ul.tag_block
      height: auto

      li.right
        display: block
        float: none
        text-align: right

    .box-content ul.rating li
      font-size: 14px
      margin-bottom: 5px
      padding-right: 12px
      margin-right: 8px

  .flat-introduce
    .pa-top-120
      padding-top: 20px !important

    .margintop-255
      margin-top: 20px

  .map_store_id .map_btn
    margin-bottom: 15px
    width: 170px
    margin-left: -85px
    font-size: 15px
    padding: 6px 10px

  button.only-submit-form-listing
    width: 100%
    height: 65px
    line-height: 65px
    left: auto
    margin-left: auto

  .mb-50px
    margin-bottom: 0 !important

  .flat-introduce .introduce .introduce-content a.more-info
    margin-right: 7px


  .main-single
    padding: 0 0 50px

    .container
      padding: 0

  article.post-single
    box-shadow: none

    .featured-post
      height: 350px

      img
        height: 350px

    .entry-header ul.social-ft li a

      &.share-fb
        background-color: #315A9D

      &.share-line
        background-color: #00BE00

      &.share-url
        background-color: #f25b22

    .entry-post
      .entry-header h2.entry-title
        font-size: 36px
        line-height: 50px


  article.blog-post
    .overlay
      display: none

    &:hover
      .featured-post a span
        opacity: 0

//.entry-content
//  padding: 0 15px


@media only screen and (max-width: 600px)
  .imagebox.style5
    &.item
      .box-image
        .overlay
          span
            width: 94%
            left: 3%

  .parallax-200
    background-image: url("/media/bg_dark_mobile_3.svg")
    background-position: bottom center !important

  article.post-single
    .featured-post
      height: 250px

      img
        height: 250px


@media only screen and (max-width: 320px)
  .flat-imagebox .filter-result
    .result
      font-size: 17px
      letter-spacing: 2px

    .link-map
      font-size: 16px !important
      letter-spacing: 2px

    .sort a, .activity a
      font-size: 12px
      padding: 1px 9px

  .imagebox
    margin-bottom: 0

    .box-imagebox .imagebox_bottom p.tag_block
      width: 79%
      padding: 16px 30px 15px 25px

  .show-search
    margin-left: 15px

  .flat-contact .contact-form .contact-us
    padding: 0 30px 120px

  .flat-introduce .introduce-header
    padding: 10px 0 40px


// swal component
button.swal2-confirm
  line-height: 100%

// search
.search-span
  position: relative

  a
    position: absolute
    top: 10px
    right: 5px

  .ti-location-pin
    left: 10px
    right: unset