@import "tool"
@import "base"
@import "vender"

// store_id
.discount-type-border
  border: 1px solid #2c3e50
  color: #2c3e50
  font-size: 18px
  padding: 0px 10px
  border-radius: 5px

// store/create
.upload-images
  padding: 0px 30px


  img
    width: 100px
    height: 100px


.store-discount-content
  width: calc(100% - 50px)

// contact
.contact-select-border
  border-radius: 10px
  border-color: #fff
  color: #fff
